@padding-h: 40px;
@padding-v: 15px;

.btn-shop-now{
	color: #fff;
	&:hover{
		color: @tb_primary_color;
	}
}
.btnviewmore:hover{
    border-color:@tb_primary_color;
}
.btn.btn-view-all {
    border: 1px solid #FFF;
    color: #FFF;
    padding: 9px 42px;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 30px;
	.font-noraure-2;
	&:hover{
		border-color: @tb_primary_color;
		background: @tb_primary_color;
	}
}
.horizontal-strokes-btn-view-more{
	position: relative;
	&:before, &:after{
		background: #fff none repeat scroll 0 0;
		content: "";
		height: 1px;
		position: absolute;
		top: 50%;
		width: 43%;
		@media (min-width: 992px) and (max-width: 1200px - 1) {
			width: 41%;
		}
		@media (min-width: 768px) and (max-width: 992px - 1) {
			width: 38%;
		}
		@media (max-width: 768px - 1) {
			width: 37%;
		}
		@media (max-width: 640px - 1) {
			width: 32%;
		}
		@media (max-width: 480px - 1) {
			width: 26%;
		}
		@media (max-width: 360px - 1) {
			width: 24%;
		}
	}
	&:before{
		left: 0;
	}
	&:after{
		right: 0;
	}
}

.ro-btn {
    .easing-animation;
    display: inline-block;
    padding: @padding-v @padding-h;
    font-size: 12px;
    font-weight: 700;
    outline: none;
    word-spacing: 2px;
    line-height: 1.2;
    text-align: center;
    background-color: transparent;
    border:0;
}

.ro-btn-bd(@thick, @bd-color) {
    .ro-btn;
    padding: (@padding-v - @thick) (@padding-h - @thick);
    border: 1px solid @bd-color;
}

.ro-btn-1 {
    .ro-btn;
    background-color: @tb_primary_color;
    color: @light-color;

    &:hover, &:focus {
        background-color: @dark-color;
        color:@light-color;
    }
}

.ro-btn-2 {
    .ro-btn;
    background-color: @dark-color;
    color: @light-color;

    &:hover, &:focus {
        background-color: @tb_primary_color;
        color:@light-color;
    }
}
.ro-btn-3 {
    .ro-btn;
    background-color: @light-color;

    &:hover, &:focus {
        background-color: @tb_primary_color;
        color:@light-color;
    }
}

.ro-btn-bd-1 {
    .ro-btn-bd(1px, @dark-color);

    &:hover, &:focus {
        background-color: @tb_primary_color;
        border-color: @tb_primary_color;
        color: @light-color;
    }
}

.ro-btn-bd-2 {
    .ro-btn-bd(1px, @dark-color);
    background-color: @light-color;

    &:hover, &:focus {
        background-color: @tb_primary_color;
        border-color: @tb_primary_color;
        color: @light-color;
    }
}

.ro-btn-bdr-1 {
    .ro-btn-bd(1px, @dark-color);
    border-radius: 20px;
    background-color: @lightgray-color;
}

.ro-btn-bdr-2 {
    .ro-btn-bd(1px, @dark-color);
    background-color: @tb_primary_color;
    border-radius: 20px;
}
.ro-btn-circle{
	// border: 1px solid #c5c5c5;
    color: #fff;
    display: inline-block;
	vertical-align: middle;
    height: 40px;
	width: 40px;
	text-align: center;
    line-height: 40px;
    position: relative;
    background-color: #393939;
    .transition(all 300ms ease-in-out 0ms);
	&:hover{
		background: @tb_primary_color;
		// border-color: @tb_primary_color;
		color: #fff;
	}
}