.porfolio-demo{
	margin-bottom: 43px;
	.image-shop-box{
		margin-bottom: 10px;
	    display: block;
	    // text-align: center;
	}
	.image-bg {
	    background: url('././assets/images/demo-bg.png') no-repeat center top;
	    width: 350px;
	    height: 240px;
	    display: inline-block;
	    position: relative;
	    .image-shop-scroll {
		    transition: all 6s ease-out 0s;
		    -webkit-transition: all 6s ease-out 0s;
		    -moz-transition: all 6s ease-out 0s;
		    -ms-transition: all 6s ease-out 0s;
		    -o-transition: all 6s ease-out 0s;
		    background-position: center 0;
		    background-repeat: no-repeat;
		    position: absolute;
		    width: 262px;
		    height: 139px;
		    top: 20px;
		    left: 0;
		    background-size: cover;
		    right: 0;
		    margin: 0 auto;
		    &.comming-soon{
		    	background-color: @tb_primary_color;

		    }
		    strong{
		    	position: absolute;
			    top: 50%;
			    transform: translateY(-50%);
			    width: 100%;
			    left: 0;
			    font-size: 22px;
			    color: #fff;

		    }
		}
		&:hover{
			.image-shop-scroll {
			    background-position: center 100%!important;
			    strong{
			    	animation-name: fadeInUp50;
		    		animation-duration: 1s;
			    }
			}
		}
	}
	h2{
		// text-transform: uppercase;
	    color: #333;
	    font-size: 18px;
	    margin-top:20px;
	    font-weight: 700;
	}

}
.tb-footer-demo{
	.primary-color{
		color:@tb_primary_color;
		&:hover{
			color:#333;
		}
	}
}