.tb-menu-control-mobi {
	display: none;
	> a {
		font-size: 14px;
		padding: 0 12px;
		line-height: 80px;
		display: block;
	}
}
@media(max-width: 991px) {
	.tb-menu-control-mobi {
		display: inline-block;
		vertical-align: middle;
	}
	&.tb-header-v2{
		.tb-menu{
			.tb-menu-list{
				left: auto;
				right: 50%;
				margin-right: -135px;
			}
		}
	}
	&.tb-header-v5{
		.tb-menu-sidebar{
			display: none;
		}
	}
}

@media(max-width: 767px) {
	.tb-menu-control-mobi {
		> a {
			line-height: 60px!important;
		}
	}
}

.tb-menu-list{
	> ul{
		> li{
			> a{
				text-transform: capitalize;
			}
			.menu-item{
				&.new,&.hot,&.sale{
					.menu-title{
						position: relative;
						&:after{
							position: absolute;
							right: 0;
							margin-right: -9px;
							-webkit-transform:translateX(100%);
							transform:translateX(100%);
							font-size: 10px;
							height: 16px;
						    line-height: 16px;
						    padding: 0 6px;
						    color: #fff;
						    border-radius: 2px;
						    text-transform: capitalize;
						    top:1px;
						}
						&:before{
							position: absolute;
							content: "";
							width: 0;
							height: 0;
						    border-right: 6px solid @tb_primary_color;
						    border-top: 6px solid transparent;
						    border-bottom: 6px solid transparent;
						    right: 0;
						    margin-right: -12px;
						    top: 3px;
						}
					}
				}
				&.new{
					.menu-title{
						&:after{
							content:"New";
						}
					}

				}
				&.hot{
					.menu-title{
						&:after{
							content:"Hot";
						}
					}
				}
				&.sale{
					.menu-title{
						&:after{
							content:"Sale";
						}
					}
				}
				.main-color{
					.menu-title{
						&:after{
							background-color: @tb_primary_color;
						}
						&:before{
							border-right-color: @tb_primary_color;
						}
					}
				}

				.green{
					.menu-title{
						&:after{
							background-color: #19c4aa;
						}
						&:before{
							border-right-color: #19c4aa;
						}
					}
				}
				.red{
					.menu-title{
						&:after{
							background-color: #ea5d4e;
						}
						&:before{
							border-right-color: #ea5d4e;
						}
					}
				}

				.black{
					.menu-title{
						&:after{
							background-color: #191919;
						}
						&:before{
							border-right-color: #191919;
						}
					}
				}				


			}
			&.menu-item-has-children {
				&.has_full_width{/*----mega dropdown----*/
					> ul {
						> li {
							> a {
								.easing-animation;
								text-transform: capitalize;
							}
						}
					}
				}
			}
		}
	}
}


.tb-header-menu .tb-header-menu-inner {
	position: relative;
	.row > div {
		position: static;
	}
}

.tb-sidebar{
	form.woocommerce-currency-switcher-form{
		position: relative;
		max-width: 80px;
	    float: left;
	    width: 100%;

		&:after{
			.easing-animation;
			position: absolute;
			content:"\f107";
			font-family: "FontAwesome";
			// right: 18px;
			right:30px;
			top:20px;
			line-height: 0;
			height: 10px;

		}
		select{
			-webkit-appearance: none;
			-moz-appearance: none;
			-ms-appearance: none;
			appearande:none;
			padding: 0;
			background-color: #181818;
			border:none;
			color:#fff;
		}
		&:hover{
			&:after{
				opacity: 0;
			}
		}

	}
	.widget-woocommerce-currency-switcher{
		&:last-child{
			form{
				// max-width: 62px;
				padding-left: 18px;
				&:before{
					position: absolute;
				    height: 10px;
				    width: 1px;
				    content: "";
				    border-left: 1px solid #fff;
				    top: 13px;
				    left: 0;
				}
			}
		}
		&:first-child{
			form{
				padding-left: 0;
				&:before{
					display: none;
				}
			}
		}

	}
}

@media(min-width: 992px) {
	.tb-menu-list {
		display: inline-block;
		vertical-align: middle;
		margin-right: 20px;
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			> li {
				.easing-animation;
				display: inline-block;
				> a {
					-webkit-transition: all @duration-time !important;
					-moz-transition: all @duration-time !important;
					-o-transition: all @duration-time !important;
					transition: all @duration-time !important;
					font-size: 14px;
					display: inline-block;
					line-height: 100px;
					font-size: 15px;
					padding: 0 15px;
					&:before,&:after{
					    position: absolute;
					    left: 50%;
					    margin-left: -2.5px;
					    top: 50%;
					    width: 5px;
					    height: 5px;
					    background-color: @tb_primary_color;
					    border-radius: 50%;
					    margin-top: -18px;
					}
					&:after{
						margin-top:14px;
					}
				}
				&.current_page_item, &:hover, &.current-menu-item,&.current_page_parent {
					> a{
						color:@tb_primary_color !important;
						position: relative;
						&:before,&:after{
							content: "";
						}
					}
					
				}
				&.menu-item-has-children {
					position: relative;
					> ul {
						/*----basic dropdown----*/
						&.standar-dropdown {
							position: absolute;
							top: 100%;
							left: 0;
							min-width: 270px;
							margin: 0;
							padding: 0;
							border: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							background-color: transparent;
							box-shadow: none;
							ul{
								background-color: transparent;
								box-shadow: none;
							}
							li{
								// margin-left: 1px;
								background-color: #fff;
								display: block;
								&:first-child {
									border: none;
								}

								> a {
									.easing-animation;
									display: block;
									font-size: 13px;
									font-weight: 400;
									color: #6b6b6b;
									line-height: 39px;
									padding: 0 20px;									
								}
								&:hover {
									> a {
										background: #f0f0f0;										
										color: @tb_primary_color;
									}
								}
								&.current_page_item {
									> a {																			
										color: @tb_primary_color;
									}
								}
								&:hover{
									> a{
										padding-left: 25px;
									}
								}
							}
							> li {
								display: block;
								&.menu-item-has-children {
									position: relative;
									> a {
										&:after {
											font-family: FontAwesome;
											content: "\f105";
											font-size: 13px;
											position: absolute;
											top: 0;
											right: 20px;
										}
									}
									> ul {
										position: absolute;
										top: 0;
										left: 100%;
										min-width: 270px;
										margin: 0;
										padding: 0;
										border: none;
										-webkit-border-radius: 0;
										-moz-border-radius: 0;
										border-radius: 0;
									}
									&:hover {
										> ul {
											display: block;
											z-index: 999;
											-webkit-animation: fadeInUp @duration-time both;
											-moz-animation: fadeInUp @duration-time both;
											-o-animation: fadeInUp @duration-time both;
											animation: fadeInUp @duration-time both;
										}
									}
								}
							}
						}
					}
					&:hover {
						> ul {
							display: block;
							z-index: 999;
							-webkit-animation: fadeInUp @duration-time both;
							-moz-animation: fadeInUp @duration-time both;
							-o-animation: fadeInUp @duration-time both;
							animation: fadeInUp @duration-time both;
						}
					}
					&.has_full_width{/*----mega dropdown----*/
						position: static;
						> ul {
							position: absolute;
							top: 100%;
							left: 0;
							width: 100%!important;
							margin: 0;
							padding: 20px 10px 26px;
							border: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							// &.columns6{
							// 	> li{
							// 		width: 16.666%;
							// 	}
							// }
							// &.columns4{
							// 	> li{
							// 		width:25%;
							// 	}
							// }
							> li {
								float: left;
								> a {
									.easing-animation;
									font-size: 17px;
									font-weight: 400;
									line-height: 38px;
									color: #333333;
									text-transform: capitalize;
									padding: 0 15px 0 20px;
								}
								&.current_page_item, &:hover {
									> a {
										background: none;
										color: @tb_primary_color;
									}
								}
								&.menu-item-has-children {
									> ul {
										display: block;
										position: relative;
										margin: 0;
										padding: 0;
										border: none;
										-webkit-border-radius: 0;
										-moz-border-radius: 0;
										border-radius: 0;
										-webkit-box-shadow: none;
										-moz-box-shadow: none;
										box-shadow: none;
										> li {
											padding:0 20px;
											> a {
												.easing-animation;
												display: block;
												font-size: 13px;
												font-weight: 400;
												color: #6b6b6b;
												line-height: 28px;
												padding: 0;												
											}
											&.current_page_item, &:hover {
												> a {
													background: none;
													color: @tb_primary_color;
													padding-left: 3px;
												}
											}
											&:last-child{
												> a{
													border-bottom: none;
												}
											}
										}
									}
								}
								&.item-menu-custom-block {
									// width: 50%;
									padding: 14px 20px 8px;
									> a {
										display: none;
									}
									.tb-menu-custom-block{
										figure.effect-bubba;
									}
								}
							}
						}
					}
					ul.dropdown-menu{
						box-shadow: 2px 0 10px rgba(0,0,0,0.09)!important;
					}
					ul.multicolumn{
						ul.dropdown-menu{
							box-shadow: none!important;
						}
					}
				}

			}
		}
	}
	.tb-header-v3 , .tb-header-v6 {
		.tb-menu-list{
			> ul {
				> li {
					&.current_page_item, &:hover, &.current-menu-item,&.current_page_parent {
						> a{
							color:#fff !important;
						}
					}

				}
			}
		}
	}
	#tb_wrapper .menu-item.has_full_width{/*----mega dropdown----*/
			> ul {
				&.columns6{
					> li{
						width: 16.666%;
					}
				}
				&.columns5{
					> li{
						width:20%;
					}
				}
				&.columns4{
					> li{
						width:25%;
					}
				}
				&.columns3{
					> li{
						width:33.33%;
					}
				}
				&.columns2{
					> li{
						width:50%;
					}
				}
			}
		}
	#tb_wrapper .ct-inc-megamenu{
		.has_full_width{/*----mega dropdown----*/
			> ul {
				position: absolute;
				top: 0;
				width:900px!important;
				left: 100%;
				margin: 0;
				background-color: #272727;
				border: none;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				border-radius: 0;
				padding:20px 15px;
				&.columns6{
					> li{
						width: 16.666%;
					}
				}
				&.columns5{
					> li{
						width:20%;
					}
				}
				&.columns4{
					> li{
						width:25%;
					}
				}
				&.columns3{
					> li{
						width:33.33%;
					}
				}
				&.columns2{
					> li{
						width:50%;
					}
				}
				> li {
					float: left;
					> a {
						.easing-animation;
						font-size: 17px;
						font-weight: 400;
						line-height: 38px;
						color: #fff!important;
						text-transform: capitalize;
						padding: 0 15px 0 20px;
						display: block;
					}
					&.current_page_item, &:hover {
						> a {
							background: none;
							color: @tb_primary_color;
						}
					}
					&.menu-item-has-children {
						> ul {
							display: block;
							position: relative;
							margin: 0;
							padding: 0;
							border: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							-webkit-box-shadow: none;
							-moz-box-shadow: none;
							box-shadow: none;
							> li {
								> a {
									.easing-animation;
									display: block;
									font-size: 13px;
									font-weight: 400;
									color: #6b6b6b;
									line-height: 28px;
									padding: 0 20px;
								}
								&.current_page_item, &:hover {
									> a {
										background: none;
										color: @tb_primary_color;
										padding-left: 25px;
									}
								}
							}
						}
					}
					&.item-menu-custom-block {
						padding: 10px 15px;
						> a {
							display: none;
						}
						.tb-menu-custom-block{
							figure.effect-bubba;
							img{
								display: block;
							}
						}
					}
					&:after{
						display: none;
					}
					ul.sub-menu{
						left:0;
					}
				}
				li{
					background-color: #272727!important;
					a{
						background-color: #272727!important;
					}
				}
			}
		}
	}
}
@media(max-width: 991px) {
	.tb-menu-list {
		display: none;
		position: absolute;
		top: 100%;
		right: 0;
		min-width: 270px;
		text-align: left;
		background: #000000;
		&.active {
			display: block;
			z-index: 999;
			-webkit-animation: fadeInUp @duration-time both;
			-moz-animation: fadeInUp @duration-time both;
			-o-animation: fadeInUp @duration-time both;
			animation: fadeInUp @duration-time both;
		}
		> ul {
			margin: 0;
			padding: 0;
			list-style: none;
			> li {
				.easing-animation;
				display: block;
				> a {
					font-size: 14px;
					color: #ffffff;
					display: block;
					line-height: 38px;
					text-transform: uppercase;
					padding: 0 15px;
				}
				&.current_page_item, &:hover {
					background: fadeout(#ffffff, 90);
				}
				&.menu-item-has-children {
					position: relative;
					> ul {
						/*----basic dropdown----*/
						&.standar-dropdown {
							position: relative;
							min-width: 270px;
							margin: 0;
							padding: 0;
							border: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							> li {
								display: block;
								border-top: 1px solid fadeout(#aaaaaa, 80);
								&:first-child {
									border: none;
								}
								> a {
									.easing-animation;
									display: block;
									font-size: 13px;
									font-weight: 400;
									color: #747474;
									line-height: 38px;
									padding: 0 20px;
								}
								&.menu-item-has-children {
									position: relative;
									> a {
										&:after {
											font-family: FontAwesome;
											content: "\f105";
											font-size: 13px;
											position: absolute;
											top: 0;
											right: 20px;
										}
									}
									> ul {
										position: relative;
										min-width: 270px;
										margin: 0;
										padding: 0;
										border: none;
										-webkit-border-radius: 0;
										-moz-border-radius: 0;
										border-radius: 0;
										> li {
											display: block;
											border-top: 1px solid fadeout(#aaaaaa, 80);
											&:first-child {
												border: none;
											}
											> a {
												.easing-animation;
												display: block;
												font-size: 13px;
												font-weight: 400;
												color: #747474;
												line-height: 38px;
												padding: 0 20px;
											}
											&.current_page_item, &:hover {
												> a {
													background: none;
													color: @tb_primary_color;
												}
											}
										}
									}
									&:hover {
										> ul {
											display: block;
											z-index: 999;
											-webkit-animation: fadeInUp @duration-time both;
											-moz-animation: fadeInUp @duration-time both;
											-o-animation: fadeInUp @duration-time both;
											animation: fadeInUp @duration-time both;
										}
									}
								}
								&.current_page_item, &:hover {
									> a {
										background: none;
										color: @tb_primary_color;
									}
								}
							}
						}
					}
					&:hover {
						> ul {
							display: block;
							z-index: 999;
							-webkit-animation: fadeInUp @duration-time both;
							-moz-animation: fadeInUp @duration-time both;
							-o-animation: fadeInUp @duration-time both;
							animation: fadeInUp @duration-time both;
						}
					}
					&.has_full_width{/*----mega dropdown----*/
						position: static;
						> ul {
							position: relative;
							width: 100%;
							max-width: 270px;
							margin: 0;
							padding: 20px 10px;
							border: none;
							-webkit-border-radius: 0;
							-moz-border-radius: 0;
							border-radius: 0;
							> li {
								> a {
									.easing-animation;
									font-size: 14px;
									font-weight: 400;
									line-height: 38px;
									color: #474747;
									text-transform: uppercase;
									padding: 0 15px;
								}
								&.current_page_item, &:hover {
									> a {
										background: none;
										color: @tb_primary_color;
									}
								}
								&.menu-item-has-children {
									> ul {
										position: relative;
										margin: 0;
										padding: 0;
										border: none;
										-webkit-border-radius: 0;
										-moz-border-radius: 0;
										border-radius: 0;
										-webkit-box-shadow: none;
										-moz-box-shadow: none;
										box-shadow: none;
										> li {
											> a {
												.easing-animation;
												display: block;
												font-size: 13px;
												font-weight: 400;
												color: #747474;
												line-height: 38px;
												padding: 0 20px;
											}
											&.current_page_item, &:hover {
												> a {
													background: none;
													color: @tb_primary_color;
													padding-left: 25px;
												}
											}
										}
									}
									&:hover {
										> ul {
											display: block;
											z-index: 999;
											-webkit-animation: fadeInUp @duration-time both;
											-moz-animation: fadeInUp @duration-time both;
											-o-animation: fadeInUp @duration-time both;
											animation: fadeInUp @duration-time both;
										}
									}
								}
								&.item-menu-custom-block {
									padding: 10px 15px;
									> a {
										display: none;
									}
								}
							}
						}
					}
				}

			}
		}
	}
	.tb-header-v6{
		.tb-menu-list{
			margin-right: 12px;
		}
	}
}

.tb-menu-sidebar {
	display: inline-block;
	vertical-align: middle;
	.widget_cart_search_wrap_item {
		position: relative;
		display: inline-block;
		> a{
			border: 1px solid #dfdfdf;
			color:#b0b0b0;
		}
		.widget_searchform_content {
			position: absolute;
			top: 100%;
			right: 0;
			min-width: 300px;
			padding: 15px;
			background: #ffffff;
			box-shadow: 2px 0 10px rgba(0,0,0,0.09);
			-webkit-box-shadow: 2px 0 10px rgba(0,0,0,0.09);
			display: none;
			&.active {
				display: block;
				z-index: 999;
				-webkit-animation: fadeInUp @duration-time both;
				-moz-animation: fadeInUp @duration-time both;
				-o-animation: fadeInUp @duration-time both;
				animation: fadeInUp @duration-time both;
			}
			&.full_search{
				position:fixed;
				z-index: 999999;
				top:0;
				left:0;
				min-height: 100px;
				line-height: 20px;
				box-shadow: none;
				padding-top: 10px;
				box-shadow: 0 3px 5px rgba(0,0,0,0.09);
				input[type="text"]{
					color:#919191;
					font-size: 24px;
					.placeholder(#919191);
					&:focus{
						color:#000;
					}
				}
				input{
					border:none;
				}
				#tb-close-fullsearch{
					font-size: 24px;
					top:8px;
					right: 0;
					position: absolute;
					color:#919191;
				}
			}
			> form {
				position: relative;
				padding-right: 80px;
				> input {
					background: transparent;
					height: 40px;
					margin: 0;
					float: left;
					&[type="submit"] {
						position: absolute;
						top: 0;
						right: 0;
						width: 80px;
						color: #ffffff;
						background: @tb_primary_color;
						border-color: @tb_primary_color;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	.tb-menu-canvas-wrap {
		position: relative;
		display: inline-block;
		.header-menu-item-icon {
			> a {
				.easing-animation;
				font-size: 14px;
				line-height: 100px;
				display: block;
				padding: 0 15px;
			}
		}
	}
	a.icon {
		.easing-animation;
	    font-size: 13px;
	    display: inline-block;
	    width: 35px;
	    height: 35px;
	    border-radius: 50%;
	    text-align: center;
	    line-height: 33px;
		&:hover {
			color: @tb_primary_color;
			border-color: @tb_primary_color;
		}
	}
	.widget_mini_cart_wrap {
		top:-1px;
		position: relative;
		display: inline-block;
		.header {
			.easing-animation;
			font-size: 14px;
			line-height: 100px;
			display: block;
			padding-left: 5px;
			> a {
				color: #fff;
				background-color: @tb_primary_color
				&:hover {
					color: @tb_primary_color;
				}
			}
		}
	}

	.widget_mini_icon,.tb-menu-canvas-wrap{
		.header{
			span.total_cart{
				display: none;
				color:#fff;
			}
		}
		.tb-menu-account{
			position: absolute;
		    top: 100%;
		    left: -120%;
		    background-color: #fff;
		    z-index: 9999;
		    /* min-width: 200px; */
		    text-align: left;
		    padding: 10px 20px 15px 15px;
		    white-space: nowrap;
		    line-height: 24px;
		    box-shadow: 2px 0 10px rgba(0,0,0,0.09);
		    min-width: 170px;
		    display: none;
		    -webkit-animation:fadeInUp 0.4s both;
		    animation:fadeInUp 0.4s both;
		    &.active{
		    	display: block;
		    }
		    li{
		    	line-height: 28px;
		    	a{
			    	color:#747474;
			    	i{
			    		color:#b0b0b0;
			    		margin-right: 2px;
			    	}
			    }
		    	&:hover,&.current-menu-item{
		    		a,i{
		    			color:@tb_primary_color;
		    		}
		    	}
		    }
		}
		.widget-woocommerce-currency-switcher{
			.dd-select{
				display: none;
			}
			.dd-options{
				display: block!important;
				position: relative;
				box-shadow: none;
				border:none;
				.dd-option{
					float: none;
					padding:3px 0;
					border: none;
					.dd-option-text{
						display: none;
					}
					.dd-desc{
						color:@jws_theme_menu_color;
					}
					&.dd-option-selected,&:hover{
						.dd-desc{
							color:@jws_theme_current_menu;
						}
					}
				}
			}
		}
	}
}
.tb-header-wrap{
	&.tb-header-stick{
		.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
			&.full_search{
				min-height: 140px;
				padding-top:50px;
			}
		}
	}
	&.tb-header-v7{
		.tb-sidebar{

			&.tb-sidebar-right{
				float: right;
				form.woocommerce-currency-switcher-form{
					margin-right: 5px;
					select{
						min-width: 43px;
					}
					&:after{
						right: 0;
					}
				}
			}
			.textwidget{
				line-height: 35px;
			}
		}
		.tb-menu{
			.widget_cart_search_wrap_item{
				line-height: 100px;
			}
			.tb-menu-sidebar{
				.icon_search_wrap{
					margin-right: 9px;
				}
			}
		}

	}
}

@media(max-width: 767px) {
	.tb-menu-sidebar {
		.widget_cart_search_wrap_item {
			position: static;
			line-height: 60px!important;
		}
		.tb-menu-canvas-wrap {
			position: static;
			.header-menu-item-icon > a {
				line-height: 60px!important;
			}
		}
		.widget_mini_cart_wrap {
			position: static;
			.header {
				line-height: 60px!important;
			}
		}
		.tb-header-menu .tb-logo{
			max-height: 60px;
		}
	}
}

@media(min-width: 992px) {
	.tb-stick-active {
		&.boxed{
			.tb-header-wrap {
				.tb-header-menu {
					max-width: 1200px;
					margin: 0 auto;
				}
			}
		}
		.tb-header-wrap {
			.tb-header-menu {
				position: fixed;
				top: 0;
				left: 0;
				right: 0;
				width: 100%;
				z-index: 9999;
				.tb-menu {
					.tb-menu-list > ul > li > a {
						line-height: 80px;
					}
					.tb-menu-sidebar {
						.widget_cart_search_wrap_item,.widget_mini_cart_wrap .header {
							line-height: 80px;
						}
						.widget_cart_search_wrap_item{
							display: inline-block!important;
							visibility: visible!important;
						}
					}
				}
			}
			&.tb-header-v7,&.tb-header-v1 {
				.tb-header-menu {
					background: rgba(255,255,255);
					.tb-logo {
						height: 80px;
					}
				}
			}
			&.tb-header-v3{
				.tb-header-menu {
					background-color:rgba(0,0,0);
					.tb-logo {
						height: 80px;
					}
				}
			}
			&.tb-header-v6 {
				.tb-header-menu {
					background-color:rgba(0,0,0);
				}
			}
			&.tb-header-v2,&.tb-header-v5 {
				.tb-header-menu {
					.col-logo {
						opacity: 1;
					}
					.tb-menu-sidebar{
						opacity: 1;
					}
				}
			}
			&.tb-header-v5{
				.tb-menu-sidebar{
					.widget_cart_search_wrap_item > a{
						border-color: #fff;
						color:#fff;
					}
					.widget_mini_cart_wrap .header{
						line-height: 80px;
					}
				}
				.tb-header-menu{
					.tb-menu{
						line-height: 80px;
						text-align: right;
					}
					.col-logo .tb-logo{
						height: 75px;
					}
				}
			}
		}
		&.admin-bar {
			.tb-header-wrap {
				.tb-header-menu {
					top: 32px;
				}
				.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
					&.full_search{
						min-height: 70px;
						padding-top:10px;
					}
				}
				&.tb-header-stick{
					.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
						&.full_search{
							min-height: 112px;
							padding-top:36px;
						}
					}
				}
			}
		}
		.tb-header-wrap{
			.tb-header-menu{
				box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
			}
			.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
				&.full_search{
					min-height: 70px;
					padding-top:18px;
				}
			}
		}
	}
	.admin-bar{
		.mobile-leftbar{
			padding-top:32px!important;
		}
		
		.tb-header-wrap{
			.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
				&.full_search{
					min-height: 132px;
					padding-top:67px;
				}
			}
			&.tb-header-stick{
				.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
					&.full_search{
						min-height: 172px;
						padding-top:67px;
					}
				}
			}
		}
	}

}
@media(max-width:782px){
	.tb-stick-active {
		&.admin-bar{
			.tb-header-wrap {
				.tb-header-menu {
					top: 46px;
				}
			}
		}
	}
	.admin-bar{
		.mobile-leftbar{
			padding-top:46px!important;
		}
		.tb-menu-sidebar .widget_cart_search_wrap_item .widget_searchform_content{
			&.full_search{
				min-height: 145px;
			}
		}
	}
}

.tb-header-wrap {
	&.tb-header-fixed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		z-index: 999;
		&.tb-header-v4{
			z-index: 992;
		}
	}
	.tb-header-top {
		color: #ffffff;
		background: #181818;
		height: 40px;
		padding: 3px 0 0;
		overflow: hidden;
		.tb-sidebar {
			.widget {
				font-size: 13px;
				font-weight: 400;
				line-height: 19.96px;
				overflow:hidden;
				ul {
					padding: 0;
					margin-top:7px;
					list-style: none;
					margin-right: -10px;
					> li {
						line-height: 13px;
						display: inline-block;
						padding: 0 10px;
						border-right: 1px solid #575757;
						&.tb-login,&.tb-logout {
							border: none;
						}
						&.tb-logout{
							display: none;
						}
						&:hover{
							a{
								color:@tb_primary_color;
							}
						}
					}
				}
			}
			&.tb-sidebar-right {
				text-align: right;
			}
			select.woocommerce-currency-switcher{
				width: 100%;
			    border: none;
			    background: #181818;
			    color: #fff;
			    max-width: 55px;
			    padding: 0;
			    option{

			    }
			}
		}
	}
	.tb-logo{
		// overflow: hidden;
		> a{
			font-size: 40px;
			text-transform: uppercase;
			font-family: Broadway, sans-serif;
			color:#353535;
			.primary_color{
				font-family: cursive;
				font-size: 60px;
			}
			> img {
				max-width: 100%;
				height: auto;
			}
		}
	}
	.tb-header-menu {
		.easing-animation;
		color: #3f3e3e;
		background: #fff;
		.tb-logo {
			.easing-animation;
			position: relative;
			height: 100px;
			// line-height: 0;
			> a {
				position: absolute;
				top: 50%;
				left: 0;
				margin-top:-6px;
				-webkit-transform: translateY(-50%);
				-moz-transform: translateY(-50%);
				-o-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
		.tb-menu {
			text-align: right;
			ul ul{
				text-align: left;
			}
		}
	}
	&.tb-header-v4 {
		background: rgba(0, 0, 0, 0.8);
		.widget-woocommerce-currency-switcher{
			// padding: 5px 10px;
			.widget-title{
				margin-bottom: 10px;
			    font-size: 15px;
			    font-weight: 300;
				// margin-b: 0;
			}
		}
		.tb-header-top {
			background: transparent;
			border-bottom: 1px solid rgba(255, 255, 255, 0.1);
			padding-bottom: 10px;
			margin-top: -25px;
			height: auto;
		}
		.tb-menu-sidebar {
			padding:48px 0 160px;
			a.icon{
				background-color: transparent;
				font-size: 16px;
				line-height: 16px;
				width:auto;
				height: auto;
				border:none;
			}
			.widget_cart_search_wrap_item{
				line-height: 16px;
				border-left: 1px solid rgba(255, 255, 255, 0.1);
				float: right;
				a{
					padding:0 25px 0 20px;
				}
			}
			.shopping_cart_dropdown,.widget_searchform_content{
				right: auto;
				left: 100%;
				top:20px;
			}
			
			.tb-menu-canvas-wrap{
				a{
					float: left;
					border-left: 1px solid rgba(255, 255, 255, 0.1);
					font-size: 16px;
					line-height: 16px;
					padding:0 25px;
				}
				.tb-menu-canvas{
					left: 50%;
					top:102%;
					right: auto;
					min-width:80px;
					padding:10px 20px;
				}
			}
			.widget_mini_cart_wrap{
				float: left;
				.header{
					line-height: 16px;
					a{
						padding-right: 20px;
						span.cart_total{
							right:8px;
							background-color: @tb_primary_color;
							color:#fff;
							margin-top: -2px;
						}
					}
				}
			}
		}
		.mobile-header {
			width: 100%;
			padding:15px 0;
			z-index: 500;
			background-color: transparent;
			text-align: center;
			.mobile-nav {
				display: none;
			}
			.fa-bars {
				position: absolute;
				left: 20px;
				top: 50%;
				color: #bebebe;
				// opacity: 0.7;
				text-align: center;
				transform:translateY(-50%);
				-webkit-transform:translateY(-50%);
				font-size: 35px;
				&:hover, &:active, &:focus {
					color:#fff;
				}
			}
		}
		.logo-text-v4{
			font-family: oxygen;
		    visibility: visible !important;
		    letter-spacing: 10px;
		    font-size: 13px;
		    padding-left: 12px;
		    display: block!important;
		    color:#2d2d2d;
		}
		
		.mobile-leftbar {
			position: fixed;
			z-index: 600;
			max-width: 270px;
			// min-height: 640px;
			height: 100vh;
			width: 85%;
			paddingt: 0 20px;
			left: 0;
			top: 0;
			background-color: #000;
			.fa-close {
				font: normal normal normal 20px/1.4 FontAwesome !important;
				text-align: center;
				position: absolute;
				right: 10px;
				top: 0;
				padding: 5px 10px;
				border-radius: 0;
				-webkit-border-radius: 0;
				-moz-border-radius: 0;
				-o-border-radius: 0;
			}
			.left-pane {
				position: fixed;
				left: 0;
				top: 0;
				width: 60px;
				border-right: 1px solid #dddddd;
				z-index: 600;
				height: 100%;
				background: url(assets/images/light-theme/header-left.jpg) repeat-y;
				.icons-wrap {
					z-index: 103;
					margin: 0 10px;
					padding: 10px 0;
					li {
						list-style: none;
						border-bottom: 1px solid #dddddd;
						position: relative;
						text-align: center;
						font-size: 16px;
						> a {
							padding: 5px 0;
							display: block;
							font: normal normal normal 20px/1.4 FontAwesome !important;
							color: #666666;
							-webkit-transition: all 0.3s ease-in-out;
							-moz-transition: all 0.3s ease-in-out;
							-o-transition: all 0.3s ease-in-out;
							transition: all 0.3s ease-in-out;
							&:hover, &:active, &.selected {
								color: @tb_primary_color;
							}
							&.selected {
								background-color: #dddddd;
							}
							i {
								color: #444444;
								position: absolute;
								text-indent: 0;
								font-size: 10px;
								line-height: 16px;
								font-weight: 700;
								right: 0px;
								top: 0px;
								border: 1px solid @tb_primary_color;
								-webkit-border-radius: 50%;
								-moz-border-radius: 50%;
								border-radius: 50%;
								width: 18px;
								height: 18px;
							}
						}
					}
				}
			}
			.cayto-name {
				-webkit-transform: rotate(-90deg) translateY(-50%);
				-moz-transform: rotate(-90deg) translateY(-50%);
				-ms-transform: rotate(-90deg) translateY(-50%);
				-o-transform: rotate(-90deg) translateY(-50%);
				transform: rotate(-90deg) translateY(-50%);
				height: 60px;
				position: absolute;
				width: 100%;
				font-weight: 700;
				text-align: center;
				text-transform: uppercase;
				padding-right: 95px;
				line-height: 60px;
			}
			.mobile-nav {
				margin: 0;
				padding: 0;
				li {
					list-style: none;
					line-height: 1;
					color: #505050;
					position: relative;
					cursor: pointer;
					ul {
						display: none;
						margin: 0;
						background-color: transparent;
						// padding: 0 0 0 1px;
						padding:0;
						width: 100%!important;
						left: 100%;
						top:0;
						// padding-top:40px;
						box-shadow: none;
						border:none;
						border-radius: 0;
						float: none;
						li{
							line-height: 40px;
							background-color: #272727;
							// border-bottom: 1px solid #aaa;
							&.menu-item-has-children:after{
								.easing-animation;
								content:"\f105";
								position: absolute;
								right: 20px;
								font-family: FontAwesome;
								color:#fff;
								top:22px;
								webkit-transform:translateY(-50%);
								transform:translateY(-50%);
							}
							&:hover:after{
								color:@tb_primary_color;
								right:15px;
							}
						}

					}
					a{
						line-height: 40px;
						color:#fff;
						display: inline-block;
						background-color: transparent;
						padding-top:0;
						padding-bottom: 0;
						font-size: 13px;
					}
					&:hover, &:active, &:focus {
						background: #1e1e1e;
						color: @tb_primary_color;
					}
					&:hover {
						> a {
							color: @tb_primary_color !important;
							padding-left: 25px;
						}
						> ul {
							display: block;
						}
					}
					.tb-menu-custom-block{
						padding-top: 15px;
					}
				}
				> li{
					// line-height: 44px;
					> a{
						color:#505050;
						font-size: 16px;
					}
					&:hover{
						> a{
							color:#fff;
							padding-left: 0;
						}
						// > ul{
						// 	padding-top:44px;
						// }
					}
				}
			}
			.tb-menu-canvas-wrap{
				.tb-menu-account{
					    left:0;
					    top:102%;
					    li{
					    	line-height: 28px;
					    	a{
					    		padding:6px 10px!important;
					    	}
					    }
				}
			}

			.options-wrap {
				position: static;
				display: block;
				width: 100%;
				padding: 0 20px;
				text-align: center;
				white-space: nowrap;
				> ul {
					display: inline-block !important;
					li {
						margin: 2px 0;
					}
				}
			}
			.bottom-section {
				width: 100%;
				text-align: center;
				padding: 0 20px 20px;
				position: absolute;
				bottom:0;
				border: none;
				.socials{
					padding-left: 0;
					margin-left: -3px;
					margin-right: -3px;
					li{
						margin-left: 3px;
						margin-right: 3px;
						margin-bottom: 8px;
					}
				}
				.textwidget{
					a{
						color: #fff;
					}
				}
			}
			.tb-logo{
				padding: 65px 0 66px;
			}
		}
		.tb-logo{
			a{
				color: #fff;
			}
		}
		// fix overhiden
		.mCSB_container,.mCustomScrollBox{
			overflow: visible;
		}
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
			background-color: rgba(30,30,30,0.8);
		}
		.mCSB_inside > .mCSB_container{
			margin-right: 15px;
			min-height: 100%;
		}
	}
	&.tb-header-v3,&.tb-header-v6 {
		.tb-header-top {
			border-bottom:1px solid rgba(255,255,255,0.2);
			background: transparent;
			.widget ul > li{
				border-right-color: rgba(255,255,255,0.5);
			}
			.tb-sidebar{
				.widget-woocommerce-currency-switcher{
					form select{
						background-color: transparent;
						option{
							color: #000;
						}
					}
					&:last-child form:before{
						border-left-color: rgba(255,255,255,0.5);
					}
				}
			}
		}
		.tb-header-menu {
			color: #fff;
			background: transparent;
			.tb-menu {
				.tb-menu-list > ul > li {
					&:hover, &.current_page_parent, .current-menu-parent, &.current-menu-item {
						> a {
							color: #fff;
						}
					}
				}
			}
			.tb-logo{
				a{
					color: #fff;
				}
			}
			.tb-menu-sidebar {
				.widget_cart_search_wrap_item > a, .widget_mini_cart_wrap .header > a {
					color: #fff;
					border:1px solid;
					background-color: transparent;
					span.cart_total{
						background-color: @tb_primary_color;
						color: #fff;
					}
				}
			}
			.tb-menu-list{
				> ul > li > a{
								&:before,&:after{
									background-color:#fff; 
								}
								&:hover{
									color:@tb_primary_color;
								}
							}
			}
		}
	}
	&.tb-header-v2 {
		.tb-header-top {
			background: #181818;
		}
		.tb-logo-v2 {
			background: #ffffff;
			text-align: center;
			padding: 60px 0 20px;
		}
		.tb-header-menu {
			color: #5d5d5d;
			background: #ffffff;
			.col-logo {
				.easing-animation;
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100px;
				opacity: 0;
				.tb-logo {
					height: 80px;
				}
			}
			.tb-menu {
				text-align: center;
				.tb-menu-list > ul > li {
					> a {
						line-height: 80px;
					}
					&:hover, &.current_page_parent, .current-menu-parent {						
						> a {
							color: #3d3d3d;
						}
					}
				}
				.tb-menu-sidebar {
					position: absolute;
					bottom: 0;
					right: 0;
					.widget_cart_search_wrap_item, .widget_mini_cart_wrap .header, .widget_mini_cart_wrap .header{
						line-height: 80px;
					}
				}
				.tb-menu-control-mobi > a {
					line-height: 80px;
				}
			}
		}
	}
	&.tb-header-v5{
		background:url('assets/images/header_bg_v5.jpg') repeat 0 0;
		.tb-header-top{
			background-color: transparent;
			border-bottom: 1px solid #2c2c2c;
			.tb-sidebar{
				.widget-woocommerce-currency-switcher{
					form select{
						background-color: transparent;
						option{
							color: #000;
						}
					}
					&:last-child form:before{
						border-left-color: rgba(255,255,255,0.5);
					}
				}
			}
		}
		.tb-header-logo{
			// background: transparent;
			.tb-header-group{
				padding: 65px 0 50px;
				.searchform{
					position: relative;
					max-width: 200px;
					#s{
						.easing-animation;
						color:#c1c1c1;
						border:none;
						border-bottom:1px solid #565656;
						background-color: transparent;
						width:100%;
						padding: 0;
						&:focus{
							color:#fff;
							border-color:#fff;
						}
					}
					#searchsubmit{
						font-size:14px;
						font-family:FontAwesome;
						background-color: transparent;
						width:30px;
						bottom:8px;
						// font-weight: 700;
						color:#fff;
						text-align: right;
						position: absolute;
						right: 0;
						padding-right: 0;
					}
				}
				.tb-logo{
					display: inline-block;
					height: auto;
					a{
						color: #fff;
						position: static;
						font-size: 48px;
					}
				}
				.tb-menu-sidebar{
					.widget_mini_icon{
						.header{
							line-height: 0;
							a.icon{
								font-size: 20px;
								background-color: transparent;
								span.cart_total{
									background-color: @tb_primary_color;
									color:#fff;
									padding-left: 1px;
								}
							}
							span.total_cart{
								display: inline-block;
								margin-left: 5px;
							}
						}
					}
				}
			}
		}
		.tb-header-menu{
			background-color: #2e2e2e;
			.col-logo{
				.easing-animation;
				opacity: 0;
				float: left;
				.tb-logo{
					height: 53px;
					a{
						color: #fff;
					}
				}
			}
			.tb-menu{
				text-align: center;
				line-height: 53px;
				.tb-menu-list > ul > li{
					> a{
						color:#fff;
						line-height: 54px;
						&:before, &:after{
							display: none;
						}
					}
					&:hover, &.current_page_parent, .current-menu-parent, &.current-menu-item {
						> a {
							color: @tb_primary_color;
						}
					}
				}
			}
			.tb-menu-sidebar{
				.easing-animation;
				opacity: 0;
				float: right;
				.widget_mini_cart_wrap .header{
					line-height: 53px;
					a{
						span.cart_total{
							padding-left: 1px;
						}
					}
				}
			}

		}


	}
	// &.tb-header-v5 {
	// 	color: #ffffff;
	// 	background: transparent;
	// 	.tb-header-top {
	// 		background: transparent;
	// 		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	// 	}
	// 	.tb-header-menu {
	// 		background: transparent;
	// 		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	// 		.tb-logo {
	// 			border-right: 1px solid rgba(255, 255, 255, 0.1);
	// 			> a {
	// 				left: 15px;
	// 			}
	// 		}
	// 		.tb-menu {
	// 			text-align: right;
	// 			.tb-menu-list > ul > li {
	// 				&:hover, &.current_page_parent, .current-menu-parent {
	// 					background: rgba(0, 0, 0, 0.4);
	// 				}
	// 			}
	// 			.tb-menu-sidebar {
	// 				margin-left: 20px;
	// 				.widget_cart_search_wrap_item > a, .header-menu-item-icon > a, .widget_mini_cart_wrap .header {
	// 					width: 80px;
	// 					text-align: center;
	// 					border-left: 1px solid rgba(255, 255, 255, 0.1);
	// 				}
	// 			}
	// 			.tb-menu-control-mobi > a {
	// 				width: 80px;
	// 				text-align: center;
	// 				border-left: 1px solid rgba(255, 255, 255, 0.1);
	// 			}
	// 		}
			
	// 	}
	// }
	&.tb-header-v6 {
		.tb-header-menu{
			.tb-menu-sidebar {
				.widget_mini_cart_wrap .header{
					padding-left: 12px;
				}
				.widget_cart_search_wrap_item > a, .widget_mini_cart_wrap .header > a {
					border:none;
					width:auto;
					font-size: 14px;
					span.cart_total{
						right: -15px;
						margin-top: -2px;
					}
				}
			}
			.tb-menu-canvas-wrap{
				margin-right: -10px;
				margin-left: 2px;
			}
		}
	}
}
.logged-in{
	.tb-header-wrap .tb-header-top .tb-sidebar .widget ul > li{
		&.tb-logout{
			display: inline-block;
		}
		&.tb-login{
			display: none;
		}
	}
}

@media(max-width: 1199px) {
	.tb-header-wrap {
		&.tb-header-v7,&.tb-header-v1, &.tb-header-v24, &.tb-header-3 {
			.tb-header-menu .tb-menu {
				.tb-menu-list > ul > li > a {
					padding: 0 10px !important;
				}
			} 
		}
		&.tb-header-v2 {
			.tb-logo-v2 {
				display: none;
			}
			.tb-header-menu {
				color: #5d5d5d;
				background: #ffffff;
				.col-logo {
					opacity: 1;
				}
				.tb-menu {
					text-align: center;
					.tb-menu-list > ul > li {
						> a {
							line-height: 38px;
						}
					}
				}
			}
		}
		&.tb-header-v6 {
			.tb-header-menu {
				.tb-logo > a {
					left: 0;
					> img {
						width: 90%;
					}
				}
				.tb-menu {
					.tb-menu-list > ul > li > a {
						padding: 0 15px !important;
					}
					.tb-menu-sidebar {
						margin-left: 0;
						.widget_cart_search_wrap_item > a, .header-menu-item-icon > a, .widget_mini_cart_wrap .header {
							width: 40px;
						}
					}
					.tb-menu-control-mobi > a {
						width: 40px;
					}
				}
			}
		}
	}
}

@media(max-width: 1200px) {
	.tb-header-wrap {
		&.tb-header-v4 {
			// .tb-header-top .tb-sidebar .widget ul > li {
			// 	padding: 0 8px;
			// }
			.mobile-leftbar{
				-webkit-transform: translateX(-100%);
				-moz-transform: translateX(-100%);
				-ms-transform: translateX(-100%);
				-o-transform: translateX(-100%);
				transform: translateX(-100%);
				.easing-animation;
				&.active {
				-webkit-transform: translateX(0%);
				-moz-transform: translateX(0%);
				-ms-transform: translateX(0%);
				-o-transform: translateX(0%);
				transform: translateX(0%);
				}
			}
		}
	}
}

@media(max-width: 767px) {
	.tb-header-wrap {
		.tb-header-top {
			.tb-sidebar.tb-sidebar-left, .tb-sidebar.tb-sidebar-right {
				text-align: center;
			}
		}
		.tb-header-menu {
			.tb-logo {
				height: 60px!important;
			}
		}
		&.tb-header-v4 {
			.tb-header-top {
				display: none;
			}
		}
		&.tb-header-v5, &.tb-header-v6 {
			.tb-header-menu {
				.tb-menu {
					.tb-menu-sidebar {
						margin-left: 0;
						.widget_cart_search_wrap_item > a, .header-menu-item-icon > a, .widget_mini_cart_wrap .header {
							width: auto;
							padding: 0 10px;
						}
					}
					.tb-menu-control-mobi > a {
						width: auto;
						line-height: 60px;
						padding: 0 10px;
					}
				}
				
			}
		}

		&.tb-header-v5{
			.tb-header-logo{
				.tb-header-group{
					padding: 45px 0 35px;
				}
			}
			.tb-header-menu{
				.tb-menu{
					text-align: right;
				}
				.tb-menu-sidebar{
					display: inline-block;
					opacity: 1;
					position: relative;
					top:3px;
					float: left;
				}
			}
		}
	}
}

// #home-slider-v4{
// 	.vc_col-sm-12{
// 		padding-right: 0!important;
// 	}
// }
.tb-logo.tb-custom-logo{
	.tb-header-wrap .tb-logo;
	position: relative;
	padding-bottom: 22px;
	margin-bottom: 24px;
	&:after{
		position: absolute;
		content:"";
		width:37px;
		background-color: #d9d9d9;
		height: 3px;
		bottom:0;
		left: 50%;
		margin-left: -19px;
	}
	a{
		font-size: 55px!important;
	}
}
.tb-container{
	padding-right:15px;
	padding-left:15px;
	margin-right:auto;
	margin-left:auto;
	position: relative;
}
.visible-lgs-block{
	display: none;
}
@media (min-width: 1200px){
	.visible-lgs-block{
		display: block;
	}
	.col-lg-offset-27 {
	    margin-left: 270px;
	}
	.col-lg-93{
		width:~"calc(100% - 270px)";
		padding-left: 15px;
		padding-right: 15px;
	}
	.tb-header-wrap.tb-header-v4 .mobile-header{
		display: none;
	}
}
// @media(max-width:1200px){
// 	.mobile-leftbar{
// 		transform:translateX(-100%);
// 		-webkit-transform:translateX(-100%);
// 		-webkit-transition: 10s ease-in-out;
//     -moz-transition: 10s ease-in-out;
//     -o-transition: 10s ease-in-out;
//     transition: 10s ease-in-out;
// 		&.active{
// 			display: block!important;
// 			transform:translateX(0);
// 			-webkit-transform:translateX(0);
// 		}
// 	}
// }

@media (max-width: 1440px){
	.col-lg-93 .container{
		max-width: 970px;
	}
}

@media (min-width: 768px){
	.tb-container {
	    width: 750px;
	}
}

@media (min-width: 992px){
	.tb-container {
	    width: 970px;
	}
}

@media (min-width: 1200px){
	.tb-container {
	    width: 1170px;
	}
}

@media (max-width:1369px) and (max-height:801px){
	.tb-header-wrap.tb-header-v4{
		.mobile-leftbar{
			.tb-logo{
				padding: 25px 0;
			}
			.mobile-nav > li{
				a,ul li{
					line-height: 35px;
				}
			}
		}
		.tb-menu-sidebar {
		    padding: 20px 0 30px;
		}
	}
}

.tb-fixed-zindex{
	#wpadminbar{
		z-index: 998;
	}
}