#instafeed{
	a{
		display: inline-block;
		float: left;
	}
}
.tb-col-6{
	a{
		width:16.667%;
	}
}
.tb-col-5{
	a{
		width:20%;
	}
}
.tb-col-4{
	a{
		width:25%;
	}
}
.tb-col-3{
	a{
		width:33.333%;
	}
}
@media(max-width:767px){
	#instafeed{
		a{
			width:33.333%;
		}
	}
}

@media(max-width:480px){
	#instafeed{
		a{
			width:50%;
		}	
	}
}