.single{
	#tb-list-porfolio{
		margin-bottom: -62px;
	}
}
#tb-list-porfolio{
	.controls-filter{
		margin-bottom: 30px;
		a{
			// color:#272727;
			color:#3b3b3b;
			font-size: 16px;
			text-transform: capitalize;
		}
		.filter{
			padding-left: 18px;
			padding-right: 18px;
			&.active,&:hover{
				a{
					color:@tb_primary_color;
					border-bottom:1px solid @tb_primary_color;
				}
			}
		}
	}
	&.no-padding{
		.mix{
			padding:0!important;
		}
	}
	#porfolio-container{
		margin-left: -5px;
		margin-right:-5px;
		.mix{
			display: none;
		}
	}
	.mix{
			.tb-thumb{
				margin-bottom: 22px;
				position: relative;
				text-align: center;
				img{
					display: inline-block;
					width:100%;
				}
				.tb-readmore{
					.ab-center;
					opacity: 0;
					z-index: 5;
				    font-size: 50px;
				    font-family: initial;
				    color:#3f3f3f;
				}
				&:hover{
					.tb-readmore{
						color:@tb_primary_color;
				    	opacity: 1;
				    }
				    
				}

			}
			.tb-content{
				.tb-categories{
					display: inline-block;
					margin-bottom: 5px;
				}
				h5{
					padding-top: 3px;
				}
			}
			.tb-portfolio-item{
				margin-bottom: 55px;
			}			
		}
	.tb-viewmore{
		position: relative;
		margin-bottom: 80px;
		&.has_pagination{
			margin-bottom: 30px;
		}
		&:before{
			content:"";
			border-top:1px solid #ebebeb;
			position: absolute;
			top:50%;
			left: 0;
			width:100%;
		}
		.tb-btn-viewmore{
			position: relative;
			padding:0 10px;
			display: inline-block;
			background-color: #fff;
			.btn-transparent{
				width: 115px;
				position: relative;
			}
		}
	}
	.pagination{
		text-align: center;
		border-top: none;
	}
	&.tpl{
		.tb-content{
			.tb-readmore{
				a{
					padding: 6px 0;
				    border: 1px solid;
				    display: block;
				    max-width: 100px;
				    margin: 0 auto;
				}
			}
			&:hover{
				.tb-readmore{
					a{
				    	color:@tb_primary_color;
				    	border-color:@tb_primary_color;
					}
				}
			}
		}
		.thumb-hover-effect{
			overflow: hidden;
			display: block;
			&:hover{
				img{
					.thumb-pd-hover-scale;
				}
			}
			img{
				.easing-animation;		
				display: block;
			}
			
		}
	}
	&.tpl1,&.tpl2{
		.tb-portfolio{
			margin-bottom: 50px;
		}
		.mix{
			padding: 5px;
		}
		.tb-portfolio-item{
			position: relative;
			margin-bottom: 0;
			.tb-thumb{
				margin-bottom: 0;
				img{
					width: 100%;
					display: block;
				}
			}
			.tb-content{
				position: absolute;
				color: #fff;
				width: 100%;
				z-index: 10;
				opacity: 0;
				height: 100%;
				top:0;
				left: 0;
				background-color: transparent;
				.tb-content-inner{
					position: absolute;
					top:50%;
					left: 0;
					-webkit-transform: translateY(-50% );
					transform: translateY(-50%);
					width: 100%;
				}
				a{
					color:#fff!important;
				}
				.tb-title{
					&:hover{
						a{
							color:#131313!important;
						}
					}
				}
				.tb-categories{
					opacity: 0.8;
					.easing-animation;
					&:hover{
						opacity: 1;
					}
				}
				.tb-readmore{
					a{
						width:117px;
						height: 36px;
						display: inline-block;
						border:1px solid #fff;
						font-size: 13px;
						text-align: center;
						line-height: 35px;
						opacity: 0.8;
						&:hover{
							opacity: 1;
						}
					}
				}
				.tb-action{
				    a{
				    	width: 40px;
					    height: 40px;
					    background-color: #131313;
					    display: inline-block;
					    text-align: center;
					    line-height: 40px;
					    border-radius: 50%;
					    margin:0 7.5px;
					    i{
					    	-webkit-transition: all 0.15s;
						    -moz-transition: all 0.15s;
						    -o-transition: all 0.15s;
						    transition: all 0.15s;
					    }
					    &:hover{
					    	i{
					    		.thumb-pd-hover-scale;
					    	}
					    }
				    }
				}

			}
			h5{
				color:#fff;
			}

			&:hover{
				.tb-content{
					opacity: 1;
					background-color: @tb_primary_color;
				}
				.tb-action{
			    	opacity: 1;
			    	
			    }
			}
		}
		
	}
	.no-filter{
		.mix{
			display: inline-block!important;
		}
	}
}
.tb-blog{
	article.portfolio{
		.blog-info{
			float: none!important;
			width:100%;
			.tags{
				display: none;
			}
			span,i,a{
				color:#747474;
			}
		}
		.tb-social-buttons{
			float: none;
			text-align: left;
			margin-right: 0;
			color:#333;
			a{
				&:first-child{
					margin-left: 4px;
				}
				color:#747474;
			}
		}
		.blog-title{
			margin:0 0 22px;
			font-size: 22px;
			color:#2a2a2a;
		}
		.tb-portfolio-info{
			margin:3px 0 0;
			li{
				border-bottom: 1px solid #e0e0e0;
				padding: 9px 0 8px;
				> span{
					color:#333;
					margin-right: 11px;
				}
				&:first-child{
					border-top:1px solid #e0e0e0;
				}
			}
		}
	}
	.tb-portfolio-flexslider{
		border: none;
	    box-shadow: none;
	    margin-bottom: 27px;
	    .flex-direction-nav{
	    	a{
	    		font-size: 18px;
	    		width:46px;
	    		height: 46px;
	    		background-color: #fff;
	    		color:#313131;
	    		text-align: center;
	    		text-indent: -9999px;
	    		line-height: 46px;
	    		&:hover{
	    			background-color: @tb_primary_color;
	    			color:#fff;
	    		}
	    		&:before{
	    			text-indent: 0;
	    			font-family: FontAwesome;
	    			font-size: 18px;
	    			display: block;
	    		}
	    	}
	    	.flex-prev{
	    		&:before{
	    			content:"\f104";
	    		}
	    	}
	    	.flex-next{
	    		&:before{
	    			content:"\f105";
	    			
	    		}
	    	}
	    }
	}
}

@media(min-width:992px){
	.single-portfolio .post-navigation{
		width:75%;
	}
}
