body {
    overflow-x: hidden;
}
.zoomLens {
	border-color: @tb_primary_color !important;
}
// .addthis_sharing_toolbox{
// 	text-align: right;
// }
.product-video-popup{
	position: absolute;
    top: 15px;
    right: 25px;
    z-index: 999;
    span{
    	margin-right: 6px;
    }
}
.woocommerce{
	.ro-quantity{
		margin-bottom: 8px;
		label{
			font-weight: 400;
			float: left;
			width: 15%;
			line-height: 35px;
			span{
				color: @tb_primary_color;
			}
			p{
				margin-bottom: 10px!important;
			}
		}
		.quantity{
			width: 85%;
			margin: 0!important;
			span{
				float: left;
				width: 25%;
				height: 35px;
				line-height: 35px;
				text-align: center;
				border: 1px solid #ececec;
				cursor: pointer;
				color:#969696;
				background-color: #f9f9f9;
				&:hover{
					i{
						color: @tb_primary_color;
					}
				}
				&.qty-minus{
					border-width: 1px 0 1px 1px;
				}
				&.qty-plus{
					border-width: 1px 1px 1px 0;
				}
			}
			input{
				float: left;
				width: 50%;
				height: 35px;
				font-size: 15px;
				-moz-appearance: textfield;
				-webkit-appearance: textfield;
				padding:0;
			}
		}
	}
	.yith-wcqv-main{
		.ro-quantity{
			.quantity{
				input{
					width: 100%;
				}
			}
		}
	}
}
.single-product {
    .ro-title {
        h4 {
            margin-top: 50px;
            margin-bottom: 50px;
        }
    }
    .ro-product-wrapper {
    	.images{
    		position: relative;
    	}
		.onsale{
			font-size: 13px;
			font-weight: 400;
			color: #fff;
			background: #f7605e;
			position: absolute;
			top: 20px;
			left: 20px;
			width: 48px;
			height: 48px;
			line-height: 45px;
			text-align: center;
			z-index: 999;
			.border-radius("50%");
		}
        .ro-product-information {
        	// hidden variation description
        	.woocommerce-variation-description{
        		display: none!important;
        	}
			.entry-title {
				margin-top: 12px;
				margin-bottom: 6px;
				font-size: 18px;
				color: #282828;
				text-transform: capitalize;
			}
			.ro-product-price-meta{
				border-bottom: 1px dotted #b1b1b1;
				display: inline-block;
				width: 100%;
				.tb-product-price{
					display: inline-block;
					float: left;
					.price {
						font-size: 22px;
						font-weight: normal;
						margin-bottom: 12px;
						del{
							color: #b1b1b1;
							font-size: 20px;
							margin-right: 5px;
						}
						ins{
							color: #353535;
							text-decoration: none;
						}
					}
				}
				.stock{
					display: inline-block;
					float: right;
					margin-top: 9px;
					color: #898989;
					text-transform: capitalize;
					span{
						color: @tb_primary_color;
					}
				}
			}
			.ro-product-content{
				margin:5px 0 25px;
			}
			> form{
				margin-bottom:20px!important;
			}
			.ro-rate{
				display: inline-block;
				width: 100%;
				.woocommerce-product-rating{
					margin-bottom: 5px;
				}
				.star-rating{
					font-size: 12px;
					margin-top: 7px;
					> span{
						color: @tb_primary_color;
					}
				}
				.woocommerce-review-link{
					color: #a7a7a7;
					font-size: 12px;
					text-transform: capitalize;
					&:hover{
						color: @tb_primary_color;
					}
				}
			}
			
			.ro-quantity, .ro-price {
				> div {
					display: inline-block;
					&:nth-child(1){
						width: 15%;
						float: left;
						padding-top: 2px;
						p {
							margin-bottom: 13px;
						}
					}
					&:nth-child(2){
						width: 85%;
					}
				}
			}
			
			
			.single_simple_wrap {
				.ro-quantity{
					&:after {
						content: "";
						display: block;
						width: 100%;
						clear: both;
					}
				}
				.ro-action {
					padding-top: 20px;
					border-top: 1px solid #ececec;
					> div.clear {
						display: none;
					}
					.yith-wcwl-add-to-wishlist {
						.transition(all 0.4s ease 0s);
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: 40px;
						height: 40px;
						background: #393939;
						padding: 0;
						margin: 0 5px 0 0;
						overflow: hidden;
						.add_to_wishlist {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
						}
						.yith-wcwl-add-button {
							&:before {
								.transition(all 0.4s ease 0s);
								font-family: FontAwesome;
								content: "\f004";
								color: #fff;
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translateX(-50%) translateY(-50%);
								-moz-transform: translateX(-50%) translateY(-50%);
								-o-transform: translateX(-50%) translateY(-50%);
								-ms-transform: translateX(-50%) translateY(-50%);
								transform: translateX(-50%) translateY(-50%);
							}
						}
						.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
						.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
							> span {
								opacity: 0;
							}
							> a {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								opacity: 0;
							}
							&:before {
								.transition(all 0.4s ease 0s);
								font-family: FontAwesome;
								content: "\f064";
								color: #fff;
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translateX(-50%) translateY(-50%);
								-moz-transform: translateX(-50%) translateY(-50%);
								-o-transform: translateX(-50%) translateY(-50%);
								-ms-transform: translateX(-50%) translateY(-50%);
								transform: translateX(-50%) translateY(-50%);
							}
						}
						
						&:hover {
							background: @tb_primary_color;
						}
					}
					.compare-button {
						.transition(all 0.4s ease 0s);
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: 40px;
						height: 40px;
						background: #393939;
						padding: 0;
						margin: 0 5px 0 0;
						overflow: hidden;
						.compare {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
						}
						&:before {
							.transition(all 0.4s ease 0s);
							font-family: FontAwesome;
							content: "\f079";
							color: #fff;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translateX(-50%) translateY(-50%);
							-moz-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
						&:hover {
							background: @tb_primary_color;
							// border-color: @tb_primary_color;
							&:before {
								color: #ffffff;
							}
						}
					}
				}
				form.cart{
					margin-bottom: 20px;
				}
			}
			.single_variation_wrap{
				.woocommerce-variation-description{
					p{
						margin-bottom: 5px;
					}
				}
				.ro-price {
					.single_variation{
						.price{
							font-size: 13px;
							color: #515151;
							font-weight: 700;
							line-height: 25px;
						}
					}
					p{
						color: #515151;
					}
					del {
						display: inline-block;
						margin-right: 20px;
					}
				}
				label{
					font-size: 13px;
					color: #515151;
					font-weight: normal;
				}
				.variations_button{
					padding-top: 20px;
					border-top: 1px solid #ececec;
					> div.clear {
						display: none;
					}
					.yith-wcwl-add-to-wishlist {
						.transition(all 0.4s ease 0s);
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: 40px;
						height: 40px;
						background: #393939;
						padding: 0;
						margin: 0 5px 0 0;
						overflow: hidden;
						.add_to_wishlist {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
						}
						.yith-wcwl-add-button {
							&:before {
								.transition(all 0.4s ease 0s);
								font-family: FontAwesome;
								content: "\f004";
								color: #fff;
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translateX(-50%) translateY(-50%);
								-moz-transform: translateX(-50%) translateY(-50%);
								-o-transform: translateX(-50%) translateY(-50%);
								-ms-transform: translateX(-50%) translateY(-50%);
								transform: translateX(-50%) translateY(-50%);
							}
						}
						.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
						.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
							> span {
								opacity: 0;
							}
							> a {
								position: absolute;
								top: 0;
								left: 0;
								width: 100%;
								height: 100%;
								opacity: 0;
							}
							&:before {
								.transition(all 0.4s ease 0s);
								font-family: FontAwesome;
								content: "\f064";
								color: #fff;
								position: absolute;
								top: 50%;
								left: 50%;
								-webkit-transform: translateX(-50%) translateY(-50%);
								-moz-transform: translateX(-50%) translateY(-50%);
								-o-transform: translateX(-50%) translateY(-50%);
								-ms-transform: translateX(-50%) translateY(-50%);
								transform: translateX(-50%) translateY(-50%);
							}
						}
						
						&:hover {
							background: @tb_primary_color;
							// border-color: @tb_primary_color;
							// .yith-wcwl-add-button,
							// .yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
							// .yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
							// 	&:before {
							// 		color: #ffffff;
							// 	}
							// }
						}
					}
					.compare-button {
						.transition(all 0.4s ease 0s);
						position: relative;
						display: inline-block;
						vertical-align: middle;
						width: 40px;
						height: 40px;
						background: #393939;
						padding: 0;
						margin: 0 5px 0 0;
						overflow: hidden;
						.compare {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							opacity: 0;
						}
						&:before {
							.transition(all 0.4s ease 0s);
							font-family: FontAwesome;
							content: "\f079";
							color: #fff;
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translateX(-50%) translateY(-50%);
							-moz-transform: translateX(-50%) translateY(-50%);
							-o-transform: translateX(-50%) translateY(-50%);
							-ms-transform: translateX(-50%) translateY(-50%);
							transform: translateX(-50%) translateY(-50%);
						}
						&:hover {
							background: @tb_primary_color;
							// border-color: @tb_primary_color;
							// &:before {
							// 	color: #ffffff;
							// }
						}
					}
				}
			}
			
			.product_meta {
				span {
					display: inline-block;
					margin-right: 10px;
					&:last-child {
						margin: 0;
					}
					a {
						color: @dark-color;
						&:hover {
							color: @main-color;
						}
					}
				}
			}
            .ro-footer {
                h6 {
                    margin-top: 25px;
                    margin-bottom: 20px;
                }
            }
        }
    }
	// .woocommerce-tabs {
	// 	ul.tabs {
	// 		padding: 0 !important;
	// 		font-size: 13px;
	// 		letter-spacing: 1.2px;
	// 		text-transform: capitalize;
	// 	}
	// 	.panel {
	// 		h2, h3.comment-reply-title {
	// 			font-size: 14px;
	// 			line-height: 15.4px;
	// 			text-transform: capitalize;
	// 			margin-bottom: 20px;
	// 		}
	// 		#review_form_wrapper {
	// 			margin-top: 20px;
	// 			.comment-form {
	// 				margin: 20px 0;
	// 				p.comment-form-author {
	// 					margin-right: 15px !important;
	// 				}
	// 				p.form-submit {
	// 					text-align: left;
	// 				}
	// 			}
	// 		}
	// 	}
	// }
	.ro-product-wrapper{
		padding-right: 0;
		.images{
			.thumbnails{
				overflow:hidden;
				max-height: 180px;
				padding:0 20px;
				.caroufredsel_wrapper{
					padding:0 20px;
					li{
						position: relative;
						padding: 0 10px;
						width:33.33%;
						.thumb-pd-effect;
						&:before{
							bottom:10px;
							width:80%;
							left:10%;
						}
						&:after{
							display: none;
						}
						a{
							position: relative;
							margin:0 0 10px;
							img{
								display: block;
							}
							.thumb-pd-effect;
							&:before{
								display: none;
							}
						}
						&:hover{
							.thumb-pd-hover-effect;
							&:before{
								bottom: 12px;
								z-index: 1;
							}
							a{
								.thumb-pd-hover-effect;
							}
						}
					}
				}
			}
		}
	}
    .ro-product-relate {
    	margin: 35px 0 27px;
		.ro-title {
			position: relative;
			margin: 20px 0 10px;
			&:before {
				background-color: #444;
				content: "";
				height: 1px;
				left: 0;
				position: absolute;
				top: 18px;
				width: 100%;
				z-index: 0;
			}
			h4 {
				background-color: #ffffff;
				color: #272727;
				display: inline-block;
				font-size: 18px;
				margin: 6px 0 15px;
				padding:0 10px;
				text-transform: capitalize;
				z-index: 1;
				position: relative;
				&:before,&:after{
					content:"";
					width:5px;
					height: 5px;
					.border-radius(50%);
					position: absolute;
					left: -2px;
					background-color: #444;
					top:10px;
				}
				&:after{
					right: -2px;
					left: auto;
				}
			}
		}
        .tb-product-items {
			
		}
    }
	.tb-sidebar {
		.upsells {
			.wg-title{
				margin-bottom: 15px;
			}
		}
	}
	.tb-content.tb-fullwidth{
		 .onsale{
		 	left: 140px;
		 }
		.ro-product-wrapper{
			.images{
				overflow: hidden;
				max-height: 500px;
			}
			&.vertical-slider{
				.tb-single-vertical{
					position: absolute;
					left: -120px;
					top:32px;
					visibility: visible;
				}
				.images{
					overflow: visible;
				}
				#prev-product{
					position:absolute;
					top:-32px;
				}
				#next-product{
					margin-top:6px;
				}
			}
		}
		.woocommerce-product-rating{
			margin-top: -2px;
		}
		.nav-product-link{
			a{
				height: 21px;
			    display: inline-block;
			    width: 21px;
			    border: 1px solid #ededed;
			    text-align: center;
			    line-height: 17px;
			    font-size: 14px;
			    color:#717171;
			    &:hover{
			    	background-color: #2e2e2e;
			    	border-color:#2e2e2e;
			    	color:#fff;
			    }
			}
		}
		.entry-title{
			.nav-product-link{
				height: 0;
		    	margin-top: -24px;
		    	margin-bottom: 30px;
		    	a{
		    		margin-left: 14px;
		    	}
			}
		}
		.addthis_sharing_toolbox {
			text-align: right;
			margin-top:-40px;
		}
		> .product {
			padding-left: 120px;
		}
		.tb-single-vertical{
			visibility: hidden;
			.slideshow{
				img{
					margin:16px 0;
					width:100px;
				}
			}
		}
		.woocommerce-tabs{
			margin-left: -120px;
		}
		.upsellss{
			margin-bottom: 30px;
			.cayto-title{
				margin-bottom: 21px;
			}
		}
	}
}

@media (min-width:768px){
	.single-product .ro-product-wrapper{
		// float: right;
		.ro-product-information{
			margin-right: -15px;
			padding-left: 4px;
		}
	}
}
@media (max-width:767px){
	.single-product{
		.ro-product-wrapper{
			padding-left: 0;
		}
		.tb-content.tb-fullwidth{
			>.product{
				padding-left: 0;
			}
			.ro-product-wrapper {
			    padding-left: 120px;
			}
			.ro-product-information{
				margin-left: -120px;
			}
			.woocommerce-tabs{
				margin-left: 0;
			}
		}
	}
	
}