.ct-info-box-wrap {
	.tb-info-box{
		position: relative;
		.tb-image{
			.img-responsive{
				width: 100%;
			}
		}
	}
	&.tpl1, &.tpl2 {
		.tb-info-box {
			border:1px solid #efefef;
			margin-bottom: 30px;
			.tb-image {
				display: inline-block;
				vertical-align: middle;
				line-height: 0;
				width: 47%;
				max-width: 370px;
				position: relative;
				overflow: hidden;
				> img {
					.easing-animation;
					width: 100%;
					height: auto;
				}
			}
			.tb-content {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				width: 51%;
				> h5 {
					color: #5b5b5b;
					font-size: 16px;
					font-family: @tb_google_font_2;
					font-weight: 300;
					line-height: 22px;
					margin-bottom: 0;
				}
				h4,h3{
					color: #282828;
					font-size: 32px;
					font-family: @tb_google_font_1;
					font-weight: 300;
					line-height: 28px;
					margin-bottom: 10px;
				}
				h4{
					font-size: 28px;
				}
				> h6 {
					margin-bottom: 0;
					> a {
						.easing-animation;
						border-top: 1px solid #9c9c9c;
						color: #9c9c9c;
						font-size: 13px;
						font-weight: 300;
						letter-spacing: 0.05em;
						line-height: 27px;
						padding-top: 5px;
						&:hover {
							color: @tb_primary_color;
						}
					}
				}
			}
			&:hover {
				.tb-image {
					> img {
						opacity: 0.8;
						-webkit-transform: scale(1.2);
						-moz-transform: scale(1.2);
						-o-transform: scale(1.2);
						-ms-transform: scale(1.2);
						transform: scale(1.2);
					}
				}
				.tb-content {
					> h6 {
						> a {
							border-color: @tb_primary_color;
						}
					}
				}
			}
		}
	}
	&.tpl2{
		.tb-info-box{
			text-align: right;
		}
	}
	&.tpl3 {
		.tb-info-box {
			margin: 0 auto;
			overflow: hidden;
			border: 1px solid #ededed;
			padding-bottom: 9px;
			.tb-image {
				line-height: 0;
				> img {
					.easing-animation;
					width: 100%;
					height: auto;
				}
			}
			.tb-content {
				text-align: center;
				.tb-content-inner {
					background: rgba(255, 255, 255, 0.8);
					padding: 40px 10px;
					> h5 {
						color: #5b5b5b;
						font-family: @tb_google_font_2;
						font-size: 16px;
						font-weight: 300;
						line-height: 22px;
					}
					> h3,h4 {
						color: #282828;
						font-size: 32px;
						font-weight: 300;
						letter-spacing: 0.05em;
						line-height: 28px;
						margin-bottom: 5px;
						font-family: @tb_google_font_1;
					}
					> h4{
						font-size: 28px;
					}
				}
			}
		}
		&:hover {
			.tb-image {
				> img {
					opacity: 0.8;
					-webkit-transform: scale(1.2);
					-moz-transform: scale(1.2);
					-o-transform: scale(1.2);
					-ms-transform: scale(1.2);
					transform: scale(1.2);
				}
			}
			.tb-content {
				.tb-content-inner {
					> h6 {
						> a {
							border-color: @tb_primary_color;
						}
					}
				}
			}
		}
		&.tpl6{
			.tb-info-box{
				padding-bottom: 0;
				.tb-content{
					position: absolute;
					width: 100%;
					bottom:0;
				}
				.tb-content-inner{
					background-color: transparent;
					padding:0 10px;
					h3{
						font-size: 18px;
						letter-spacing: 0.2em;
						font-weight: 400;
						line-height: 22px;
						color:#474747;
					}
					h5{
						font-size: 14px;
						line-height: 22px;
						letter-spacing: 0.2em;
						color:#474747;
					}
				}
			}
			&:after{
				position: absolute;
				top:10px;
				left:25px;
				right: 25px;
				bottom:10px;
				content:"";
				border:1px solid #fff;
			}

		}
	}
	&.tpl4{
		.tb-info-box{
			.tb-content{
				position: absolute;
				z-index: 2;
				top:30px;
				left: 30px;
				h3{
					font-size: 20px;
					color: #2e2e2e;
					font-family: @tb_google_font_1;
					line-height: 22px;
					letter-spacing: 0.05em;
					position: relative;
					&:before{
						border-top: 3px solid #d9d9d9;
						width:37px;
						content: "";
						bottom: -22px;
						position: absolute;
						left: 0;
					}
				}
			}
		}
		.tb-image{
			.thumb-overlay-effect;
		}
		&:hover{
			.tb-image{
				.thumb-overlay-hover-effect;
			}
		}
	}
	&.tpl5{
		.tb-info-box{
			.tb-content{
				position: absolute;
			    top: 40%;
			    transform: translateY(-40%);
			    width: 100%;
			    z-index: 2;
			    text-align: center;
			    h2,h3{
			    	line-height: 22px;
			    	font-family: @tb_google_font_1;
			    	letter-spacing: 0.05em;
			    }
			    h5{
			    	position: relative;
			    	font-size: 16px;
			    	font-family: @tb_google_font_2;
			    	font-weight: 300;
			    	letter-spacing: 0.05em;
			    	&:before{
						border-top: 3px solid #d9d9d9;
						width:37px;
						content: "";
						bottom: -14px;
						position: absolute;
						left: 50%;
						transform:translateX(-50%);
					}
			    }
			    h6{
			    	a{
			    		.btn-transparent;
			    		width:125px;
			    		color: #2d2d2d;
			    		border: 1px solid #d4d4d4;
			    	}
			    }
			}

		}
		.tb-image{
			.thumb-overlay-effect;
		}
		&:hover{
			.tb-image{
				.thumb-overlay-hover-effect;
			}
		}
		&.tpl7{
			overflow: hidden;
			h2{
				font-size: 30px;
				margin-bottom: 12px;
				letter-spacing: 0.15em!important;
			}
			h5{
				margin-bottom: 12px;
				letter-spacing: 0.2em!important;
				&:before{
					display: none;
				}
			}
			.tb-image:after{
				border: 3px solid #fff;
			    width: 70%;
			    height: 50%;
			    opacity: 1;
			    transform: scale(1) translate(-50%,-50%);
			    background: transparent;
			    top: 50%;
			    left: 50%;
			    display: block;
			}
			.tb-content{
				top: 50%;
			}
			.tb-image img{
				.easing-animation;
			}
			&:hover {
				.tb-image {
					> img {
						opacity: 0.8;
						-webkit-transform: scale(1.2);
						-moz-transform: scale(1.2);
						-o-transform: scale(1.2);
						-ms-transform: scale(1.2);
						transform: scale(1.2);
					}
				}
				.tb-content {
					.tb-content-inner {
						> h6 {
							> a {
								border-color: @tb_primary_color;
							}
						}
					}
				}
			}

		}

	}
}

@media(max-width: 767px) {
	.ro-info-box-wrap {
		&.tpl1, &.tpl2 {
			.tb-info-box {
				max-width: 370px;
				margin: 0 auto 30px;
				.tb-image {
					width: 100%;
					&:after {
						top: auto;
						bottom: -8px;
						right: auto;
						left: 50%;
						-webkit-transform: translateX(-50%) rotate(45deg);
						-moz-transform: translateX(-50%) rotate(45deg);
						-o-transform: translateX(-50%) rotate(45deg);
						-ms-transform: translateX(-50%) rotate(45deg);
						transform: translateX(-50%) rotate(45deg);
					}
					&.tb-right {
						&:after {
							top: -8px;
							bottom: auto;
							right: auto;
							left: 50%;
							-webkit-transform: translateX(-50%) rotate(45deg);
							-moz-transform: translateX(-50%) rotate(45deg);
							-o-transform: translateX(-50%) rotate(45deg);
							-ms-transform: translateX(-50%) rotate(45deg);
							transform: translateX(-50%) rotate(45deg);
						}
					}
				}
				.tb-content {
					width: 100%;
					padding: 10px 0;
				}
			}
		}
	}

}

.tb-service-wrap {
	.tb-service {
		position: relative;
		// max-width: 460px;
		margin: 0 auto 33px;
		.tb-icon {
			.easing-animation;
			display: inline-block;
			font-size: 24px;
			width: 80px;
			color: #a7a7a7;
			line-height: 76px;
			height: 80px;
			border: 1px solid #e9e9e9;
			-webkit-border-radius: 50%;
			border-radius: 50%;
			
		}
		.tb-title {
			font-size: 16px;
			color:#272727;
			line-height: 18px;
			margin-bottom: 18px;
			padding-top: 27px;
			position: relative;
		}
		.tb-content {
			font-size: 13px;
			line-height: 18px;
			color: #858585;
		}
		&:hover {
			.tb-icon {
				color:@tb_primary_color;
				// background: @tb_primary_color;
				// z-index: 1;
			}
		}
		&.tpl1{
			.tb-icon{
				position: absolute;
				top:-43px;
				left: 50%;
				margin-left: -40px;
				line-height: 55px;
				border-width: 3px;
				border-color: @tb_primary_color;
				background-color: #fff;
			}
			.tb-title{
				background-color: #fff;
			}
		}
		&.tpl{
			.tb-icon{
				color:@tb_primary_color;
			}
			&:hover{
				.tb-icon{
					border-color: @tb_primary_color;
				}
			}
		}
		&.tpl2{
			.tb-icon{
				border: none;
				font-size: 48px;
				background-color: transparent;
				color: #fff;
			}
			.incremental-counter{
				.num{
					display: inline-block;
				}
			}
			.tb-title{
				color: #fff;
				padding-top: 14px;
				font-size: 44px;
				color: #fff;
				padding-bottom: 5px;
				background-color: transparent;
			}
			.tb-content{
				font-size: 16px;
				color: #fff;
			}
			&:hover{
				color:@tb_primary_color;
				.tb-icon{
					color:@tb_primary_color;
				}
			}
		}
		&.tpl3{
			border:1px solid #ededed;
			// margin-bottom: 0;
			span{
				display: inline-block;
			}
			.tb-icon{
				.easing-animation;
				color:@tb_primary_color;
				border: none;
				width:70px;
				text-align: center;
				&:hover{
					color:#272727;
					padding-left: 5px;
				}
			}
			.tb-title-icon{
				margin-bottom: 0;
			}
		}
	}
}
// fix over border
.fixed-overborder{
	> .container > .row{
		margin-left: 0;
		margin-right: 0;
		> .wpb_column{
			padding-left: 0!important;
			padding-right: 0!important;
			z-index: 3;
			// margin-top:-82px;
			.tb-service-wrap{
				background-color: #fff;
				.tb-service {
					margin: 0 0 20px;
					min-height: 110px;
					z-index:1;
					background-color: #fff;
				}
			}
			&:first-child .tb-service-wrap:before,&:first-child .tb-service-wrap:after,&:last-child .tb-service-wrap:after{
				width: 11px;
			    position: absolute;
			    top: 0;
			    height: 100px;
			    content: "";
			    z-index: 0;
			    bottom:auto;
			    float: none;
			}
			&:first-child{
				margin-top: -82px;
				.tb-service-wrap:before{
					box-shadow: -1px 5px 10px rgba(0,0,0,0.4);
					left: 0;
					right: auto;
					border-bottom-left-radius: 60%;
				}
			}
			&:first-child .tb-service-wrap:after{
				box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
				right: 0;
				left:auto;
				border-bottom-right-radius: 60%;	
			}
		}
		
	}
			
}
@media(min-width:991px){
	.fixed-overborder{
		> .container > .row{
			> .wpb_column{
				margin-top:-82px;
				&:last-child .tb-service-wrap:after{
					box-shadow: 1px 5px 10px rgba(0,0,0,0.4);
					right: 0;
					left:auto;
					border-bottom-right-radius: 60%;
				}
			}
			
		}
				
	}
}

@media(max-width:992px){
	.fixed-overborder{
		> .container > .row{
			> .wpb_column{
				margin-bottom: 50px;
				&:last-child{
					margin-bottom: 33px;
				}
			}
		}
				
	}
}