.tb-team{
	.tb-box-inner{
		margin-bottom: 30px;
	}
	.tb-image-name{
		margin: 14px 0 10px;
		.tb-name{
			font-size: 15px;
			margin-bottom: 4px;
		}		
	}
	.tb-social{
		a{
			font-size: 20px;
			margin-right: 25px;
			color: #dadada;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				color: @tb_primary_color;
			}
		}
	}
}