// slides
.tb-flex-slider,.tb-testimonial-slider{
	.flex-control-paging {
    	width:auto;
    	left: 50%;
    	transform:translateX(-50%);
		position: absolute;
		max-height: 20px;
		text-align: center;
		> li {
			display: inline-block;
			margin: 0 5px;
			> a {
				display: inline-block;
				width: 12px;
				height: 12px;
				color: #fff;
				background: #fff;
				border: 1px solid #fff;
				-webkit-border-radius: 20px;
				-moz-border-radius: 20px;
				border-radius: 20px;
				overflow: hidden;
				&.flex-active, &:hover, &:focus {
					color: transparent;
					background: transparent;
				}
			}
		}
	}
}
.ct-testimonial{
	h3.cayto-title{
		position: absolute;
		top:78px;
		width: 100%;
	}
}
.tb-testimonial-slider {
	position: relative;
	.tb-testimonial-1 {
		.tb-item {
			.tb-image{
				img{
					width: 60px;
				    display: inline-block;
				    border-radius: 50%;
				    height:60px;
				    text-align: center;
				    box-shadow: none;
				    background-color: #fff;
				}
			}
			.tb-image-name {
				display: inline-block;
				.tb-name{
					margin-bottom: -2px;
					a{
						font-size: 14px;
					}
				}
				.tb-company{
					font-size: 12px;
				}
			}
		}
		&.tpl{
			margin: -55px 0 18px;
			.tb-item {
				color: #fff;
				text-align: center;
				.tb-excerpt {
					max-width: 85%;
					margin: 65px auto 20px;
				}
				.tb-image{
					img{
						border: 8px solid #fff;
						width: 110px;
						height: 110px;
					}
				}
				.tb-image-name {
					position: relative;
					color: #fff;
					.tb-name{
						margin-left: -0.5em;
						a{
							color: #fff;
							position: relative;
							&:before,&:after{
								position: absolute;
								bottom: 3px;
								content:"";
								width: 18px;
								border-top: 1px solid #fff;
								left: -32px;
							}
							&:after{
								left: auto;
								right: -32px;
							}
						}
					}
				}
				.tb-excerpt{
					margin-bottom: 19px;
				}
			}
		}
		&.tpl1{
			.tb-item {
			
				.tb-image{
					float: left;
					margin-right: 17px;
				}
				.tb-image-name{
					padding-top:14px;
				}
			}
		}
	}
    .flex-control-paging {
		// top:122px;
		top:auto;
		margin-bottom: 10px;
	}
}
.sidebar-area{
	.tb-testimonial-slider{
		.flex-control-nav{
			display: none;
		}
	}
}

#colection_slider{
	.slide-content{
		position: relative;
		.slide-text{
			position: absolute;
			bottom:50px;
			text-align: center;
			width: 100%;
		}
		h2{
			font-family:@tb_google_font_1;
			color: #fff;
			font-size: 25px;
			margin-bottom: 0;
			line-height: 1;
			text-transform: uppercase;
		}
		h3{
			font-size: 14px;
			color: #fff;
			text-transform: uppercase;
			margin-bottom: 0;
		}
		img{
			width: 100%;
		}
	}
	.flex-control-paging{
		bottom: 15px;
	}
}
.tb-flex-slider{
	li{
		img{
			opacity: 0.8;
			.thumb-pd-scale;
		}
		&:hover{
			img{
				opacity: 1;
				.thumb-pd-hover-scale;
			}
		}
	}
}

@media (max-width:767px){
	.ct-testimonial h3.cayto-title {
	    top: 133px;
	}
	.tb-testimonial-slider .flex-control-paging{
		top:175px;
	}
}