.icon-list li {
	text-align:    center;
	margin-bottom: 0px;
	display:       block;
	position:      relative;
	height:        26px;
	width:         26px;
	float:         left;
	cursor:        pointer;
}
.icon-list li:hover i:before {
	width:            44px;
	height:           44px;
	line-height:      44px;
	font-size:        26px;
	color:            #1d2329;
	background-color: #f8f8f8;
	cursor:           pointer;
	position:         relative;
	top:              -10px;
	left:             -10px;
	border-width:     1px;
	border-style:     solid;
	border-color:     #000;
	z-index:          10000;
	padding:          6px;
}

.icon-preview {
	margin-left: 15px;
	text-align:  center;
	font-size: 18px;
	display: inline-block;
}
.icon-search{
	display: inline-block;
}
#tb_closeWindowButton .tb-close-icon:before{
	content: "Ok";
	background: #357ebd;
	width: 30px;
	height: 30px;
	text-align: center;
	line-height: 25px;
	color: #fff;
	display: inline-block;
	font-size: 14px;
	font-weight: bold;
	opacity: 0.8;
}
#tb_closeWindowButton .tb-close-icon:hover:before{
	opacity: 1;
}
.description_width_25 label{
	width: 25%;
	float: left;
}
.description_width_100 label{
	width: 100%;
	float: left;
}
.description_width_25 label select,.description_width_50 label select{
	width: 90%;
 }
.description_width_100 label select{
	width: 100%;
}