/*
--------------------------------------------------------------
Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Example
s
* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* =Reset-------------------------------------------- */
/* STYLE GENERAL */
body{
	.bg_primary{
		background-color: @tb_primary_color;
	}
	.primary_color{
		color: @tb_primary_color;
	}
	.btn_primary{
		background-color: @tb_primary_color;
		&:hover{
			background-color: @tb_primary_color;
		}
	}
}
// update fix update visual
.row > .vc_column_container{
	padding-left: 15px;
	padding-right: 15px;
}
.tb-have-overlay{
	position: relative;
	&:before{
		position: absolute;
		content: "";
		width: 100%;
		height: 100%;
		background: rgba(19,19,19,0.5);
		left: 0;
		top: 0;
	}
}
#Container .mix{
	display: none;
}
.ro-hr {
    border-top: 1px solid #aaaaaa;
}
.inline_middle > .container > .row > .wpb_column{
	font-size: @tb_body_font_size;
}
a {
    -webkit-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
}
a:hover,
a:target,
a:focus{
	outline: none;
	color: @tb_primary_color;
}

input:focus, input:target,
textarea:focus, textarea:target,
select:focus, select:target{
	border-color: @tb_primary_color;
}
button, input[type="button"], input[type="button"]{
	border: solid 1px;
	&:hover{
		background: @tb_primary_color;
		color: #FFF;
	}
}
button:not(.wpb_button):hover,  
btn:hover, 
input[type="button"]:hover, input[type="submit"]:hover,
.btn:hover{
	background: none;
}

mark {
    background: none repeat scroll 0 0 @tb_primary_color;
    border-radius: 3px;
    color: #fff;
    padding: 2px 6px;
}
.icon-basic-heart.fa-heart{
	background: #444444;
}
.wpb_single_image img {
	width: 100%;
	height: auto;
}
.tb-blog{
	margin-bottom: 35px;
	.blog-info{
		width: 75%;
		float: left;
	}
	.tb-content-block{
		img{
			max-width: 100%;
		}
	}
	.tb-social-buttons{
		float: right;
		text-align: right;
		margin-right: -4px;
		a{
			text-align: center;
			width: 25px;
			height: 25px;
			line-height: 25px;
			margin:2px;
		}
		&:after{
			content:"";
			display: table;
			clear:both;
		}
		.icon-twitter{
			&:before{
				margin-left: -2px;
			}
		}
	}
}
.tb-post-list {
	.tb-post-side {
		margin-bottom: 20px;
		.tb-post-side-img {
			float: left;
			height: 55px;
			opacity: 1;
			width: 90px;
			overflow: hidden;
			transition: all 0.4s ease-in-out 0s;
			-webkit-transition: all 0.4s ease-in-out 0s;
			-moz-transition: all 0.4s ease-in-out 0s;
			-o-transition: all 0.4s ease-in-out 0s;
			&:hover {
				opacity: 0.7;
			}
		}
		.tb-post-side-ct {
			margin-left: 100px;
			position: relative;
			top: -6px;
			a {
				color: #444444;
				transition: all 0.3s ease-in-out 0s;
				-webkit-transition: all 0.3s ease-in-out 0s;
				-moz-transition: all 0.3s ease-in-out 0s;
				-o-transition: all 0.3s ease-in-out 0s;
				&:hover {
					color: #84c340;
				}
			}
			.date {
				color: #bdbdbd;
				display: block;
				font-style: italic;
				font-weight: 400;
			}
		}
	}
}

/* Overlay on row */
.have-overlay{
	position: relative;
	.overlay-background{
		position: absolute;
		width: 100%; 
		height: 100%;
		top: 0;
		left: 0;
	}
}

.widget_ct_new_tabs_widget{
	.nav-tabs{
		border: none;
		text-align: center;
		li{
			margin-right: 10px;
			display: inline-block;
			float: none;
			overflow: hidden;
			border-radius: 20px;
			z-index: 2;
			a{
				border-color: #D3D3D3;
				color: #D3D3D3;
				border-radius: 0;
				line-height: 20px;
				padding: 6px 12px;
				border-radius: 20px;
				text-transform: capitalize;
				&:hover{
					background: none;
				}
			}
			&.active a{
				border: solid 1px @tb_primary_color;
				color: @tb_primary_color;
			}
		}
	}
	.tab-content{
		margin-top: 30px;
		border: none;
		.tab-pane{
			.news-list{
				margin: 0;
				padding: 0;
			}
			&.active{
				animation: slideUp .3s;
				-webkit-animation: slideUp .3s;
			}
		}
	}
}
.tb-left{
	.tb-blog.default{
		position: relative;
		.tb-blog-image {
			width: 50%;
			position: relative;
		}
		.tb-content-block{
			padding: 50px 40px 50px 60px;
			height: 100%;
			position: absolute;
			right: 0;
			top: 0;
			width: 50%;
			.blog-desc {
				height: 50%;
				overflow: hidden;
				text-overflow: ellipsis;
			} 
			&:before{
				border-bottom: 20px solid transparent;
				border-right: 26px solid #abdce1;
				border-top: 20px solid transparent;
				content: " ";
				height: 0;
				left: -25px;
				position: absolute;
				top: 60px;
				width: 0;
			}
			h2.blog-title a {
				font-style: italic;
			}
			h2.blog-title, .blog-desc, .blog-info{
				padding: 0;
			}
			h2.blog-title:after{
				margin-left: 0 !important;
			}
		}
	} 
}
.tb-right{
	.tb-blog.default{
		position: relative;
		.tb-blog-image {
			width: 50%;
			position: relative;
			float: right;
		}
		.tb-content-block{
			padding: 50px 40px 50px 60px;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			width: 50%;
			.blog-desc {
				height: 50%;
				overflow: hidden;
				text-overflow: ellipsis;
			} 
			&:before{			
				border-bottom: 20px solid transparent;
				border-left: 26px solid #d9d8c1;
				border-top: 20px solid transparent;
				content: " ";
				height: 0;
				position: absolute;
				right: -25px;
				top: 60px;
				width: 0;
			}
			h2.blog-title a {
				font-style: italic;
			}
			h2.blog-title, .blog-desc, .blog-info{
				padding: 0;
			}
			h2.blog-title:after{
				margin-right: 0 !important;
			}
		}
	} 
} 
.tb-blog{
	&.entry{
		article{
			margin-bottom: 30px;
			position: relative;
			.shortcode-video{
				padding: 0 !important;
				background: none !important;
			}
			.tb-content-block{
				position: absolute;
				width: 80%;
				height: 80%;
				left: 10%;
				top: 10%;
				text-align: center;
				opacity: 0;
				transform: rotate(-10deg);
				-webkit-transform: rotate(-10deg);
				transition: .4s;
				-webkit-transition: .4s;
				
				.blog-title,.blog-desc,.blog-info{
					position: relative;
					
					p{
						text-align: justify;
					}
				}
				.blog-title{
					position: absolute;
					top: 47%;
					left: 50%;
					transform: translate3d(-50%, -50%, 0);
					-webkit-transform: translate3d(-50%, -50%, 0);
					-ms-transform: translateX(-50%) translateY(-50%);
					width: 100%;
					a{
						font-size: 16px;
						position: relative;
						text-transform: capitalize;
						letter-spacing: 3px;
						color: #444;
						&:after{
							content: "";
							position: absolute;
							width: 30px;
							height: 1px;
							left: 50%;
							transform: translateX(-50%);
							-webkit-transform: translateX(-50%);
							bottom: -10px;
							border-bottom: solid 1px;
						}
					}
				} 
				.blog-info,.blog-info a{
					font-size: 13px;
				}
				.blog-info{
					color: #d0d0d0;
					overflow: hidden;
				}
				.tb-social-buttons{
					padding: 10px 0;
				}
				.tag-links{
					a{
						border: 1px solid;
						border-radius: 2px;
						display: inline-block;
						line-height: normal;
						margin-right: 2px;
						padding: 0 5px;
						&:hover{
							color: #FFF;
						}
					}
				}
				.about-author{
					padding: 20px;
					margin-top: 20px;
					background: #FAFAFA;
					border-top: solid 2px @tb_primary_color;
					.author-avatar{
						width: auto;
						display: inline-block;
						width: 160px;
						vertical-align: top;
						line-height: 0;
						img{
							width: 100%;
							border-radius: 50%;
						}
					}
					.author-info{
						width: ~"calc(100% - 180px)";
						display: inline-block;
						padding-left: 30px;
						.subtitle{
							font-size: 12px;
						}
						.name{
							text-transform: capitalize;
							font-weight: bold;
						}
					}
				}
			}
			&:hover{
				.tb-content-block{
					opacity: 1;
					transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
				}
				.tb-blog-image{
					img{
						transform: rotate(10deg) scale(1.3);
						-webkit-transform: rotate(10deg) scale(1.3);
					}
				}
			}
			blockquote{
				font-style: italic;
			}
		}
	}
	&.space{
		> div{
			article{
				max-width: 270px;
				margin: 0 auto 30px auto;
			}
			.tb-content-block{
				background: rgba(255,255,255,0.7);
			}
			&:nth-child(2n+1){
				.tb-content-block{
					background: rgba(198,217,198,0.7);
				}
			}
		}
	}
	&.default{
		article{			
			> div{
				width: 50%;
				float: left;
			}
			.tb-content-block{
				padding: 40px 0;
				position: relative;
				> div, > h2{
					padding: 0 40px;
				}
				h2.blog-title{
					margin-bottom: 30px;
					a{
						text-transform: capitalize;
						font-style: normal;
						color: #fff;
					}
					position: relative;
					&:after{
						border-top: 2px solid #ffffff;
						content: " ";
						display: block;
						height: 0;
						margin-left: auto;
						margin-right: auto;
						margin-top: 15px;
						width: 30px;
					}
				}
				.blog-info{
					font-size: 14px;
					font-style: italic;
					font-weight: 400;
					margin-top: 30px;
					text-align: right;
					span{
						display: inline-block;
						vertical-align: top;
						&:after{
							content: "/";
							padding: 0 20px;
						}
						&.comments-number:after{
							content: "";
						}
					}
				}
			}
		}
	}
	&.direction_left{
		article{
			> div{
				float: right;
			}
			.tb-content-block{
				.blog-title{
					text-align: right;
				}
			}		
		}
	}
}

.tb-blog{
	.tb-blog-image{
		overflow: hidden;
		&.team-single{
			box-shadow: none;
			border: 0;	
		}
		.colorbox-wrap{
			display: none !important;
		}
		img{
			transform: rotate(0deg) scale(1);
			-webkit-transform: rotate(0deg) scale(1);
			transition: 8s;
			-webkit-transition: 8s;
		}
	}
	.team{
		.tb-content-block{
			margin-top: 0 !important;
			margin-bottom: 20px;
			.blog-info{
				margin-top: 10px;
			}
		}
	}
	&.testimonial{
		.blog-title a{
			font-size: 16px;
			text-transform: capitalize;
		}
		article{
			margin: 0;
			padding: 50px 40px 0 40px;
			&:after{
				border-bottom: 1px solid #aaaaaa;
				content: "";
				display: block;
				margin: 50px auto 0 auto;
				width: 80%;
			}
		} 		
	}
	.navigation{
		margin-bottom: 20px !important;
	    height: 74px;
	    border-bottom: 1px solid #ebebeb;
	    border-top: 1px solid #ebebeb;
	    padding-top: 27px;
	}
	.pagination.ajax{
		padding: 70px 0;
		margin: 0;
		transition: opacity .4s;
		-webkit-transition: opacity .4s;
		&.blog-more-ajax-loading{
			opacity: .5;
			pointer-events: none;	
			background: url('assets/images/loading-animate.gif') center center no-repeat;
		}
		a{
			font-size: 18px;
			letter-spacing: 2px;
		}
	}
}

/* Entry Blog - vu */
.blog, .archive, .search{
	.tb-blog{
		padding-bottom: 30px;
	}
}
.tb-blog{
	article{
		margin-bottom: 30px;
	}
	.tb-blog-image{
		position: relative;
		margin-bottom: 18px;
		.tb-blog-date a{
			position: absolute;
			top: 0;
			left: 0;
			background: #4e4e4e;
			color: #fff;
			padding: 14px;
			font-size: 14px;
			line-height: 14px;
			text-transform: capitalize;
			&:hover{
				color: @tb_primary_color;
			}
		}
	}
	.tb-content-block{
		.blog-info{
			span{
				color: #3f3f3f;
				margin-right: 17px;
				i{
					margin-right: 7px;
					color:#646464;
				}
				a{
					color: #a1a1a1;
					text-transform: capitalize;
					&:hover{
						color: @tb_primary_color;
					}
				}
			}
		}
		.blog-title{
			color: #4e4e4e;
			text-transform: capitalize;
			font-size: 18px;
			line-height: 24px;
			margin: 5px 0 15px;
			a{
				color: #4e4e4e;
				&:hover{
					color: @tb_primary_color;
				}
			}
		}
		.blog-button{
			margin-top: 28px;
			a{
				background-color: transparent;
				border: 1px solid #c5c5c5;
				color: #747474;
				display: inline-block;
				outline: medium none;
				padding: 7px 34px;
				text-align: center;
				text-transform: capitalize;
				.border-radius(30px);
				&:hover{
					color: #fff;
					background: @tb_primary_color;
					border-color: @tb_primary_color;
				}
			}
		}
	}
}

.tb-pos-bottom {
    bottom: 0;
    position: absolute;
	width: 100%;
}
.line-end{
	display: none !important;
}
.tb-blog-content-outer{
	padding: 50px 0;
	.ro-post-relate{
		img{
			margin-bottom: 30px;
		}
		float: right;
		max-width: 200px;
	}
}
.post-template-basic-php{
	.tb-blog{
		.blog-info{
			text-align: right;
			margin-top: 25px;
			margin-bottom: 25px;
			 >span{
				 margin-left: 55px;
				 a{
					 color: @tb_primary_color;
				 }
			 }
		}
	}
}
.tb-blog{
	> .row{
		margin-bottom: 20px;
	}
	.post{
		&.sticky{
			background: #e1e1e1;
			color: #000000;
			padding: 30px;
			position: relative;
			.blog-title{
				color: @tb_primary_color;
				a{ color: @tb_primary_color;}
			}
			a{ color: @tb_primary_color;}
			.divider-1{
				span{
					background: #e1e1e1;
					i{
						color: #FFFFFF;
					}
				}
			}
			&:after{
				width: 70px;
				height: 70px;
				position: absolute;
				text-align: center;
				content: "";
				top: -35px;
				right: -35px;
				z-index: 1;
				border: 35px solid transparent;
				border-left-color: #000000;
				transform: rotate(-45deg);
				-webkit-transform: rotate(-45deg);
			}
			&:before{
				content: "\f08d";
				position: absolute;
				top: 5px;
				right: 10px;
				z-index: 2;
				color: #FFFFFF;
				font-family: 'FontAwesome';
			}
		}
	}
	.tb-blog-image{
		line-height: 0;
		position: relative;
		.blog-note{
			position: absolute;
			top: 35px;
			left: 35px;
			padding: 15px;
			width: 242px;
			border: 1px solid #AAAAAA;
			background: rgba(255, 255, 255, 0.7);
			font-size: 18px;
			.blog-note-texts{
				font-style: italic;
				margin: 20px 12px;
				line-height: 25px;
			}
			.blog-note-top{
				position: absolute;
				right: 15px;
				font-size: 18px;
				line-height: 18px;
			}
			.blog-note-bottom{
				position: absolute;
				right: 15px;
				font-size: 18px;
				line-height: 18px;
				bottom: 15px;
			}
		}
	}
	&.blog{
		article{
			border-bottom: 1px solid #444;
			.blog-title{
				font-size: 36px;
				margin-bottom: 50px;
				margin-top: 60px;
				font-style: italic;
			}
			
			.tb-content-block{
				margin-top: 30px;
			}
			.blog-info{
				text-align: right;
				margin-top: 25px;
				margin-bottom: 25px;
				 >span{
					 margin-left: 55px;
					 a{
						 color: @tb_primary_color;
					 }
				 }
			}
			.shortcode-video{
				background: #000;
				padding: 7px;
			}
		}
		.row{
			&:first-child{
				.blog-title{
					margin-top: 0;
				}
			}
		}
	}
}
.title-bar{
	position: relative;
	padding: @tb_title_bar_padding;
	margin: @tb_title_bar_margin;
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0; left: 0;
		background: rgba(0,0,0,0.4);
	}
}
.title-bar, .woocommerce div.title-bar {
	color: @tb_title_bar_text_color;
	h1,h2,h3,h4,h5,h6{
		color: #ffffff;
		position: relative;
	}
	a{
		color: @tb_primary_color;
		&:hover{
			color: @tb_primary_color;
		}
	}
	.page-title{
		margin: 0;
		padding: 0;
		font-weight: 400;
		line-height: 30px;
		font-size: 32px;
		text-transform: capitalize;
	}
}
.tb-breadcrumb{
	padding:20px 0;
	font-size: 14px;
	.woocommerce-breadcrumb{
		font-size: 14px;
	}
	a{
		padding:0 8px;
		&:hover{
			color: @tb_primary_color;
		}
	}
	span{
		padding: 0 8px;
		color:#333;
	}
	.woocommerce-breadcrumb{
		margin:0;
	}
}

@media (max-width: 767px) {
	.title-bar, .woocommerce .title-bar-shop{
		.page-title, .page-breadcrumb, .woocommerce-breadcrumb {
			text-align: center;
		}
		.page-title {
			margin-bottom: 10px;
		}
	}
}
.col-middle{
	line-height: 30px;
}
.post-navigation{
	.nav-links{
		text-align: right;
		.nav-previous ,.nav-next {
			display: inline-block;
			.btn{
				display: inline-block;
				vertical-align: top;
				font-weight: 300;
				width: 100px;
				color:@tb_primary_color;
				border: none;
				padding:0;
				font-size: 15px;
				box-shadow: none;
				&:hover{
					color:#383838;
				}
				&.disabled{
					color:#a8a8a8;
				}
				i{
					font-size: 18px;
					&:before{
						position: relative;
						top:2px;
					}
					&.fa-caret-left{
						padding-right: 10px;
					}
					&.fa-caret-right{
						padding-left: 10px;
					}
				}
			}
		}
	}
}
.comments-area{  
	margin-top: 30px;
	.comments-title{
		border-bottom: 1px solid #ebebeb;
		margin-bottom: 32px;
		small{
			text-transform: none;
		}
		legend{
			display: inline-block;
			margin-bottom: -4px;
			padding-right: 10px;
			width: initial;
			color: #272727;
			font-size: 16px;
			line-height: 18px;
			text-transform: capitalize;
		}
	}
	.comment-list{
		padding-left: 0;
		margin-bottom: 52px;
		li{
			padding: 0 !important;
			border-top: none !important;
			list-style: none;
			ol.children{
				padding-left: 70px;
			}
			.comment-body{
				position: relative;
				margin-top: 28px;
				.comment-avatar{
					position: absolute;
					left: 0;
					top: 0;
					img{
						max-width: 60px;
						.border-radius(50%);
					}
				}
				.comment-info{
					position: relative;
					padding: 22px 15px 7px 100px;
					&:before{
						position: absolute;
						width: ~"calc(100% - 75px)";
						left:75px;
						top:0;
						content:"";
						height: 100%;
						background-color: #f8f8f8;
					}
					.comment-header-info{
						position: relative;
						margin-bottom: 3px;
						> div {
							display: inline-block;
						}
						.comment-author{
							color: #3f3f3f;
							font-size: 16px;
							font-weight: normal;
							text-transform: capitalize;
							margin-right: 15px; 
						}
						.comment-date{
							a{
								font-size: 12px;
								color: @tb_primary_color;
								margin-right: 30px; 
								&:hover{
									color: #3f3f3f;
								}
							}
						}
						.reply{
							a{
								font-size: 12px;
								color: #d9d9d9;
								&:hover{
									color: @tb_primary_color;
								}
							}
						}
					}
					p{
						position: relative;
						line-height: 22px;
					}
					.comment-footer .comment-meta, .comment-footer .reply{
						text-align: right;
						text-transform: initial;
						font-size: 14px;
						font-style: italic;
						display: inline-block;
						vertical-align: top;
						a{
							color: @tb_primary_color;
						}
					}
					.comment-footer .reply{
						margin-left: 5px;
						a{
							color: #444;
							font-size: 30px;
							&:hover{
								color: @tb_primary_color;
							}
						}
					}
				}
			}
		}
	}
	.comment-respond{
		.comment-reply-title{
			text-transform: capitalize;
			color: #272727;
			font-size: 16px;
			margin-bottom: 0;
		}
	}
}

.comment-form{
	margin: 14px 0 25px;
	p{
		line-height: normal;
		margin-bottom: 20px;
		&.comment-form-author, &.comment-form-email, &.comment-form-url, &.comment-form-comment	{
			width: 100%;
			display: inline-block;
			margin-top: 0;
		}
		input, textarea{
			margin-bottom: 0;
		}
		label{
			font-size: 13px;
			color: #5f5f5f;
			font-weight: normal;
			margin-bottom: 8px;
			span{
				color: @tb_primary_color;
			}
		}
		&.form-submit{
			margin: 0;
			.submit{
				.btn-transparent;
			}
		}
	}
}
@media (max-width: 361px){
	.comment-form{
		p.comment-form-email{
			margin-left: 0;
		}
	}
}
.pagination{
	width: 100%;
	margin:0 0 30px 0;
	.border-radius(0);
	padding: 12px 0 30px;
	border-top: 1px solid #ebebeb;
	.page-numbers{  
		border: 1px solid #ebebeb;
	    color: #b7b7b7;
	    display: inline-block;
	    line-height: 30px;
		width: 30px;
		height: 30px;
		background: transparent!important;
		font-size: 12px;
		padding: 0;
		text-align: center;
	    &.current, &:hover{
		    border-color: @tb_primary_color;
		    color: @tb_primary_color;
	    }
	}
}
.tb_footer{
	&.bottom-section{
		.widget_text:last-child{
			margin-top: 10px;
		}
	}
	.newsletter{
		form{
			position: relative;
			overflow: hidden;
			padding-right: 90px;
			max-width: 460px;
			p{
				margin: 0;
				&:last-child {
					position: absolute;
					top: 0;
					right: 0;
					width: 110px;
				}
			}
			input{
				margin: 0;
				border: 0;
				padding: 0 15px;
				height: 40px;
				line-height: 40px;
				border-color: transparent;
				background-color:#0a0a0a;
				box-shadow: none;
				color:#525252;
				&:focus {
					color: #fff;
				}
			}
			input[type="submit"]{
				background: #676767;
				font-size: 12px;
				color: #fff;
				line-height: 35px;
				.border-radius(0);
				&:hover,&:active{
					background: @tb_primary_color;
				}
			}
		}
	}
	.socials{
		li{
			display: inline-block;
			margin-right: 15px;
			margin-bottom: 15px;
			a{
				font-size: 18px;
				display: inline-block;
				text-align: center;
				color:@tb_primary_color;
				width:33px;
				height: 33px;
				line-height: 33px;
				border: 1px solid #4c4c4c;
				background-color: transparent;
				.border-radius(50%);
				&:hover{
					border-color: @tb_primary_color;
					background-color: @tb_primary_color;
					padding-left: 0!important;
					color:#fff!important;
				}
			}
		}
	}
	// Footer header
	.footer-header{
		padding:30px 0 15px;
		background-color: @tb_primary_color;
		position: relative;
		&:before{
			content: "";
			top:0;
			left: 0;
			position: absolute;
			.hex2rgba( @light-color, 70 );
			width:100%;
			height: 100%;
		}
		.socials{
			li{
				margin:0;
				a{
					font-size: 20px;
					width: 40px;
					height: 40px;
					line-height: 40px;
					background-color: #fff;
					margin-left: 12px;
					margin-right: 0;
					border:none;
					&:hover{
						background-color: #292929;
					}
				}
			}
		}
		.tb_footer_bottom_right{
			margin-top: 7px;
		}
		form{
			.newsletter-email{
				color:#b7b7b7;
				background-color:#fff;
				&:focus{
					color:#000;
				}
			}
			input[type="submit"]{
				background: #292929;
				&:hover{
					background-color: #000;
				}
			}
		}
	}
	/* footer-top */
	.footer-top{
		.widget{
			h3{
				color: #9d9d9d;
				font-size: 18px;
				margin-bottom: 12px;
				font-weight: 700;
			}
			ul{
				list-style: none;
				margin: 0;
				padding: 0;
				li{
					text-align: left;
					line-height: 28px;
					a{
						.easing-animation;
						-webkit-transition-duration:0.2s;
						transition-duration:0.2s;
						color: #fff;
						&:hover{
							padding-left: 5px;
							color: @tb_primary_color;
						}
					}
				}
				&.ct-contact{
					margin-top: 17px;
					li{
						a{
							position: relative;
						    padding-left: 32px;
						    display: block;
						    font-size: 13px;
						    line-height: 20px;
						    margin-bottom: 13px;
						    i{
					    	    position: absolute;
							    left: 0;
							    top: 50%;
							    font-size: 16px;
							    -webkit-transform: translateY(-50%);
							    transform: translateY(-50%);
						    }
						    &:first-child{
						    	i{
						    		left: 4px;
						    	}
						    }
						}
					}
				}
				.newsletter{
					max-width: 300px;
					margin-bottom: 30px;
					form{
						margin-top: 20px;
						padding-right: 90px;
						p{
							&:last-child {
								width; 100px;
							}
						}
						input{
							background: #0a0a0a;
							color:#525252;
							&:focus {
								color: #fff;
							}
						}
						input[type="submit"]{
							background: #676767;
						}
					}
				}
			}
		}
		.tb_footer_top_once{
			li{
				position: relative;
				margin-bottom: 10px;
				padding-left: 50px;
				a{
					i{
						position: absolute;
						top: 8px;
						left: 0;
						color: #fff;
						height: 33px;
						width: 33px;
						line-height: 30px;
						text-align: center;
						border: 1px solid #727272;
						font-size: 16px;
						display: inline-block;
						.border-radius(50%);
					}
					span{
						color: #727272;
						font-size: 13px;
					}
				}
			}
		}
		.tb_footer_top_two, .tb_footer_top_three, .tb_footer_top_four{
			li{
				margin-bottom: 7px;
			}
		}
		.tb_footer_top_five{
			.newsletter{
				margin-bottom: 20px;
				form{
					margin-top:22px;
				}
			}
			ul.socials{
				margin-top: 21px;
				margin-bottom: 15px;
			}
		}
	}	
	/* footer-bottom */
	.footer-bottom{
		h6 {
			margin: 10px;
			letter-spacing: 1.6px;
		}
		.tb_footer_bottom_left {
			.widget {
				margin-top: 5px;
				a {
					color: #ffffff;
				}
			}
		}
	}
	.tb_footer_bottom_right{
		text-align: right;
		ul{
			line-height: 0;
			list-style: none;
			margin: 0;
			padding: 0;
			li{
				display: inline-block;
				img{
					opacity: 0.5;
					&:hover{
						opacity: 1;
					}
				}
				+ li{
					margin-left: 15px;
				}
			}
		}
	}
	&.tb_footer_v3{
		.footer-bottom{
			background-color: #fff!important;
			border-top: 1px solid #f0f0f0;
			.tb_footer_bottom_left .widget a{
				color:@tb_primary_color;
			}
		}
		.footer-top{
			background-color: #f8f8f8!important;
			 .widget{
			 	h3{
			 		color:#242424;
			 		font-weight: 400;
			 	}
			 	ul li a{
				 	color:#747474;
				 }
				 &.widget_product_tag_cloud a {
				    background-color: #fff;
				    color: #747474;
				    border-color: #ececec;
				    &:hover{
				    	background-color: #2e2e2e;
				    	color:@tb_primary_color;
				    }
				}
				ul.ct-contact li a{
					padding-left: 55px;
					i{
						border: 1px solid #ececec;
					    width: 40px;
					    height: 40px;
					    text-align: center;
					    line-height: 40px;
					    border-radius: 50%;
					}
				}
			 }
		}
	}

}

@media(max-width: 767px) {
	
	.tb_footer {
		.footer-header {
			.newsletter {
				form{
					padding-right: 0;
					margin: 0 auto 10px;
				}
			}
			.socials{
				padding-left: 0;
				text-align: center;
			}
		}
		.footer-top {
			.tb_footer_top_once, .tb_footer_top_two, .tb_footer_top_three, .tb_footer_top_four {
				.widget {
					margin-bottom: 30px;
				}
			}
		}
		.footer-bottom {
			.textwidget {
				text-align: center;
				ul {
					display: inline-block;
					margin-top: 20px;
				}
			}
		}
	}

	// update fix response for mobile
	.main-content{
		padding-left: 15px;
		padding-right: 15px;
	}
}



/* widget widget_tag_cloud */
.widget{
	&.widget_tag_cloud{
		.tagcloud{
			a{
				border: 1px solid;
    			border-radius: 2px;
    			display: inline-block;
    			line-height: normal;
    			margin-right: 2px;
				margin-bottom: 4px;
    			padding: 0 5px;
    			&:hover{
    				color: @tb_primary_color;;
    			}
			}
		}
	}
}

/* Our categories style*/
.our-categories{
	.wpb_single_image{
		a {
			position: relative;
			display: inline-block;
			width: 100%;			
			&:before {
				content: "";
				position: absolute;
				width: 61px;
				height: 61px;
				background: rgba(0,0,0,0.4);
				border-radius: 50%;
				top: 50%;
				left: 50%;
				opacity: 0;
				.transform( translate(-50%,0) );
				.transition(all 700ms ease 0s);
			}
			.vc_single_image-wrapper{
				&:before{
					content: "";
					position: absolute;
					width: 1px;
					height: 21px;
					background: #fff;
					top: 50%;
					left: 50%;
					opacity: 0;
					.transform( translate(0) );
					.transition(all 700ms ease 0s);
				}
				&:after{
					content: "";
					position: absolute;
					height: 1px;
					width: 21px;
					background: #fff;
					top: 50%;
					left: 50%;
					opacity: 0;
					.transform( translate(0) );
					.transition(all 700ms ease 0s);
				}
			}
			&:hover{
				&:before, .vc_single_image-wrapper:before, .vc_single_image-wrapper:after{
					opacity: 1;
					.transform( translate(-50%,-50%) );
				}
			}
		}
	}
}

/*Stats*/
.tb_stats {
    padding: 50px 30px 50px 0;
    text-align: center;
    width: 100%;
    &.brddark {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        padding: 50px 30px 50px 0;
        text-align: center;
        width: 100%;
    }
    .num {
        color: #232d37;
        font-size: 40px;
        font-weight: 800;
        margin-bottom: 10px;
    }
    .type {
        color: #c3cdd7;
        font-size: 11px;
        font-weight: 200;
        letter-spacing: 2px;
        .white {
            color: #fff;
            font-size: 11px;
            font-weight: 200;
            letter-spacing: 2px;
        }
    }
    &.stats-alt {
        border-right: 1px solid #eff4f7;
        padding: 10px 0;
        text-align: center;
        width: 100%;
        &.brddark {
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            padding: 10px 0;
            text-align: center;
            width: 100%;
        }
        .num {
            color: #232d37;
            font-size: 20px;
            font-weight: 800;
            margin-bottom: 10px;
        }
        .type {
            color: #c3cdd7;
            font-size: 8px;
            font-weight: 200;
            letter-spacing: 2px;
            line-height: 12px;
            &.white {
                color: #fff;
                font-size: 8px;
                font-weight: 200;
                letter-spacing: 2px;
            }
        }
    }
}
/*Ul*/
.disc{
    li{
        list-style: disc;
    }
}
.decimal{
    li{
        list-style: decimal;
    }
}
ul.arrow,
ul.arrow-double,
ul.tick,
ul.cross,
ul.star,
ul.rss {
    list-style: none;
    padding: 0;
    margin: 0;
    li{
        &:after,&:before{
            font-family: FontAwesome;
            font-size: 11px;
            line-height: 22px;
			color: @tb_primary_color;
        }
    }
}
ul.arrow li::before,
ul.arrow-double li::before,
ul.tick li::before,
ul.cross li::before,
ul.star li::before,
ul.rss li::before {
    margin-right: 5px;
}
ul.arrow li::before {
    content: "\f105";
}
ul.arrow-double li::before {
    content: "\f101";
}
ul.tick li::before {
    content: "\f00c";
}
ul.cross li::before {
    content: "\f00d";
}
ul.star li::before {
    content: "\f006";
}
ul.rss li::before {
    content: "\f09e";
}
/*End Ul*/
/*Start Booking form*/
.rtb-booking-form{
	font-size: 0;
	.rtb-message{
		font-size: 16px;
		text-align: center;  
	}
	.reservation,.contact{
		display: inline-block;
		vertical-align: top;
		width: 50%;
		font-size: @tb_body_font_size;
		padding: 5px;
		input, textarea, select {
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			margin-bottom: 30px;
			font-size: 16px;
			min-height: 40px;
		}
	}
	.btn_submit {
		button{
			background: #444444;
			color: #FFF;
			font-size: 16px;
			padding: 10px;
			width: 100%;
			text-transform: capitalize;
			letter-spacing: 2px;
			&:hover{
				background: @tb_primary_color;
				border-color: @tb_primary_color;
			}
			font-size: @tb_body_font_size;
		}
	}
	legend{
		display: none;
	}
	label{
		width: 15%;
		display: inline-block;
	}
	input{
		padding: 10px;
		width: 100% !important;
		max-width: 100% !important;
		display: block;
	}
}
/*End Booking form*/
/*Plan*/
body{
    .plan {
		// max-width: 370px;
		margin: 0 auto 30px auto !important;
    	&.featured{
   			> li{
				.tb-btn-bd-1{
					font-size: 13px;
				}
				&.plan-name{
            		color: #FFF;
					background-color: @tb_primary_color;
					.uk-badge-danger{
						background: #FFF;
						color: @tb_primary_color;
						border-radius: 10px;
					}
        		}
            }
    	}
        position: relative;
        overflow: hidden;
        list-style: none outside none;
        margin: 0;
        padding: 0 0 50px;
		border: 1px solid #aaaaaa;
        text-align: center;
		.transition (all 0.4s ease 0s);
        ul{
			margin: 0;
        	padding: 40px 30px 30px;
			li:not(:first-child) {
				border-top: 1px solid #aaaaaa;
				line-height: 50px;
				padding: 0;
			}
        }
        li {
            .transition (all 0.4s ease 0s);
            list-style: none;
            background: #FFF;
			.tb-btn-bd-1{
				font-size: 13px;
			}
            &.plan-name{
                -webkit-border-radius: 0;
                -moz-border-radius: 0;
                border-radius: 0;
                border-top: 0 none;
                padding-top: 25px;
            }
            &.plan-price {
				position: relative;
                border-top: 0 none;
                padding: 0;
				line-height: 0;
				overflow: hidden;
				img{
					width: 100%;
				}
				.tb-overlay{
					position: absolute;
					left: 0;
					top: 0;
					width: 100%;
					height: 100%;
					z-index: 512;
					opacity: 0;
					padding: 10px;
					.transform(scale(0.1));
					.transition (all 0.4s ease 0s);
					.tb-cell-vertical-wrapper {
						display: table;
						height: 100%;
						width: 100%;
						background-color: rgba(255, 255, 255, 0.8);
						.tb-cell-middle {
							display: table-cell;
							vertical-align: middle;
							h1{
								margin: 0;
								.tb-small {
									font-size: 50%;
								}
							}
							h5{
								margin: 0;
							}
							
						}
					}
				}
            }
        }
        &:hover {
            li{
				&.plan-price{
					.tb-overlay{
						opacity: 1;
						.transform(scale(1));
					}
				}
			}
        }
    }
}
/*End Plan*/
/*Srart Right Fixed Sidebar */
.tb_right_fx_wrap{
	position: fixed;
	right:0;
	top: 210px;
	background: #FFF;
	z-index: 99999;
	.widget_shopping_cart{
		margin-bottom: 0 !important;
		position: relative;
		.wg-title{
			font-size: 0;
			padding: 10px;
			border: 1px solid #000;
			display: inline-block;
			margin-bottom: 0;
			&:after{
				content: "\f07a";
				font-family: FontAwesome;
				font-size: 20px;
				cursor: pointer;
			}
		}
		.widget_shopping_cart_content{
			visibility: hidden;
			position: absolute;
			top: 45px;
			right: 0;
			background: #FFF;
			min-width: 215px;
			transition: all 1s ease;
			transform: translateX(100%);
			&.active{
				visibility: visible;
				transform: translateX(0);
			}
			.product_list_widget{
				border-radius: 0;
			}
		}
	}
}
/*End Right Fixed Sidebar*/

/*Dropcap*/
.tb_dropcap:first-letter {
    color: #666;
    display: block;
    float: left;
    font-size: 50px;
    line-height: 40px;
    padding: 4px 8px 0 0;
    overflow: hidden;
}
/*End Dropcap*/

/*block number*/
.tb_blocknumber {
    min-height: 45px;
    padding: 5px 0 5px 60px;
    position: relative;
}
.tb_blocknumber span {
    display: block;
    font-weight: bold;
    height: 48px;
    left: 0;
    line-height: 48px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 48px;
}
.tb_blocknumber span.rounded {
    border-radius: 5px;
}
.tb_blocknumber span.circle {
    border-radius: 100%;
}
/* End block number */
/* Start bubble */
.tb_bubble{
    position: relative;
    cite {
        left: 15px;
        padding-left: 40px;
        bottom: -30px;
        display: block;
        height: 30px;
        line-height: 36px;
        position: absolute;
        span {
            border-left-color: transparent !important;
            border-bottom-color: transparent !important;
            left: 0;
            content: " ";
            display: block;
            height: 0;
            position: absolute;
            top: 0;
            width: 0;
        }
    }
}
.rtl .tb_bubble cite {
    padding-right: 40px;
    right: 15px;
    span {
        border-right-color: transparent !important;
        right: 0;
    }
}
/* End bubble */

/*Block text*/
.tb_block_text.rounded {
    border-radius: 5px;
}
/*End Block text*/
/* End Animate cart */
/* Css shortcode */
/* CSS SHORCODE GENERAL */
/* tb-boxshadow ( box-shadow ) */
.tb-boxshadow{
	box-shadow: 0 0 70px 8px rgba(0, 0, 0, 0.7);
}
/* colorbox */
.colorbox-wrap{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	.hex2rgba(@tb_primary_color, 60);
	overflow: hidden;
	opacity: 0;
	transition: .8s;
	-webkit-transition: .8s;
	&:hover{
		opacity: 1;
		.colorbox{
			animation: effZoom .3s ease;
			-webkit-animation: effZoom .3s ease;
		}
		.colorbox-inner a{
			transform: translateX(0) !important;
			-webkit-transform: translateX(0) !important;
			i{
				transition: .2s;
				-webkit-transition: .2s;
			}
			&:hover i{
				transform: scale(1.2);
				-webkit-transform: scale(1.2);
			}
		}
	}
	.colorbox{
		width: 50px;
		height: 50px;
		line-height: 46px;
		border-radius: 50%;
		border: solid 2px #FFF;
		text-align: center;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		i{
			color: #FFF;
			font-size: unset;
			transition: .3s;
			-webkit-transition: .3s;
		}
	}
	.colorbox-inner{
		display: inline-block;
		text-align: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate3d(-50%, -50%, 0);
		-webkit-transform: translate3d(-50%, -50%, 0);
		-ms-transform: translateX(-50%) translateY(-50%);
		a{
			display: inline-block;
			width: 50px;
			height: 50px;
			line-height: 46px;
			border-radius: 50%;
			border: solid 2px #FFF;
			margin: 0 5px;
			color: #FFF;
			&.cb-popup{
				transform: translateX(-100px);
				-webkit-transform: translateX(-100px);
			}
			&.cb-link{
				transform: translateX(100px);
				-webkit-transform: translateX(100px);
			}
		}
	}
	a{
		&:hover{
			i{
				.transform( scale(1.2) );
			}
		}
	}
	.tpl1 & {
		.colorbox{
			border: none;
		}
	}
}
/* END CSS SHORCODE GENERAL */

/* feature_box */
.feature-box{ 
	.feature-icon-image{
		position: relative;
		z-index: 2;
		.colorbox-wrap{
			z-index: 1;
			.colorbox i{
				font-size: unset;
				color: #FFF;
			}
		}
	}
	&.tpl1{
		&.circle{
			.feature-icon-image{
				border-radius: 50%;
				img{
					border-radius: 50%;
				}
				.colorbox-wrap{
					border-radius: 100%;
				}
				&:before{
					border-radius: 100%;
				}
			}
		}
		&.square{
			.feature-icon-image{
				border-radius: 4px;
				img{
					border-radius: 4px;
				}
				&:before{
					border-radius: 4px;
				}
			}
		}
		.feature-icon-image{
			width: 133px;
			height: 133px;
			margin: 0 auto;
			line-height: 132px;
			border: solid 1px transparent;
			box-shadow: 0 0 0 1px @tb_primary_color inset;
			padding: 4px;
			transition: .3s;
			-webkit-transition: .3s;
			> i{
				font-size: 24px;
				color: @tb_primary_color;
				transition: .3s;
				-webkit-transition: .3s;
			}					
			&:before{
				content: "";
				width: 100%;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				border: solid 1px transparent;				
			}
		}
		&:hover{
			.feature-icon-image{
				> i{
					color: #FFF;	
				}
				&:before{
					animation: borderAnimate .4s ease;
					-webkit-animation: borderAnimate .4s ease;
					transform: scale(1.13);
					-webkit-transform: scale(1.13);
				}
			}
		}
		&.left{
			.feature-icon-image{
				width: 100px;
				height: 100px;
				line-height: 100px;
				float: left;
			}
			.feature-block{
				padding-left: 120px;
				h4{
					padding-bottom: 0;
					padding-top: 0;
					margin-bottom: 15px;
					&:before{
						background: transparent;
					}
				}
			}
		}
		&.right{
			.feature-icon-image{
				width: 100px;
				height: 100px;
				line-height: 100px;
				float: right;
			}
			.feature-block{
				width: ~"calc(100% - 100px)";
				padding-right: 20px;
				h4{
					padding-bottom: 0;
					margin-bottom: 15px;
					padding-top: 0;
					&:before{
						background: transparent;
					}
				}
			}
		}
		.feature-block{
			margin-top: 20px;
			h4{
				position: relative;
				padding-bottom: 15px;
				margin-bottom: 15px;
				&:before{
					bottom: 0;
					content: "";
					left: 50%;
					position: absolute;
					transform: translate3d(-50%, 0px, 0px);
					-webkit-transform: translate3d(-50%, 0px, 0px);
					-ms-transform: translateX(-50%) translateY(0);
					width: 20%;
					height: 2px;
					background: @tb_primary_color;
				}
			}
			a{
				text-transform: capitalize;
			}
			
		}
	}
	&.border_white{
		border: 4px solid #FFFFFF;
		padding: 30px 0;
		img{
			width: auto !important;
		}
	}
	&.tpl2{
		.feature-block{
			h4{
				letter-spacing: 0.1em;
				position: relative;
				&:after{
					content: "";
					position: absolute;
					left: 50%;
					bottom: -8px;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
					width: 0px;
					height: 1px;
					transition: all 0.4s ease 0s;
					-webkit-transition: all 0.4s ease 0s;
				}
			}
		}
		&:hover{
			.feature-block{
				h4{
					&:after{
						width: 30px;
						background: #444;
						
					}
				}
			}
		}
		.feature-icon{
			overflow: hidden;
			span{
				display: inline-block;
				position: relative;
				&:after,&:before{
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					-webkit-transform: translateY(-50%);
					width: 500px;
					border-bottom: 1px dotted #D3D3D3
				}
				&:after{
					left: -515px;
				}
				&:before{
					right: -515px;
				}
				i{
					color: #D3D3D3;
				}
			}
		}
		&.right-arrow,&.left-arrow{
			position: relative;
			border-radius: 2px;
			overflow: visible!important;
			position: relative;
			z-index: 9;
			.feature-image{
				transform: scale(1) !important;
				-webkit-transform: scale(1) !important;
			}
			&:before {
				content: "";
				position: absolute;
				top: 20%;
				width: 10px;
				height: 10px;
				background: #555;
				border-radius: 100%;
			}
			
		}
		&.left-arrow:before{
			left: -20px;
		}
		&.right-arrow:before{
			right: -20px;
		}
		&.right-arrow:after,&.left-arrow:after{
			content: "";
			position: absolute;
			top: ~"calc(20% - 5px)";
			z-index: 0;
			border: 10px solid transparent;
		}
		&.right-arrow:after{
			right: -16px;
			border-left: solid 10px #f2f2f2;
		}
		&.left-arrow:after{
			left: -16px;
			border-right: solid 10px #f2f2f2;
		}
		&.left{
			overflow: hidden; 
			.feature-image{
				position: relative;
				width: 40%;
				display: inline-block;
				vertical-align: top;
				line-height: 0;
				transform: scale(1.02);
				-webkit-transform: scale(1.02);
				img{
					width: 100%;
				}
			}
			.feature-block{
				width: 60%;
				display: inline-block;
				padding: 40px 50px;
				margin-left: -4px;
				h4{
					position: relative;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
			}
		}
		&.right{
			overflow: hidden; 
			.feature-block{
				width: 60%;
				display: inline-block;
				padding: 40px 50px;
				h4{
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
			}
			.feature-image{
				width: 40%;
				display: inline-block;
				position: relative;
				vertical-align: top;
				line-height: 0;
				margin-left: -4px;
				transform: scale(1.02);
				-webkit-transform: scale(1.02);
				img{
					width: 100%;
				}
			}
		}
		&.center{
			// max-width: 370px;
			margin: 0 auto 30px auto !important;
			.feature-block{
				display: inline-block;
			}
			.feature-image{
				width: 100%;
				display: inline-block;
				position: relative;
				vertical-align: top;
				line-height: 0;
				margin-bottom: 30px;
			}
		}
	}
	&.tpl3{
		position: relative;
		.feature-block{
			position: absolute;
			top: 40px;
			left: 0;
			z-index: 3;
			> h3{
				margin-bottom: 30px;
				position: relative;
				color: #ffffff;
				transition: .4s;
				-webkit-transition: .4s;
				&:after{
					content: "";
					width: 0;
					border-bottom: 1px solid;
					position: absolute;
					left: 50%;
					bottom: -6px;
					transition: all 0.4s ease 0s;
					-webkit-transition: all 0.4s ease 0s;
					transform: translateX(-50%);
					-webkit-transform: translateX(-50%);
				}
			}
			> div{
				padding: 10px 20px;
				background: rgba(255,255,255,.7);
			}
		}
		transition: .4s;
		-webkit-transition: .4s;
		.feature-image{
			transition: .4s;
			-webkit-transition: .4s;
			position: relative;
			z-index: 1;
		}
		&:hover{
			.feature-block{
				> h3{
					transform: translateY(-10px);
					-webkit-transform: translateY(-10px);
					-ms-transform: translateY(-10px);
					&:after{
						width: 30px;
					}
				}
			}
			.feature-image{
				transform: scaleY(1.04);
				-webkit-transform: scaleY(1.04);
				-ms-transform: scaleY(1.04);
			}
		}
	}
}
/* Progress bar */
.vc_progress_bar{
	&.style1{
		&.small{
			.vc_single_bar{
				height: 8px;
				.vc_bar{
					height: 8px;
				}
			}
		}
		&.medium{
			.vc_single_bar{
				height: 16px;
				.vc_bar{
					height: 16px;
				}
			}
		}
		&.large{
			.vc_single_bar{
				height: 24px;
				.vc_bar{
					height: 24px;
				}
			}
		}
		.vc_single_bar,.vc_bar{
			border-radius: 100px !important;
		}
	}
}
/* button */
.wpb_button_a{
	position: relative;
	z-index: 2;
}
.wpb_button_a .wpb_button, .wpb_button{}
.wpb_button_a.rounded, 
.wpb_button_a.rounded .wpb_button, 
.wpb_button.rounded{
	border-radius: 100px;
}
/* Contact form */
.tb-form-contact{
	&.without-label{
		label{
			display: none;
		}
	}
	span{ 
		display: block;
		position: relative;
		&:after{
			color: #AAA;
			font-size: 14px;
			position: absolute;
			right: 22px;
			top: 50%;
			transform: translate3d(0, -50%, 0);
			-webkit-transform: translate3d(0, -50%, 0);
			-ms-transform: translateX(0) translateY(-50%);
			font-family: FontAwesome;
			font-style: normal;
			font-weight: normal;
		}
	}
	.form-name span:after{
		content: "\f007";	
	}
	.form-email span:after{
		content: "\f199";	
	}
	.form-telephone span:after{
		content: "\f095";	
	}
	.form-country span:after{
		content: "\f041";	
	}
	.form-city span:after{
		content: "\f041";	
	}
	.form-company span:after{
		content: "\f0b1";	
	}
	.form-website span:after{
		content: "\f1d8";	
	}
}

.team.normal{
	.tb-carousel-item-wrap{
		.item{
			// max-width: 370px;
			margin: 0 auto;
			margin-bottom: 30px;
			.slider-blog{
				.tb_carousel_content{
					padding: 0;
					text-align: center;
					.tb_carousel_title{
						margin: 20px 0 10px;
						a{
							font-size: 16px;
							text-transform: capitalize;
							letter-spacing: 3px;
						}
					} 
					.tb_position{
						font-style: italic;
						font-weight: 400;
						color: @tb_primary_color;
					}
					.tb_introtext{
						font-weight: bold;
					}
					.tb-social{
						margin-top: 10px;
						li a{
							font-size: 18px;
							color: #444; 
							&:hover{
								color: @tb_primary_color;
							}
						}
					}
				}
			}
		}
		&:first-child .slider-blog .tb_carousel_content{
			
		}
		&:last-child .slider-blog .tb_carousel_content{
			
		}
	}
}
/*Start Button Play video background */
.stripe-video-wrap{
	position: relative;
    video {
		position: absolute;
		left: 50%;
		transform: translate(-50%);
		-webkit-transform: translate(-50%);
	}
	.stripe-video-content {
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 2;
		transform: translate(-50%,-50%);
		-webkit-transform: translate(-50%,-50%);
	}	
	.tb-videobg-control-btn {
		background-position: center center;
		background-repeat: no-repeat;
		border: 2px solid rgba(255,255,255,.3);
		color: #ffffff;
		cursor: pointer;
		height: 102px;
		line-height: 102px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		width: 102px;
		transition: .3s;
		-webkit-transition: .3s;
		&:hover{
			border: 2px solid rgba(255,255,255,.8);
		}
	}	
	.tb-videobg-control-btn-normal {
		border-color: rgba(0, 0, 0, 0);
		height: auto;
		line-height: 50px;
		width: auto;
	}
	.control-btn-circle {
		border-radius: 100%;
		&:hover{
			animation: btnplayanimate 4s linear infinite; 
			-webkit-animation: btnplayanimate 4s linear infinite; 
		}
	}
	.control-btn-small {
		height: 48px;
		line-height: 48px;
		width: 48px;
	}
	.tb-videobg-control-btn-large {
		height: 102px;
		line-height: 101px;
		margin-bottom: 150px;
		margin-top: 150px;
		position: relative;
		width: 328px;
		.tb-fonts-giant {
			border-right: 1px solid #cccccc;
			display: inline-block;
			padding-left: 30px;
			padding-right: 30px;
		}
		.fa {
			height: 102px;
			line-height: 102px;
			position: relative;
			top: -10px;
			width: 102px;
		}
	}
}
.stripe-video-bg {
    height: 100%;
    left: 0;
    overflow: hidden;
    position: absolute !important;
    top: 0;
    width: 100%;
    z-index: 1;
	> video {
		visibility: visible;
		width: 100%;
	}
}
.tb-video-bg {
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9;
}
embed, iframe, object, video {
    border: medium none;
    max-width: 100%;
}
/*End Button Play video*/
/* class PIE DOT */
.pie-dot{
	position: relative;
	&:before{
		background: #FFF;
		border-radius: 100%;
		content: "";
		height: 8px;
		position: absolute;
		right: -2px;
		top: 20%;
		width: 8px;
	}
}
/* wpb_accordion */
.wpb_accordion{
	overflow: hidden;
	border: none;
	.wpb_accordion_section{
		border-bottom: none;
		margin-bottom: 30px;
		&:last-child{
			border: none;
		}
	}
	.wpb_accordion_wrapper{
		.wpb_accordion_header{
			font-family: "Roboto Slab" !important;
			font-weight: 400 !important;
			position: relative;
			margin-bottom: 20px !important;
			border-radius: 1px;
			overflow: hidden;
			margin-bottom: 0 !important;
			transition: background .4s;
			-webkit-transition: background .4s;
			a{
				margin-bottom: 0 !important;
				padding: 8px 55px !important;
				font-size: 16px;
				span{
					font-size: 24px;
					margin-right: 10px; 
					font-size: 15px !important;
				} 
			}
		}
		.wpb_accordion_content{
			padding: 0 !important;
		}
		.ui-state-default,.ui-state-active{
			.ui-icon{
				top: 50% !important;
				background-image: none !important;
				border-radius: 100%;
				width: 24px;
				height: 24px;
				left: 16px !important;
				right: initial;
				transform: translateY(-50%);
				-webkit-transform: translateY(-50%);
				&:after{
					position: absolute;
					font-size: 24px;
					left: 50%;
					top: 50%;
					font-family: "aqua icon" !important;
					font-style: normal;
					font-weight: normal;
					text-decoration: inherit;
					transform: translate3d(-50%, -50%, 0);
					-webkit-transform: translate3d(-50%, -50%, 0);
					-ms-transform: translateX(-50%) translateY(-50%);
				}
			}
		}
		.ui-state-default{
			.ui-icon:after{
				content: "\e177";
			}
		}
		.ui-state-active{
			.ui-icon:after{
				content: "\e170";
			}
		}
	}
}
/* wpb_tabs */
.wpb_tabs .ui-corner-top:hover{
	transition: .3s;
	-webkit-transition: .3s;
}
.wpb_tabs.woo-product-tabs{
	.wpb_tabs_nav{
		text-align: center;
		position: relative;
		margin-bottom: 30px;
		&:after{
			content: "";
			position: absolute;
			width: 100%;
			border-bottom: 1px solid #111;
			top: ~"calc(50% - 1px)";
			left: 0;
			z-index: 9;
		}
		li{
			background: #FFF !important;
			margin-left: 5%;
			position: relative;
			z-index: 10;
			float: none;
			display: inline-block;
			background: none;
			font-family: Roboto Slab;
			font-size: 18px;
			padding: 5px 30px;
			font-weight: 400;
			&:hover a{
				color: @tb_primary_color;
			}
			&.ui-state-active{
				font-size: 24px;
			}
			&:first-child{
				margin: 0;
			}
		}	
	}
	.wpb_tour_tabs_wrapper{
		.wpb_tab{
			background: none !important;
			padding: 0 !important;
		}
	}
}	

/* tb-btn */
.tb-btn{
	padding: 0 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	border-radius: 2px;
	transition: .4s;
	-webkit-transition: .4s;
	display: inline-block;
	span.tb-btn-inner-text{
		transition: .4s;
		-webkit-transition: .4s;
		display: inline-block;
	}
	i{
		transition: .3s;
		-webkit-transition: .3s;
	}
	&.tb-btn-border{
	}
	&.tb-btn-default{
		border: 1px solid @tb_primary_color;
	}
	&.tb-btn-icon{
		padding: 0 28px;
		i{
			position: absolute;
			right: -10px;
			top: 0;
			width: 36px;
			height: 36px !important;
			line-height: 36px !important;
			height: 100%;
			text-align: center;
			opacity: 0;
		}
		&:hover{
			span.tb-btn-inner-text{
				transform: translateX(-15px);
				-webkit-transform: translateX(-15px);
			}
			i{
				opacity: 1;
				right: 0px;
			}
		}
	}
	&.tb-btn-color-white{
		background: #FFF;
		color: #555;
	}
	&.tb-btn-color-black{
		background: #333;
		color: #FFF;
		&:hover{
			background: #555;
			color: #FFF;
		}
	}
}

.tb-btn-1 {
    background-color: @tb_primary_color;
    border: 0 none;
    color: #ffffff;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 10px 40px;
    text-align: center;
	.transition (all 0.4s ease 0s);
}
.tb-btn-1:hover {
    background-color: #444444;
    color: #ffffff;
}
.tb-btn-2 {
    background-color: #444444;
    border: 0 none;
    color: #ffffff;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 10px 40px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-2:hover {
    background-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-3 {
    background-color: #ffffff;
    border: 0 none;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 10px 40px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-3:hover {
    background-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-bd-1 {
    background-color: transparent;
    border: 1px solid #444444;
    display: inline-block;
	line-height: 1.2em;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-bd-1:hover {
    background-color: @tb_primary_color;
    border-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-bd-2 {
    background-color: #ffffff;
    border: 1px solid #444444;
	line-height: 1.2em;
    display: inline-block;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-bd-2:hover {
    background-color: @tb_primary_color;
    border-color: @tb_primary_color;
    color: #ffffff;
}
.tb-btn-bdr-1 {
    background-color: #eeeeee;
    border: 1px solid #444444;
	line-height: 1.2em;
    border-radius: 20px;
    display: inline-block;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
.tb-btn-bdr-2 {
    background-color: @tb_primary_color;
    border: 1px solid #444444;
	line-height: 1.2em;
    border-radius: 20px;
    display: inline-block;
    outline: medium none;
    padding: 9px 39px;
    text-align: center;
    .transition (all 0.4s ease 0s);
}
/* rtb-booking-form */ 
.rtb-booking-form{
	text-align: center;
	div{
		text-align: left;
	}
	button{
		width: 50%;
	}
	textarea{
		max-width: 100%;
		width: 100%;
	}
}
/* booking-form-2 */
.booking-form-2{
	.rtb-booking-form{
		.reservation,.contact{
			width: 80%;
			margin: 0 auto;
		}
		textarea{
			max-width: 100%;
			width: 100%;
		}
	}
}
.rtb-booking-form{
	form{
		textarea{
			max-width: 100%;
			width: 100%;
		}
	}	
}
/* tb-menu-text-item */
.tb-menu-text-item{
	width: 100%;
	line-height: 40px;
	.menu-item-inner{
		margin: 0;
		span{
			display: table-cell;
			&.title,&.price{
				width: 1%;
				font-style: italic;
				white-space: nowrap;
			}
			&.solid{
				width: 100%;
				overflow: hidden;
				position: relative;
				color: transparent;
				&:after{ 
					content: "";
					width: 80%;
					position: absolute;
					left: 10%;
					bottom: 10px;
					border-top: 1px solid #fff; 
				}
			} 
		}
	}
	.menu-item-desc{
		font-size: 12px;
		opacity: 0.8;
	}
}
/* tb-social */
.tb-social{
	margin: 0; 
	padding: 0;
	li{
		display: inline-block;
		vertical-align: top;
		a{
			margin: 0 6px;
			font-size: 16px;
		}
	}
}

/* tb-maps-info-content */
.tb-maps-info-content{
	h5{
		font-size: 13px;
	}
}

/*Page 404*/
.tb-error404-wrap{
	font-size: 24px;
	line-height: 22px;
	.overlay-background{
		opacity: 0.5;
	}
	a{
		font-size: 18px;
		&.btn-transparent{
			margin-left: 27px;
		}
	}
	.widget_search{
		#searchform{
			max-width: 472px;
			width: 80%;
		}
		#s{
		    font-size: 14px;
		    font-weight: 700;
		    color: #b0b0b0;
		    line-height: 35px;
		    padding-left: 15px;
		    height:47px;
			.placeholder(#b0b0b0);
			&:focus{
				color:#000;
			}
		}
		#searchsubmit{
			line-height: 27px;
			font-size: 18px;
		}
	}
}

.header-sidebar .sidebar-top-right{
	.widget_mini_cart_wrap{
		position: absolute;
		bottom: 0;
		right: 30px;
		.shopping_cart_dropdown{
			left: initial;
			right: 0 !important;
		}
	}
}

/* widget Cart */
.widget_mini_cart_wrap{
	display: inline-block;
	margin: 0 !important;
	&.tb-cart-empty{
		text-transform: capitalize;
	}
	.header{
		a.icon_cart_wrap{
				background-color: @tb_primary_color;
				position: relative;
				span.cart_total{
					position: absolute;
				    top: 50%;
					.transform( translateY(-18px) );
				    background: #fff;
				    color:#000;
				    width: 18px;
				    height: 18px;
				    text-align: center;
				    line-height: 19px;
				    border-radius: 50%;
				    right: -8px;
				    margin-top: -3px;
					font-size: 13px;
				    font-weight: normal;
				}
				&:hover {
					background-color: #393939;
					span.cart_total{
						color:@tb_primary_color;
						background-color: #fff;
					}
				}
		}
	}
	.shopping_cart_dropdown{
		color: #747474;
		background: #ffffff;
	    right: 0;
	    overflow: hidden;
	    position: absolute;
	    top: 100%;
	    z-index: 9999;
		padding: 10px 20px;
		.easing-animation;
		text-align: left;
		display: none;
		box-shadow: 2px 0 10px rgba(0,0,0,0.09);
		-webkit-box-shadow: 2px 0 10px rgba(0,0,0,0.09);
		min-width: 360px;
		@media (max-width: 767px) {
			min-width: 300px;
		}
		&.active {
			display: block;
			z-index: 998;
			-webkit-animation: fadeInUp @duration-time both;
			-moz-animation: fadeInUp @duration-time both;
			-o-animation: fadeInUp @duration-time both;
			animation: fadeInUp @duration-time both;
		}
	    ul.cart_list {
			margin: 0;
			padding: 0;
			> li {
				padding: 15px 0 15px 120px;
				position: relative;
				color: #747474;
				border-bottom: 1px solid #eee;
				min-height: 135px;
				> a {
					font-size: 13px;
					font-weight: 400;
					text-transform: capitalize;
					line-height: 28px;
					position: static;
					&:before{
						display: none;
					}
					&.remove {
						position: absolute;
						top: 50%;
						right: 0;
						width: 15px;
						height: 15px;
						font-size: 13px;
						font-weight: 400;
						line-height: 12px;
						color: #fff !important;
						background: @tb_primary_color;
						-webkit-transform: translateY(-50%);
						-moz-transform: translateY(-50%);
						-o-transform: translateY(-50%);
						-ms-transform: translateY(-50%);
						transform: translateY(-50%);
						text-align: center;
						padding-left: 1px;
					}
					> img {
						position: absolute;
						top: 15px;
						left: 0;
						width: 100px;
						height: 100px;
						margin: 0;
					}
				}
				.quantity {
					font-size: 15px;
					font-weight: 400;
					> span {
						font-size: 14px;
						color: #484848;
					}
				}
				&.empty {
					border: none;
					min-height: auto;
				}
			}
		}
		.total {
			font-size: 18px;
			font-weight: 400;
			text-transform: capitalize;
			color: #363636;
			padding-top: 15px;
			> strong {
				font-weight: 400;
				margin-right: 40px;
			}
			> span {
				font-size: 16px;
			}
		}
		.buttons > a {
			border: 1px solid #cccccc;
			-webkit-border-radius: 20px;
			-moz-border-radius: 20px;
			border-radius: 0;
			color: #747474;
			display: block;
			float: none !important;
			font-size: 13px;
			font-weight: 400;
			line-height: 18px;
			padding: 10px 15px;
			background: transparent;
			text-align: center;
			text-transform: capitalize;
			&.wc-forward {
				margin-bottom: 15px;
			}
			&:hover {
				background: @tb_primary_color;
				border-color: @tb_primary_color;
				color: #ffffff;
			}
		}
	}
}

/*Menu Canvas*/
.tb-menu-canvas {
	.easing-animation;
	line-height: 38px;
	min-width: 250px;
	position: absolute;
	right: 0;
	text-align: left;
	top: 100%;
	padding: 20px;
	overflow: hidden;
	background: #ffffff;
	display: none;
	-webkit-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.1);
	h3.wg-title {
		font-size: 14px;
		line-height: 28px;
		margin-bottom: 0;
	}
	ul {
		margin: 0;
		padding: 0;
		li a {
			color: #747474;
			line-height: 28px;
			> i {
				margin-right: 5px;
			}
			&:hover {
				color: @tb_primary_color;
			}
		}
	}
	&.active{
		display: block;
		z-index: 999;
		-webkit-animation: fadeInUp @duration-time both;
		-moz-animation: fadeInUp @duration-time both;
		-o-animation: fadeInUp @duration-time both;
		animation: fadeInUp @duration-time both;
	}
}

/*switch currency*/
.sidebar-header-right{	
	display: flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	justify-content: space-between;
	padding-top: 10px;
	padding-bottom: 10px;
	.dropdown-menu{
		border-radius: 0;
		box-shadow: none;
		li{
			a{
				padding: 10px;
			}
		}
	}
	.btn-group{
		position: relative;
		.btn.dropdown-toggle{
			font-size: 13px !important;
			font-weight: 600;
			padding: 10px !important;
			text-transform: capitalize;
			small{
				display: inline-block;
			}
		}
		&.open{
			.btn.dropdown-toggle{
				box-shadow: none;
			}
			span{
				.rotate(45deg);
			}
		}
	}
	.dd-container, .dd-select, a.dd-selected, a.dd-selected small {
		display: inline-block;
		font-size: 13px;
		font-weight: 600;
	}
	a.dd-selected{
		font-weight: normal;
		line-height: normal;
		padding-bottom: 0;
	}
	.dropdown-toggle{
		border: none medium;
		color: #000;
		span{
			border: 1px solid #000;
			width: 5px;
			height: 5px;
			position: absolute;right: 0;
			display: block;
			top: 45%;
			border-left: none medium;
			border-top: none medium;
			.rotate(45deg);
		}
	}
	.widget_ct_woo_ordering_widget, .widget-woocommerce-currency-switcher{
		display:inline-block;
		vertical-align: middle;
		margin-right: 5px;
	}
	.widget-woocommerce-currency-switcher{
		
		text-align: left;
		.dd-selected{
			font-size: 13px;
			font-weight: 600;
		}
	}
	.dd-options{
		min-width: 160px;
		.dd-option{
			label{
				font-weight: normal;
			}
			&:hover{
				background: #f5f5f5;
			}
		}
	}
	.dd-desc{
		color: #000;
		.dd-desc{
			line-height: inherit;
		}
	}
	.dd-select{
		border: none medium;
		background: none !important;
	}
	.dd-pointer-down{
		border: 1px solid #000;
		width: 5px;
		height: 5px;
		right: 0;
		border-left: none medium;
		border-top: none medium;
		.rotate(45deg);
		&.dd-pointer-up{
			border: 1px solid #000 !important;
			margin-top: 0;
			border-left: none medium !important;
			border-top: none medium !important;
			.rotate(-135deg);				
		}
	}
	.widget-woocommerce-currency-switcher{
		.dd-selected-text,.dd-option-text{
			display: none;
		}
		+ .widget-woocommerce-currency-switcher{
			.dd-selected-description,.dd-option-description{
				display: none;
			}
			.dd-selected-text,.dd-option-text{
				display: block;
				line-height: initial;
			}			
		}
	}
}
/* responsive */
@media (min-width: 981px) and (max-width: 1199px){	
	.tb-1199-fullwidth{
		width: 100% !important;
		.vc_empty_space {
			display: none;
		}
	}
	
	.deviation-feature-box.deviation-align-right .deviation-content-image img,
	.deviation-feature-box.deviation-align-left .deviation-content-image img,
	.deviation-feature-box.deviation-align-bottom .deviation-content-image img{
		width: auto !important;
	}
	.deviation-feature-box.deviation-align-left .deviation-content-image{
		width: 60%;
	    text-align: right;
	    margin-left: 40%;
	}
	.feature-box{
		&.deviation{
			.deviation-feature-box{
				margin-bottom: 100px;
				&.deviation-align-bottom{
					.deviation-content-image{
						width: 60%;
						img{
							width: 100%;
						}
					}
					.deviation-content-info{
						width: 50%;
						position: absolute;
						top: 47%;
						right: 0;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						.feature-box-desc{
							width: auto;
						}
					}
					.deviation-link-more{
						bottom: 25px;
					}
				}
			}	
			
		}
	}
}
@media (max-width: 995px){
	.tb-full-width-995{
		width: 100% !important;
	}
	.feature-box.tpl3{
		// max-width: 370px;
		margin: 10px auto 70px !important;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.page-id-17{
		.rev_slider_wrapper{
			margin-top: 250px !important; 
			box-shadow: 0 -250px 0 250px;
			color: #DEB6B6;
		}
	}
}
@media (max-width: 768px){
	.carousel-block .overlay{
		display: none !important;
	}
	.tb-line-center{
		width: 100%;
	}
}
@media (max-width: 767px){
	.header-sidebar{
		text-align: center;
		.tb-social{
			text-align: center;
		}
	}
	.feature-box{
		margin-bottom: 20px !important; 
		&.tpl2{
			.feature-image,.feature-block{
				width: 100% !important;
			}
			&.right-arrow, &.left-arrow{
				&:before{
					top: -20px;
					left: 50%;
					transform: translateX(-50%);
					-wekit-transform: translateX(-50%);
				}
				&:after{
					border-left-color: transparent;
					border-right-color: transparent;
					border-bottom: 10px solid #f2f2f2;
					right: initial;
    				left: 50%;
    				transform: translateX(-50%);
					-wekit-transform: translateX(-50%);
    				top: -20px;
				}
			}
		}
	}
	.vc_pie_chart{
		.counter{
			margin-bottom: 50px;
		}
	}
	.pie-dot{
		&::before{
			top: initial;
			right: initial;
			bottom: -25px;
    		left: 50%;
		}
	}
	.title-bar{
		text-align: center;
		.page-breadcrumb{
			text-align: center;
		}
	}
	.tb-grid{
		&:first-child{
			text-align: center;
		}
		.controls-filter, .controls-sorter{
			text-align: center;
			float: none !important;
		}
	}
	.tb_footer .footer-top .tb-col4{
		padding: 0 15px;
		border: none !important;
	}
}

.scroll_button_show{
	position: relative;
	.btn_scroll_wrap{
		position: absolute;
		bottom: 25px;
		left: 50%;
		transform: translateX(-50%);
		-webkit-transform: translateX(-50%);
		width: 22px;
		height: 50px;
		z-index: 999;
		cursor: pointer;
		&:after{
			border: 1px solid #d3d3d3;
    		border-radius: 10px;
    		content: "";
    		height: 35px;
    		left: 1px;
    		position: absolute;
    		top: 0;
   			width: 20px;
		}
		&:before{
			content: "";
    		height: 10px;
    		left: 50%;
    		position: absolute;
    		top: 4px;
    		width: 1px;
			background: #d3d3d3;
			transform: translateX(-50%); 
			-webkit-transform: translateX(-50%);
		}
		&:hover:after{
			
		}
	}
}

.text-blog-style-1{
	background: rgba(255,255,255,.8);
	padding: 30px 60px;
	ul{
		margin: 0;
		padding: 0;
		li{
			padding: 10px 0;
		}
	}
}

.wbp-title{
	&.tpl2{
		padding: 10px;
		border: solid 1px #aaaaaa;
		.wbp-title-content{
			padding: 20px;
			h3.headline{
				font-weight: 600;
				padding: 0;
				margin: 0;
			}
			p{
				line-height: initial; 
				font-style: italic;
				font-weight: bold;
			}
		}
	}
} 

.row-full-content .row > div, .tb-one-page-post .row-full-content.tb-blog > div{
	padding: 0 !important;
}

.deviation-blog, .deviation-feature-box{
	position: relative;
	.blog-title, .feature-box-title{
		a{
			display: block;
			position: relative;
			line-height: 32px;
			&:after{
				position: absolute;
				content: "";
				width: 30px;
				bottom: -12px;
				left: 50%;
				border-bottom: 1px solid #444;
				
				transform: translateX(-50%);
				-webkit-transform: translateX(-50%);
			}
		}
	}
	.blog-desc, .feature-box-desc{
		.hex2rgba(@tb_primary_color, 70);
		margin-top: 36px;
		padding: 30px 30px 50px;
		font-weight: 600;
	}
	.deviation-link-more{
		bottom: 10px;
		font-size: 28px;
		opacity: 0.6;
		position: absolute;
		right: 30px;
		transition: .3s;
		-webkit-transition: .3s;
		&:hover{
			opacity: 0.6;
		}
	}
	&.deviation-align-right{
		.deviation-content-image{
			width: 60%;
			img{
				width: 100%;
			}
		}
		.deviation-content-info{
			width: 50%;
			position: absolute;
			top: 47%;
			right: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		.deviation-link-more{
			bottom: 25px;
		}
	}
	&.deviation-align-left{
		.deviation-content-image{
			width: 60%;
			margin-left: 40%;
			img{
				width: 100%;
			}
		}
		.deviation-content-info{
			width: 50%;
			position: absolute;
			top: 47%;
			left: 0;
			transform: translateY(-50%);
			-webkit-transform: translateY(-50%);
		}
		.deviation-link-more{
			bottom: 25px;
		}
	}
	&.deviation-align-bottom{
		.deviation-content-image{
			width: 60%
			img{
				width: 100%;
			}
		}
		.deviation-content-info{
			width: 100%;
			transform: translateY(-30%);
			-webkit-transform: translateY(-40px);
			.blog-title, .feature-box-title{
				width: 30%;
				display: inline-block;
			}
			.blog-desc, .feature-box-desc{
				width: ~"calc(70% - 6px)";
				display: inline-block;
				margin-top: 0;
				vertical-align: middle;
			}
		}
	}
}

#tb-mega-searchform{
	padding: 10px 10px 0;
    background: #fff;
    position: relative;
    &.searchform-nopading{
		padding-left:0;
		padding-right:0;
	}
	.dropdown{
		height: 50px;
	    line-height: 50px;
	    background-color: @tb_primary_color;
	    color: #fff;
	    padding: 0 16px;
	    box-shadow: none;
	    .fa-th{
	    	font-size: 16px;
	    	position: relative;
	    	z-index: 1;
	    }
	    .tb-title{
	    	margin-left: 6px;
	    	font-size: 18px;
	    }
	    .caret{
	    	right: 17px;
		    position: absolute;
		    top: 50%;
		    margin-top: -1px;
	    }
	    select{
    	    position: absolute;
		    left: 0;
		    top:50%;
		    line-height: 1;
		    border: none;
		    background-color: @tb_primary_color;
		    color: #fff;
		    padding: 0 0 0 35px;
		    -moz-appearance: none;
		    -webkit-appearance: none;
		    font-size: 18px;
		    appearance:none;
		    height: 50px;
		    margin-top: -25px;
	    }
	}
	input{
		height: 50px;
		&[type=text]{
			color:#9c9c9c;
			font-size: 14px;
			padding: 0 50px 0 20px;
			.placeholder(#9c9c9c);
			&:focus{
				color:#000;
			}
		}
	}
	[type=submit]{
		position: absolute;
	    right: 12px;
	    top: 10px;
	    width: 50px;
	    border: none;
	    font-size: 16px;
	    height: 50px;
	    &:hover{
	    	color:@tb_primary_color;
	    }
	}
	[class*="col-xs"]{
		float: left;
	}
	.col-xs-25{
		width:20.833%;
	}
	.col-xs-95{
		width:79.167%;
	}
}
.feature-box.deviation2{
	.feature-box-title{
		margin-bottom: 60px;
		margin-top: 50px;
		padding: 0;
	}
	.image-bg{
		background-repeat: no-repeat;
		background-size: auto 100%;
		padding-bottom: 40px;
	}
	&.right{
		.image-bg{
			background-position: 0 0;
		}
	}
	&.left{
		.image-bg{
			background-position: 100% 0;
		}
		
	}
}
.wpcf7{
	.wpcf7-submit{
		float: right;
		background: @tb_primary_color;
		border-color: @tb_primary_color;
		color: #FFF;
		text-transform: capitalize;
		width: 150px;
		&:hover{
			background: #444;
			border-color: #444;
			color: #FFF;
		}
	}
	
}
@media (max-width: 980px){
	.feature-box.deviation2{
		&.left, &.right{
			.image-bg{
				background-position: center center;
			}
		}
	}
	.tb-blog-content-outer{
		.tb-blog-basic-widget{
			display: none;
		}
	}
}
.tb-header-wrap{
	.header-sidebar-inner{		
		display: flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		> div{
			position: relative;
		}
	}
}

// single-post
.single{
	article.post, article.space{
		h2.blog-title{
			margin: 19px 0 25px 0;
			font-size: 36px;
			font-style: italic;
		}
		.tb-content-block{
			.blog-desc{
				text-align: justify;
				margin-bottom: 25px;
				height: 50%;
			}
			.tag-links{
				a{
					color: @tb_primary_color;
					&:hover{
						color: #444;
					}
				}
			}
			.about-author{
				.author-avatar{
					display: inline-block;
					vertical-align: top;
				}
				.author-info{
					display: inline-block;
				    padding-left: 30px;
				    width: ~"calc(100% - 175px)";
				    .subtitle{
					    font-weight: bold;
				    }
				    .desc{
					    font-style: italic;
				    }
				    a{
					    color: @tb_primary_color;
				    }
				}
				margin: 25px 0;
			}
		}
	}
}
.single.post-template-sidebar_right-php article.post .blog-info {
    text-align: left;
	> span{
		margin-left: 0;
		margin-right: 55px;
	}
}

/* WIDGETS */
// .widget {
// 	&.widget_nav_menu{
// 		ul{
// 			margin: 0!important;
// 			padding: 0;
// 			list-style: none;
// 			li{
// 				display: block;
// 				line-height: 45px;
// 				a{
// 					color: #fff;
// 					font-size: 13px;
// 					&:hover{
// 						color: @tb_primary_color;
// 					}
// 				}
// 			}
// 		}
// 	}
// }
/* WIDGETS */

// tb-blog-related
.tb-blog-related{
	margin:70px 0 50px;
	> .tb-title{
		.single-product .ro-product-relate .ro-title;
	}

}
.tb-padding-content{
	padding: 0 20% !important;
}
@media (max-width: 1240px){
	#tb_wrapper .tb-blog.default article .tb-content-block h2.blog-title a{
		font-size: 24px;
	}
}
@media (max-width: 1199px){
	#tb_wrapper .tb-blog.default article .tb-content-block h2.blog-title{
		margin-bottom: 20px;	
		line-height: 26px;	
	}
	#tb_wrapper  .tb-left .tb-blog.default .tb-content-block,#tb_wrapper  .tb-right .tb-blog.default .tb-content-block{
		padding-top: 20px;
	}
}
.text-medium{
	font-size: 18px;
}
.text-italic{
	font-style: italic;
}
.text-bold{
	font-weight: bold;
}
.ro-reservation-bg{
	.ro-reservation{	
	position: relative;
    z-index: 1;
		&:after {
		background: rgba(255, 255, 255, 0.9) none repeat scroll 0 0;
		content: " ";
		display: block;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: -1;
		}
	}
}
@media(min-width:1200px){
	.col-lg-20{
		width:20%;
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 991px){
	.tb-padding-content{
		padding: 0 20px !important;
	}
	.tb-980-hide{
		display: none;
	}
	.sidebar-right{
		.widget{
			.tb-post-side-img{
				float: none;
				width: 100%;
				height: auto;
			}
			.tb-post-side-ct{
				margin: 0;
			}
		}
	}
	.tb-980-fullwidth{
		width: 100% !important;
	}
	.feature-box{
		&.deviation{
			.deviation-feature-box{
				margin-bottom: 100px;
				&.deviation-align-bottom{
					.deviation-content-image{
						width: 60%;
						img{
							width: 100%;
						}
					}
					.deviation-content-info{
						width: 50%;
						position: absolute;
						top: 47%;
						right: 0;
						transform: translateY(-50%);
						-webkit-transform: translateY(-50%);
						.feature-box-desc{
							width: auto;
						}
					}
					.deviation-link-more{
						bottom: 25px;
					}
				}
			}	
			
		}
	}
	.rtb-booking-form .reservation, .rtb-booking-form .contact{
		width: 100%;
	}
	.tb-left .tb-blog.default {
		.tb-blog-image {
			width: 100%;
		}
		.tb-content-block {
			position: relative;
			width: 100%;
			&:before {
				left: 60px;
				position: absolute;
				top: -32px;
				transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-o-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
			}
		}
	} 
	.tb-right .tb-blog.default {
		.tb-blog-image {
			width: 100%;
			float: none;
		}
		.tb-content-block {
			position: relative;
			width: 100%;
			&:before {
				position: absolute;
				right: 60px;
				top: -32px;
				transform: rotate(-90deg);
				-webkit-transform: rotate(-90deg);
				-moz-transform: rotate(-90deg);
				-o-transform: rotate(-90deg);
				-ms-transform: rotate(-90deg);
			}
		}
	}
	#tb_wrapper .tb-blog.default article .tb-content-block .blog-desc{
		height: 6.2em;
		overflow: hidden;
	}
}
@media (max-width: 991px){
	.tb-blog{
		&.default{
			article{
				display: block
			}
		}
	}
	.single-post{
		article.post{
			.tb-content-block{
				text-align: center;
				.about-author, .author-info{
					display: block;
				}
				.author-info{
					padding-left: 0 !important;
					width: 100% !important;
				}
			}
		}
	}
	#tb-mega-searchform{
		.dropdown{
			padding:0 12px;
			.fa-th{
				font-size: 14px;
			}
			select{
				font-size: 15px;
				padding-left: 30px;
			}
			.caret{
				right: 12px;
			}
		}
	}
}

@media (max-width: 767px){
	.tb-advertise-2 .vc_col-sm-3 {
		display: none;
	}
	.tb-advertise-2 .vc_col-sm-9 {
		padding-top: 60px !important;
		padding-bottom: 60px !important;
		text-align: center;
	}
	.deviation-blog, .deviation-feature-box{
		.deviation-content-image{
			display: none;
		}
		.deviation-content-info{
			position: relative !important;
			transform: translate3d(0, 0, 0) !important;
			-webkit-transform: translate3d(0, 0, 0) !important;
			-ms-transform: translateX(0) translateY(0) !important;
			width: 100% !important;
			.deviation-content-title{
				width: 100% !important;
			}
			.feature-box-desc{
				width: 100% !important;
			}
		}
	}
	#tb-mega-searchform{
		.dropdown{
			padding:0 30%;
			select{
				padding-left: 5px;
				text-indent: -999px;
			}
		}
	}
}
@media (max-width: 767px) and (min-width: 361px){
	.footer-top .tb-widget-post-list ul.tb-post-list li .tb-meta{
		width: 100px;
	}
	.footer-top .widget.widget_ct_recent_work_widget ul li{
		width: 100px;
	}
	.wpb_tabs.woo-product-tabs .wpb_tabs_nav::after{
		border: none;
	}
	.wpb_tabs.woo-product-tabs .wpb_tabs_nav li{
		width: 100%;
		text-align: center;
		display: inline;
	}
	
}
@media (max-width: (480px)) {
	#wpadminbar{
		position: fixed;
	}
	.tb-blog{
		.blog-note{
			display: none; 
		}
	}
}
@media (max-width: 361px){
	.sidebar-right{
		.widget{
			.tb-post-side-ct{
				text-align: center;
			}
		}
	}
	.tb-blog.blog article .blog-info{
		> span{
			margin-left: 3px !important;
		}
	}

	.comment-form p.comment-form-author, 
	.comment-form p.comment-form-email, 
	.comment-form p.comment-form-url{
		width: 100%;
	}
	
	.deviation-blog, .deviation-feature-box{
		.deviation-content-image{
			display: none;
		}
		.deviation-content-info{
			position: relative !important;
			transform: translate3d(0, 0, 0) !important;
			-webkit-transform: translate3d(0, 0, 0) !important;
			-ms-transform: translateX(0) translateY(0) !important;
			width: 100% !important;
			.deviation-content-title{
				width: 100% !important;
			}
			.feature-box-desc{
				width: 100% !important;
			}
		}
	}
	.tb-header-wrap{
	.header-sidebar-inner{
			display: block;
		}
	}
	.rtb-booking-form .reservation, .rtb-booking-form .contact{
		width: auto !important;
	}
	.widget_mini_cart_wrap{
		.shopping_cart_dropdown{
			width: auto !important;
		}
	}
	
	.wpb_tabs.woo-product-tabs{
		.wpb_tabs_nav{
			&:after{
				border-color: transparent;
			}
			li{
				display: block;
			}
		}
	}
	.footer-top{
		text-align: center;
		.tb-col4{
			border: none !important;
			padding: 0 15px !important;
			.tb-social{
				text-align: center !important;
			}
		}
		.widget{
			p{
				text-align: center !important;
			}
		}
	}
}
.tb-countdown-js{
	.tb-box-countdown{
		display: inline-block;
		vertical-align: top;
		text-align: center;
		padding: 10px;
		span{
			display: inline-block;
			font-size: 45px;
			width: 80px;
			height: 80px;
			line-height: 74px;
			background: @tb_primary_color;
			color: #FFF;
		}
		p{
			font-size: 18px;
			font-weight: 600;
			margin: 10px 0;
		}
	}
}

// .tb-product-list-section .woocommerce .products-widget .tb-product-item{
// 	margin-bottom: 6px;
// }

/* Back to top */

#tb_back_to_top {
    bottom: -180px;
    cursor: pointer;
    height: auto;
    margin: 0;
    position: fixed;
    right: 20px;
    transition: all .3s;
    z-index: 999;
    &.active {
	    bottom: 180px !important;
	    display: block !important;
	    opacity: 1 !important;
	}
	span {
		background-color: #5f5f5f;
	    display: block;
	    height: 46px;
	    line-height: 46px;
	    text-align: center;
	    text-decoration: none;
	    transition: .3s;
	    -webkit-transition: .3s;
	    width: 46px;
		.border-radius(50%);
	    i {
		    font-size: 15px;
		    line-height: 35px;
		    font-size: 24px;
			color: #fff;
		} 
	}
	&:hover{
		span{
			background: @tb_primary_color;
		}
	}
}
.ro-testimonial-scroll-wrapper{
	&:before{
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #f3f3f0 0%, rgba(243, 243, 240, 0.99) 1%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0) 100%) repeat scroll 0 0;
		content: " ";
		display: block;
		height: 80px;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 512;
	}
	&:after{
		background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(243, 243, 240, 0) 0%, rgba(243, 243, 240, 0.5) 50%, rgba(243, 243, 240, 0.99) 99%, #f3f3f0 100%) repeat scroll 0 0;
	    bottom: 0;
	    content: " ";
	    display: block;
	    height: 80px;
	    left: 0;
	    position: absolute;
	    width: 100%;
	    z-index: 512;
	}
}
.tb-shoptab-separator{
	border-top: 1px solid #eeeeee;
    height: 0;
    width: 100%;
    margin-bottom: 40px;
    margin-top: 10px;
}
/*Page Demo*/
.tb-demo-absolute {
	position: absolute;
	top: 0;
	left: 0;
}
.tb-demo-title {
	margin: 20px 0 25px 0 !important;
}
.ro-demo-item {
    display: block;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    text-align: center;
	position: relative;
	.ro-content {
		background-color: #eeeeee;
		border: 1px solid #aaaaaa;
		margin-bottom: 20px;
		padding: 10px;
		position: relative;
		line-height: 0;
	}
	img {
		transition: all 0.4s ease 0s;
		width: 100%;
	}
	.ro-overlay {
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 512;
		opacity: 0;
		padding: 10px;
		transition: all 0.4s ease 0s;
		-webkit-transition: all 0.4s ease 0s;
		-moz-transition: all 0.4s ease 0s;
		-o-transition: all 0.4s ease 0s;
		.ro-cell-vertical-wrapper {
			background-color: rgba(171, 220, 225, 0.7);
			display: table;
			height: 100%;
			width: 100%;
			.ro-cell-middle {
				display: table-cell;
				vertical-align: middle;
			}
		}
		&.comming {
			opacity: 1;
			.ro-cell-vertical-wrapper {
				background-color: transparent;
			}
		}
	}
	&:hover {
		.ro-overlay {
			opacity: 1;
		}
	}
	&.ro-new:before {
		background: rgba(0, 0, 0, 0) url('assets/images/demo-new.png') no-repeat scroll 100% 100%;
		content: "";
		display: block;
		height: 40px;
		left: 45px;
		position: absolute;
		top: 25px;
		width: 75px;
		z-index: 20;
	}
}
@media(max-width: 1024px) {
	.tb-demo-hide-mobile {
		display: none;
	}
}

/* Contact Form 7 */
.wpcf7-form{
	margin-top:-12px;
	label{
		color: @tb_primary_color;
	}
	.ct-label{
		display: block;
		margin: 6px 0 2px;
	}
	input[type="text"], input[type="email"] {
		height: 34px;
	}
	textarea{
		height: 186px;
	}
	.wpcf7-submit{
		.btn-transparent;
	}
}
.tb-send-mail-wrap {
	
	color: #ffffff;
    background: url("assets/images/bg_newsletter.jpg") no-repeat scroll center top / cover;
	padding: 60px 30px;
	.widget {
		max-width: 420px;
		h3.wg-title {
			color: #ffffff;
			margin-bottom: 15px;
		}
		&.widget_newsletterwidget {
			margin-top: 40px;
			.newsletter{
				margin-bottom: 30px;
				form{
					position: relative;
					overflow: hidden;
					padding-right: 90px;
					p{
						margin: 0;
						&:last-child {
							position: absolute;
							top: 0;
							right: 0;
							width; 100px;
						}
					}
					input{
						margin: 0;
						border: 0;
						padding: 0 15px;
						height: 38px;
						border-color: transparent;
						color: #474747;
						background: #ffffff;
						box-shadow: none;
						.border-radiuses (0, 0, 30px, 30px);
						&:focus {
							color: #474747;
						}
					}
					input[type="submit"]{
						background: @tb_primary_color;
						font-size: 13px;
						text-transform: capitalize;
						color: #ffffff;
						line-height: 20px;
					}
				}
			}
		}
	}
}

#yith-quick-view-modal {
	.yith-wcwl-add-to-wishlist, .compare-button, .tb-send-mail {
		display: none;
	}
}
// custom our store
.about-our-store{
	p{
		line-height: 22px;
	}
}

// vc image carousel
body .vc_images_carousel{
	 .vc_carousel-control{
	 	opacity: 0;
	 	margin-top: -21px;
	 	.icon-prev,.icon-next{
	 		width: 40px;
		    height: 40px;
		    font-size: 20px;
		    line-height: 37px;
		    text-align: center;
		    color: #383838;
		    background: #fff;
		    border: 1px solid #ebebeb;
		    text-shadow:none;
		    .border-radius(50%);
		    &:hover {
				color: #ffffff;
				background: @tb_primary_color;
				border-color: @tb_primary_color;
			}
			&:before{
				font-family: FontAwesome;
				top:0;
			}
	 	}
	 	.icon-prev {
			&:before{
				content:'\f104';
			}
		}
		.icon-next {
			padding-left: 3px;
			&:before{
				content: "\f105";
			}
		}
		&.vc_left{
			left: -55px;
		}
		&.vc_right{
			right: -55px;
		}
	}
	&:hover{
		.vc_carousel-control{
			opacity: 1;
		}
	}
}

// fix bluet reverslider
.rev_slider_wrapper .tp-bullet{
	width: 12px;
	height: 12px;
}
// fix footer v4
.footer-layout-4{
	margin-left: -15px;
	margin-right: -15px;
}

// fix slider5
#rev_slider_10_1_wrapper{
	.tp-bullet{
		width: 6px;
		height: 6px;
	}
}
.ct-over-hidden{
	overflow: hidden;
}

// fix for theme
.widget{
	.wp-caption{
		img{
			height: auto;
		}
	}
}
.tb-overlay-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    overflow: hidden;
    position: fixed;
    display: none;
    // background: black;
    // opacity: 0.8;
    &:before{
    	content:"";
    	width:100%;
    	height: 100%;
    	background-color:#000;
    	opacity:0.8;
    	position: fixed;
    }
    .tb-overlay-container {
	    height: 100%;
	    text-align: center;
	    position: absolute;
	    width: 100%;
	    height: 100%;
	    left: 0;
	    top: 0;
	    padding: 30px;
	    -webkit-box-sizing: border-box;
	    -moz-box-sizing: border-box;
	    box-sizing: border-box;
	    .tb-overlay-content {
		    line-height: 0;
		    width: 100%;
		    max-width: 900px;
		    background-color: #fff;
		    position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    top:50%;
		    -webkit-transform:translateY(-50%);
		    -ms-transform:translateY(-50%);
		    transform:translateY(-50%);		
		    margin: 0 auto;
		    -webkit-box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
		    box-shadow: 0 0 0 2px rgba(255,255,255,0.2);
		    &.content-lightbox{
		    	background-color: transparent;
		    	box-shadow: none;
		    	img{
		    		display: inline-block;
		    	}
		    	.portfolio-lightbox{
		    		position: relative;
		    		display: inline-block;
		    		width:100%;
		    	}
		    	.tb-close{
		    		position: absolute;
				    right: 0;
				    border: 1px solid #fff;
				    color: #fff;
				    box-shadow: none;
				    top: 1px;
				    outline: none;
				    border-radius: 0;
				    &:hover{
				    	background-color: @tb_primary_color;
				    }
		    	}
		    }
		    .tb-iframe-scaler{
		    	width: 100%;
			    overflow: hidden;
			    padding-top: 56.25%;
		    	iframe{
			    	position: absolute;
				    display: block;
				    top: 0;
				    left: 0;
				    width: 100%;
				    height: 100%;
				    box-shadow: 0 0 8px rgba(0,0,0,0.6);
				    background: black;
				    max-width: 100%!important;
			    }
		    }
		}
	}
}

// fix blur text
.owl-carousel .owl-item{
	-webkit-perspective: 1000px;
}