////////////////////////////////////ANIMATION///////////////////////////////////

.easing-animation {
    -webkit-transition: all @duration-time;
    -moz-transition: all @duration-time;
    -o-transition: all @duration-time;
    transition: all @duration-time;
}

.easing-animation-long {
	-webkit-transition: all @duration-longtime;
    -moz-transition: all @duration-longtime;
    -o-transition: all @duration-longtime;
    transition: all @duration-longtime;
}

.hover(@color, @bg, @border) {
    .easing-animation;

    &:hover, &:focus {
        @if @color {
            color: @color;
        }

        @if @bg {
            background-color: @bg;
        }

        @if @border {
            border-color: @border;
        }
    }
}

.hover-color(@thiscolor) {
    .easing-animation;

    &:hover, &:focus {
        color: @thiscolor;
    }
}

.hover-bg(@thiscolor) {
    .easing-animation;

    &:hover, &:focus {
        background: @thiscolor;
    }
}

.hover-border(@thiscolor) {
    .easing-animation;

    &:hover, &:focus {
        border: @thiscolor;
    }
}

.btn-process-h(@bgc) {
    z-index: 1;

    &:before {
        .easing-animation;
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 100%;
        background-color: @bgc;
        z-index: -1;
    }

    &:hover:before {
        width: 100%;
    }
}

.all-class(@class) {
    [class^="#{@class}"],

    [class*="#{@class}"] {
        @content;
    }
}

.special-zoom-in {
    animation: SpecialZoomIn 8s forwards;
    transform-origin: 30% 0%;
}

.special-zoom-out {
    animation: SpecialZoomOut 8s forwards;
    transform-origin: 30% 0%;
}

//////////////////////////////////////SCREEN/////////////////////////////////////////

.breakpoint-min(@point) {
    @media (min-width: @point) {
        @content;
    }
}

.breakpoint-max(@point) {
    @media (max-width: @point - 1) {
        @content;
    }
}

.breakpoint-in(@point1, @point2) {
    @media (min-width: @point1) and (max-width: @point2 - 1) {
        @content;
    }
}

.breakpoint-hmin(@point) {
    @media (min-height: @point) {
        @content;
    }
}

.breakpoint-hmax(@point) {
    @media (max-height: @point - 1) {
        @content;
    }
}

.breakpoint-hin(@point1, @point2) {
    @media (min-height: @point1) and (max-height: @point2 - 1) {
        @content;
    }
}

//////////////////////////////////////DIV/////////////////////////////////////////

.size(@width, @height) {
    width: @width;
    height: @height;
}

.square(@size) {
    .size(@size, @size);
}

.clearfix {
    &:before,
    &:after {
        content: " ";
        // 1
        display: table;
        // 2
   
    }

    &:after {
        clear: both;
    }
}

.overlay(@z-index) {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: @z-index;
}

.layer-before-on-bg(@after-bg: rgba(0, 0, 0, 0.6)) {
    position: relative;

    &:before {
        content: " ";
        position: absolute;
        display: block;
        background: @after-bg;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.layer-after-on-bg(@after-bg: rgba(0, 0, 0, 0.6)) {
    position: relative;
    z-index: 1;

    &:after {
        content: " ";
        position: absolute;
        display: block;
        background: @after-bg;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.nopadding {
    padding: 0;
}

.col-nopadding {
    padding-left: 0;
    padding-right: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.middle {
    position: relative;
    display: block;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.center {
    .middle;
    .center-block;
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-left{
	text-align: left;
}

.bottom {
    position: relative;
    display: block;
    top: 100%;
    transform: translateY(-100%);
}

.ab-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .clearfix;
}

.ab-bottom {
    position: absolute;
    top: 100%;
    transform: translateY(-100%);
    .clearfix;
}
.bgrgba(@color, @opacity : 100){
    background-color : fadeout( @color, @opacity ); 
}
.bdrgba(@width, @style, @color, @opacity : 100){
    border : @width @style fadeout( @color, @opacity ); 
}

/* https://css-tricks.com/snippets/css/useful-css3-less-mixins/ */
.hex2rgba(@color, @transparent : 100){
    background-color : fadeout( @color, @transparent ); 
} 
.boxshadowHex2rgba(@color, @transparent : 100){
    box-shadow : 0 0 0 300px fadeout( @color, @transparent ) inset; 
}
.fixedPosition(@fixed) when (@fixed=1){
    position: fixed;
}
.fixedPosition(@fixed) when (@fixed=0){
    position: static;
}
.backgroundImage(@position,@size: auto,@repeat: repeat,@parallax:0){
    background-position: @position;
    background-size: @size;
    background-repeat: @repeat;
}
/* BACKGROUND COLOR OPACITY */
.background-opacity(@color, @opacity) {
  background: @color;
  background: rgba(@color, @opacity);
}
.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}
.text-shadow (@string: 0 1px 3px rgba(0, 0, 0, 0.25)) {
	text-shadow: @string;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.inner-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow: inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:    inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:         inset @x @y @blur @spread rgba(0, 0, 0, @alpha);
}

.box-sizing (@type: border-box) {
	-webkit-box-sizing: @type;
	-moz-box-sizing:    @type;
	box-sizing:         @type;
}

.border-radius (@radius: 5px) {
	-webkit-border-radius: @radius;
	-moz-border-radius:    @radius;
	border-radius:         @radius;

	-moz-background-clip:    padding;
	-webkit-background-clip: padding-box;
	background-clip:         padding-box;
}
.border-radiuses (@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
	-webkit-border-top-right-radius:    @topright;
	-webkit-border-bottom-right-radius: @bottomright;
	-webkit-border-bottom-left-radius:  @bottomleft;
	-webkit-border-top-left-radius:     @topleft;

	-moz-border-radius-topright:        @topright;
	-moz-border-radius-bottomright:     @bottomright;
	-moz-border-radius-bottomleft:      @bottomleft;
	-moz-border-radius-topleft:         @topleft;

	border-top-right-radius:            @topright;
	border-bottom-right-radius:         @bottomright;
	border-bottom-left-radius:          @bottomleft;
	border-top-left-radius:             @topleft;

	-moz-background-clip:    padding; 
	-webkit-background-clip: padding-box; 
	background-clip:         padding-box; 
}

.opacity (@opacity: 0.5) {
	-webkit-opacity: 	@opacity;
	-moz-opacity: 		@opacity;
	opacity: 		@opacity;
}

.gradient (@startColor: #eee, @endColor: white) {
	background-color: @startColor;
	background: -webkit-gradient(linear, left top, left bottom, from(@startColor), to(@endColor));
	background: -webkit-linear-gradient(top, @startColor, @endColor);
	background: -moz-linear-gradient(top, @startColor, @endColor);
	background: -ms-linear-gradient(top, @startColor, @endColor);
	background: -o-linear-gradient(top, @startColor, @endColor);
}
.horizontal-gradient (@startColor: #eee, @endColor: white) {
 	background-color: @startColor;
	background-image: -webkit-gradient(linear, left top, right top, from(@startColor), to(@endColor));
	background-image: -webkit-linear-gradient(left, @startColor, @endColor);
	background-image: -moz-linear-gradient(left, @startColor, @endColor);
	background-image: -ms-linear-gradient(left, @startColor, @endColor);
	background-image: -o-linear-gradient(left, @startColor, @endColor);
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
	-webkit-animation: @name @duration @delay @ease;
	-moz-animation:    @name @duration @delay @ease;
	-ms-animation:     @name @duration @delay @ease;
}

.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}
.transform(@string){
	-webkit-transform: @string;
	-moz-transform: 	 @string;
	-ms-transform: 		 @string;
	-o-transform: 		 @string;
}
.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}
.rotate (@deg) {
	-webkit-transform: rotate(@deg);
	-moz-transform: 	 rotate(@deg);
	-ms-transform: 		 rotate(@deg);
	-o-transform: 		 rotate(@deg);
}
.skew (@deg, @deg2) {
	-webkit-transform:       skew(@deg, @deg2);
	-moz-transform: 	 skew(@deg, @deg2);
	-ms-transform: 		 skew(@deg, @deg2);
	-o-transform: 		 skew(@deg, @deg2);
}
.translate (@x, @y:0) {
	-webkit-transform:       translate(@x, @y);
	-moz-transform: 	 translate(@x, @y);
	-ms-transform: 		 translate(@x, @y);
	-o-transform: 		 translate(@x, @y);
}
.translate3d (@x, @y: 0, @z: 0) {
	-webkit-transform:       translate3d(@x, @y, @z);
	-moz-transform: 	 translate3d(@x, @y, @z);
	-ms-transform: 		 translate3d(@x, @y, @z);
	-o-transform: 		 translate3d(@x, @y, @z);
}
.perspective (@value: 1000) {
	-webkit-perspective: 	@value;
	-moz-perspective: 	@value;
	-ms-perspective: 	@value;
	perspective: 		@value;
}
.transform-origin (@x:center, @y:center) {
	-webkit-transform-origin: @x @y;
	-moz-transform-origin:    @x @y;
	-ms-transform-origin:     @x @y;
	-o-transform-origin:      @x @y;
}
.btn-transparent{
    background-color: transparent;
    border:1px solid #ebebeb;
    height: 40px;
    line-height: 39px;
    display: inline-block;
    padding:0;
    width: 170px;
    text-align: center;
    text-transform: capitalize;
    color:#474747;
    .border-radius(0);
    outline: none;
    margin-top: 5px;
    &:hover{
        background-color: @tb_primary_color;
        border-color: @tb_primary_color;
        color: #fff;
    }
}
.btn-act{
    .transition(all 0.4s ease 0s);
    position: relative;
    display: block;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    background: #393939;
    padding: 0;
    margin: 0 5px 0 0;              
    overflow: hidden;
    text-indent: -9999px;
    border-radius: 0;
    &:hover {
        background: @tb_primary_color;
    }
}

.btn-act-before (@content:"\f004"){
    &:before{
        .transition(all 0.4s ease 0s);
        font-family: FontAwesome;
        content: @content;
        color: #fff;
        text-indent: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -o-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
    }
}
.thumb-pd-effect{
    background-color: #fff;
    &:before{
        .easing-animation;
        content: "";
        position: absolute;
        height: 4px;
        width: 90%;
        opacity: 0;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
        left: 5%;
        border-radius: 50%;
        bottom: 5px;
        z-index: -1;
    }
    &:after{
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
        -o-transition: all 0.4s;
        transition: all 0.4s;
        content: "";
        position: absolute;
        opacity: 0;
        left: 0;
        bottom: 0;
        top:0;
        right: 0;
        z-index: -1;
        background-color: rgba(0,0,0,0.04);
    }

    img{
        position: relative;
        z-index: 2;
        width: 100%;
        height: auto;
    }
    &.tb-thumb-effect{
        span{
            // .easing-animation;
            display: inline-block;
            position: absolute;
            z-index: -1;
            top:0;
            left:0;
            right: 0;
            bottom: 0;
        }
        &:before{
            bottom:0;
        }
    }
}
.thumb-pd-scale{
    .easing-animation;
}
.thumb-pd-hover-scale{
    transform:scale(1.2);
    -webkit-transform:scale(1.2);
}
.thumb-overlay-effect{
    &:after{
        background: @tb_primary_color;
        bottom: 0;
        height: auto;
        left: 0;
        margin: 0;
        opacity: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: auto;
        z-index: 2;
        .easing-animation;
        transform: scale(0);
        content: "";
    }
}
.thumb-overlay-hover-effect{
    &:after{
        opacity: 0.2;
        transform: scale(1);
    }
}
.thumb-pd-hover-effect{
    color: @tb_primary_color;
    &:before{
        opacity: 1;
        bottom:0;
    }
    &:after{
        opacity: 1;
        z-index: 4;
    }
    &.tb-thumb-effect{
        span{
            height: auto;
            z-index: 3;
        }
        >img{
            z-index: -2;
        }
    }
}
.icon{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.icon-abs{
    position: absolute;
    .icon;
}

figure.effect-bubba{
    position: relative;
    img {
        opacity: 1;
        -webkit-transition: opacity 0.35s;
        transition: opacity 0.35s;
        display: block;
    }
    .vc_single_image-wrapper{
        position: relative;
        &::before,
        &::after {
            position: absolute;
            top: 10px;
            right: 10px;
            bottom: 10px;
            left: 10px;
            content: '';
            opacity: 0;
            -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
        }
        &::before {
            border-top: 1px solid #fff;
            border-bottom: 1px solid #fff;
            -webkit-transform: scale(0,1);
            transform: scale(0,1);
        }
        &::after {
            border-right: 1px solid #fff;
            border-left: 1px solid #fff;
            -webkit-transform: scale(1,0);
            transform: scale(1,0);
        }
    }
    &:hover{
        img {
            opacity: 0.7;
        }
        .vc_single_image-wrapper{
            &:before,&:after{
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
                z-index: 3;
            }
        }
    }
}


.placeholder(@color){
    &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
        color:    @color;
    }
    &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
       color:    @color;
       opacity:  1;
    }
    &::-moz-placeholder { /* Mozilla Firefox 19+ */
       color:    @color;
       opacity:  1;
    }
    &:-ms-input-placeholder { /* Internet Explorer 10-11 */
       color:    @color;
    }
    &:placeholder-shown { /* Standard (https://drafts.csswg.org/selectors-4/#placeholder) */
      color:    @color;
    }
}


/* animate feature box */
@keyframes upDown{
	0%{ transform: translateY(0px) } 
	40%{ transform: translateY(-20px) }
	100%{ transform: translateY(0px) }
}
@-webkit-keyframes upDown{
	0%{ -webkit-transform: translateY(0px) } 
	40%{ -webkit-transform: translateY(-20px) }
	100%{ -webkit-transform: translateY(0px) }
}
@keyframes borderAnimate{
	0%{ transform: scale(1); }
	70%{ transform: scale(1.15); }
	100%{ transform: scale(1.13); }
}
@-webkit-keyframes borderAnimate{
	0%{ -webkit-transform: scale(1); }
	70%{ -webkit-transform: scale(1.15); }
	100%{ -webkit-transform: scale(1.13); }
}
/* animate colorbox */
@keyframes effZoom{
	from{ opacity: 0; transform: scale(8); }
	to{ opacity: 1; transform: scale(1); }
}
@-webkit-keyframes effZoom{
	from{ opacity: 0; -webkit-transform: scale(8); }
	to{ opacity: 1; -webkit-transform: scale(1); }
}/* animate shake */
 
@-o-keyframes shake {  
    0%,100% {
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    10%,30%,50%,70%,90% {
        -o-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
    }
    20%,40%,60%,80% {
        -o-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0);
    }
}
@-webkit-keyframes shake {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
    }
    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0);
    }
}
@keyframes shake {
    0%,100% {
        -webkit-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }
    10%,30%,50%,70%,90% {
        -webkit-transform: translate3d(-10px,0,0);
        -ms-transform: translate3d(-10px,0,0);
        transform: translate3d(-10px,0,0);
    }
    20%,40%,60%,80% {
        -webkit-transform: translate3d(10px,0,0);
        -ms-transform: translate3d(10px,0,0);
        transform: translate3d(10px,0,0);
    }
}
/* Animate btn play video */

@keyframes btnplayanimate{
	0%{ transform: rotate(0deg) }
	100%{ transform: rotate(360deg) }
}
@-webkit-keyframes btnplayanimate{
	0%{ transform: rotate(0deg) }
	100%{ transform: rotate(360deg) }
}
/* Animate dot */
@keyframes dot-animation{
	0%{ box-shadow: 0px 0 0 0, 0px 0 0 0; }
	70%{ box-shadow: 10px 0 0 0, -10px 0 0 0; }
	100%{ box-shadow: 8px 0 0 0, -8px 0 0 0; }
}
@-webkit-keyframes dot-animation{ 
	0%{ box-shadow: 0px 0 0 0, 0px 0 0 0; }
	70%{ box-shadow: 10px 0 0 0, -10px 0 0 0; }
	100%{ box-shadow: 8px 0 0 0, -8px 0 0 0; }
}
@-webkit-keyframes fadeInUp {
	0% {
		opacity: 0;
		-webkit-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@-moz-keyframes fadeInUp {
	0% {
		opacity: 0;
		-moz-transform: translateY(20px);
		transform: translateY(20px);
	}

	100% {
		opacity: 1;
		-moz-transform: translateY(0);
		transform: translateY(0);
	}
}
@-webkit-keyframes bounceInUp {
  0% {opacity: 0; -webkit-transform: translateY(2000px);}
  60% {opacity: 1; -webkit-transform: translateY(-30px);}
  80% {-webkit-transform: translateY(10px);}
  100% {-webkit-transform: translateY(0);}
}

@-moz-keyframes bounceInUp {
  0% {opacity: 0; -moz-transform: translateY(2000px);}
  60% {opacity: 1; -moz-transform: translateY(-30px);}
  80% {-moz-transform: translateY(10px);}
  100% {-moz-transform: translateY(0);}
}

@-ms-keyframes bounceInUp {
  0% {opacity: 0; -ms-transform: translateY(2000px);}
  60% {opacity: 1; -ms-transform: translateY(-30px);}
  80% {-ms-transform: translateY(10px);}
  100% {-ms-transform: translateY(0);}
}

@-o-keyframes bounceInUp {
  0% {opacity: 0; -o-transform: translateY(2000px);}
  60% {opacity: 1; -o-transform: translateY(-30px);}
  80% {-o-transform: translateY(10px);}
  100% {-o-transform: translateY(0);}
}

@keyframes bounceInUp {
  0% {opacity: 0; transform: translateY(2000px);}
  60% {opacity: 1; transform: translateY(-30px);}
  80% {transform: translateY(10px);}
  100% {transform: translateY(0);}
}

@-webkit-keyframes fadeInUp50 {
    0% {
        opacity: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}
@-moz-keyframes fadeInUp50 {
    0% {
        opacity: 0;
        -moz-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        -moz-transform: translateY(-50%);
        transform: translateY(-50%);
    }
}