/* Sidebar */
.widget-area{
	.widget{
		&:first-child{
			margin-top: -7px;
			form,ul{
				background-color: #fff;
				position: relative;
			}
		}
	}
}
.sidebar-area{
	.widget{
		> div, > form, > ul{
			// background-color: #fff;
			position: relative;
		}
	}
}
.sidebar-area,.widget-area{
	.widget{
		position: relative;
		margin-bottom: 30px;
		overflow-y:hidden;
		&:before {
			background: #444;
			content: "";
			height: 1px;
			left: 0;
			position: absolute;
			top: 15px;
			width: 100%;
			z-index: 0;
		}
		.wg-title {
			background: #ffffff;
			color: #272727;
			display: inline-block;
			font-size: 18px;
			margin: 0;
			padding-right: 10px;
			text-transform: capitalize;
			z-index: 1;
			position: relative;
			font-weight: 400;
			&:after{
				position: absolute;
			    content: "";
			    top: 13px;
			    width: 100%;
			    right: -4px;
			    height: 5px;
			    width: 5px;
			    background-color: #444;
			    border-radius: 50%;
			}
		}
	}
	&.blog-sidebar{
		.widget{
			margin-bottom: 40px;
			li a{
				padding-left: 0;
				padding-top: 10px;
				border-color: #e6e6e6;
			}
		}
	}
}
.sidebar-area,.widget-area{
	.widget{
		ul{
			padding: 0;
			margin-top:15px;
			li{
				list-style: none;
				padding: 7px 0;
				display: inline-block;
				width: 100%;
				border-bottom: 1px solid #ebebeb;
				a{
					color: #747474;
					font-size: 13px;
					&:hover{
						color: @tb_primary_color;
					}
				}
			}
		}
		&.widget_nav_menu{
			overflow: visible;
			h2{
				font-size: 18px;
			    padding-left: 50px;
			    background-color: #2c2c2c;
			    color: #fff;
			    height: 44px;
			    line-height: 44px;
			    position: relative;
			    margin-bottom: 0;
			    &:before{
			    	.icon-abs;
			    	content: "\f0c9";
			    	-webkit-transform:translateY(-50%);
			    	transform:translateY(-50%);
			    	top:50%;
			    	left: 20px;
			    }
			}
			ul.menu{
				ul.sub-menu{
					display: none;
					margin:0;
					box-shadow: none;
					top:0;
					left:0;
				}
			}
			ul.menu{
				margin: 0;
				padding: 0;
				list-style: none;
				li{
					.easing-animation;
					display: block;
					position: relative;
					padding:0;
					background-color: #fff;

					a{
						color: #333;
						font-size: 13px;
						padding:0 22px;
						line-height: 40px;
						background-color: transparent;
						&:hover{
							color: @tb_primary_color;
							// padding-left: 25px;
						}
					}
					&.menu-item-has-children{
						&:after{
							.icon-abs;
							content:"\f105";
							right:25px;
							top:16px;
							color:#fff;
						}
					}
					&:hover{
						&:after{
							color:@tb_primary_color;
							right: 22px;
						}
						> ul{
							display: block!important;
						}
					}
				}
				> li{
					border-left:1px solid #e9e9e9;
					border-right:1px solid #e9e9e9;
					background-color: #f9f9f9;
					a{
						color: #5e5e5e;
					}
					&.menu-item-has-children{
						&:after{
							color:#979797;
						}
					}
					&:hover{
						border-left:3px solid @tb_primary_color;
						background-color: #fff;
					}
				}
			}
		}
	}
	.blog-sidebar{
		.widget{
			ul{
				margin-top: 5px;
			}
		}
	}
	.tb-woo-banner{
		overflow:hidden;
		margin-top: 12px;
		position: relative;
		hgroup{
			position: absolute;
		    bottom: 58px;
		    background-color: #f7f7f7;
		    opacity: 0.9;
		    width: 100%;
		    text-align: center;
		    padding-top: 19px;
		    h2{
		    	font-size: 25px;
		    	line-height: 22px;
		    	color:#393939;
		    	margin-bottom: 5px;
		    }
		    h3{
		    	color: #5b5b5b;
		    	font-size:14px;
		    	margin-bottom: 11px;
		    	line-height: 22px;
		    }
		}
		img{
			.thumb-pd-scale;
		}
		&:hover{
			img{
				.thumb-pd-hover-scale;
			}
		}
	}
}
@media( min-width:769px){
	#tb_wrapper .sidebar-area.ct-inc-megamenu{
		.widget_nav_menu{
			ul.dropdown-menu{
				position: absolute;
			}
		}
	}
}

@media( max-width:991px ){
	#tb_wrapper .sidebar-area.ct-inc-megamenu{
		.widget_nav_menu{
			ul.dropdown-menu{
				width: auto!important;
			}
		}
	}
}

@media( max-width:767px){
	#tb_wrapper .sidebar-area.ct-inc-megamenu{
		.widget_nav_menu{
			ul.dropdown-menu{
				width: 100%!important;
			}
		}
	}
}

@media(min-width:992px){
	.sidebar-area,.widget-area{
		.widget{
			&.widget_nav_menu{
				ul.menu{
					ul.sub-menu{
						left:100%;
					}
				}
			}
		}
	}
	#tb_wrapper .sidebar-area.ct-inc-megamenu{
		.widget_nav_menu{
			ul.menu{
				.standar-dropdown{
					box-shadow: 2px 0 10px rgba(0,0,0,0.09) !important;
					a{
						&:hover{
							padding-left: 25px;
						}
					}
				}
				.has_full_width{
					> ul{
						background-color: #fff!important;
						box-shadow: 2px 0 10px rgba(0,0,0,0.09) !important;
						> li{
							background-color: #fff!important;
							> a{
								padding:0 22px!important;
							}
							a{
								background-color: #fff!important;
								color: #5e5e5e!important;
								padding:0;
								&:hover{
									color:@tb_primary_color!important;
								}
							}
							li{
								padding:0 22px;
								a{
									border-bottom: 1px solid #ebebeb;
									&:hover{
										padding-left: 3px;
									}
								}
								&:last-child{
									a{
										border-bottom: none;
									}
								}
							}
						}
					}
					li{
						background-color: #fff!important;
						border-bottom: none;
					}
				}
			}
		}
	}
}

.widget_zo-recent-posts-widget-with-thumbnails{
	.tb-recent-thumb, .tb-recent-detail{
		display: inline-block;
		float: left;
		width: 100px;
	}
	ul li{
		border-color: #e6e6e6;
		&:last-child{
			border-bottom: none;
		}
	}
	.tb-recent-detail{
		font-size: 13px;
		line-height: 22px;
		padding-left: 15px;
		padding-top: 15px;
		width: ~"calc(100% - 100px)";
		.tb-post-title{
			h3{
				font-size: 13px;
				color: #747474;
				line-height:22px;
				margin-bottom: 10px;
				&:hover{
					color:@tb_primary_color;
				}
			}
		}
		.tb-post-content{
			margin-bottom: 5px;
			p{ margin: 0 !important; }
		}
		.tb-post-date{
			color: @tb_primary_color;
			text-transform: uppercase;
		}
	}
}

.widget_search{
	form{
		display: inline-block;
		width: 100%;
		margin-bottom: -10px;
		input[type="text"]{
			float: left;
			width: ~"calc( 100% - 80px )";
			padding-left: 12px;
			padding-right: 12px;
			border-right: 0;
			height: 40px;
		}
		input[type="submit"]{
			background-color: @tb_primary_color;
			border: 0;
			float: left;
			font-size: 12px;
			margin: 0;
			text-transform: uppercase;
			width: 80px; 
			color: #fff;
		}
	}
}

.widget_recent_comments{
	.recentcomments{
		span{
			text-transform: capitalize;
		}
	}
}