/* CSS CUSTOM WOO */
body ins{
	background: transparent;
}
/*Products Tabs*/
.tb-products-tabs1{
	.vc_tta-tabs-container {
		margin: 0 !important;
		.vc_tta-tabs-list {
			.vc_tta-tab {
				position: relative;
				display: inline-block;
				margin-bottom: 50px;
				> a {
					.transition(all 0.4s ease 0s);
					font-size: 22px;
					line-height: 18px;
					color: #cacaca;
					background: transparent;
					text-transform: capitalize;
					border: none;
					&:hover, &:focus, &:active {
						color: #383838;
						background: transparent;
					}
				}
				&.vc_active {
					> a {
						color: #383838;
						background: transparent;
					}
					&:after{
						content: "";
						height: 100%;
						left: 50%;
						position: absolute;
						top: 50px;
						width: 87px;
						z-index: 9;
						.transform( translateX(-50%) );
						background: rgba(0, 0, 0, 0) url('assets/images/underline-style-2.png') no-repeat scroll 0 0;
					}
				}
				&:before {
					content: "";
					position: absolute;
					top: 14px;
					right: 0;
					height: 20px;
					width: 2px;
					background: #cacaca;
				}
				&:last-child {
					&:before {
						display: none;
					}
				}
			}
		}
	}
	.vc_tta-panels-container {
		.vc_tta-panels {
			background: transparent !important;
			border: none !important;
			&:before, &:after {
				border: none;
			}
			.vc_tta-panel {
				.vc_tta-panel-body {
					display: block !important;
					height: 0;
					min-height: auto;
					opacity: 0;
					margin: 0;
					padding: 0;
					border: none;
					.transition(all 0s ease 0s);
					&:before, &:after {
						border: none;
					}
				}
				&.vc_active {
					.vc_tta-panel-body {
						height: auto;
						opacity: 1;
						overflow: visible;
					}
				}
			}
		}
	}
}

.tb-products-tabs{
	.vc_tta-tabs-container {
		margin: 0 !important;
		.vc_tta-tabs-list {
			position: relative;
			&:before{
				border-top: 1px solid #444444;
				top: 24px;
				content: " ";
				position: absolute;
				left: 0;
				width: 100%;
				z-index: -1;
			}
			.vc_tta-tab {
				margin-left: -2.5px;
				margin-right: -2.5px;
				position: relative;
				display: inline-block;
				margin-bottom: 17px;
				.cayto-title-separator-wrap .cayto-title;
				&:before{
					display: block!important;
					left: 0;
				}
				&:after{
					right:0;
					display: none!important;
				}
				&:after,&:before{
					z-index: 6;
					top:22px;
				}
				&:last-child{
					&:after{
						display: block!important;
					}
				}
				> a {
					font-size: 18px;
					line-height: 18px;
					color: #272727;
					background: #fff!important;
					border: none !important;
					padding:14px 18px;
					text-transform: capitalize;
					&:hover, &:focus, &:active {
						color: @tb_primary_color;
					}
				}
				&.vc_active {
					> a {
						color: @tb_primary_color !important;
					}
					// &:after{
					// 	content: "";
					// 	height: 100%;
					// 	left: 50%;
					// 	position: absolute;
					// 	top: 50px;
					// 	width: 87px;
					// 	z-index: 9;
					// 	.transform( translateX(-50%) );
					// 	background: rgba(0, 0, 0, 0) url('assets/images/underline-style-2.png') no-repeat scroll 0 0;
					// }
				}
				// &:before {
				// 	content: "";
				// 	position: absolute;
				// 	top: 14px;
				// 	right: 0;
				// 	height: 20px;
				// 	width: 2px;
				// 	background: #cacaca;
				// }
				// &:last-child {
				// 	&:before {
				// 		display: none;
				// 	}
				// }
			}
		}
	}
	.vc_tta-panels-container {
		.vc_tta-panels {
			background: transparent !important;
			border: none !important;
			&:before, &:after {
				border: none;
			}
			.vc_tta-panel {
				.vc_tta-panel-body {
					display: block !important;
					height: 0;
					min-height: auto;
					opacity: 0;
					margin: 0;
					padding: 0;
					border: none;
					.transition(all 0s ease 0s);
					&:before, &:after {
						border: none;
					}
				}
				&.vc_active {
					.vc_tta-panel-body {
						height: auto;
						opacity: 1;
						overflow: visible;
					}
				}
			}
		}
	}
}

/*Whishlist Page*/

.woocommerce {
	.tb-product-item-inner {
		position: relative;
		margin-bottom: 30px;
		overflow:hidden;
		.tb-image {
			position: relative;
			line-height: 0;
			margin-bottom: 17px;
			// overflow: hidden;
			> img {
				width: 100%;
				height: auto;
			}
			.tb-color-attribute{
				.easing-animation;
				position: absolute;
			    width: 100%;
			    transform:scale(0.8,1);
				-webkit-trasnform:scale(0.8,1);
				opacity: 0;
			    bottom: 0;
			    z-index: 999;
				li{
				    width: 11px;
				    height: 11px;
				    border: 1px solid #d0d0d0;
				    margin-right: 5px;
				    text-indent: -999px;
				}
			}
			.onsale,.new{
				font-size: 13px;
				font-weight: 400;
				color: #fff;
				background: #f7605e;
				position: absolute;
				top: 20px;
				left: auto;
				right: 20px;
				width: 48px;
				height: 48px;
				line-height: 43px;
				text-align: center;
				.border-radius(50%);
				z-index: 10;
			}
			.new {
				background-color: #19c4aa;
				top:auto;
				bottom:20px;
				line-height: 46px;
			}
			.yith-wcqv-button {
				.transition(all 0.4s ease 0s);
				position: relative;
				display: inline-block;
				vertical-align: middle;
				width: 40px;
				height: 40px;
				background: #393939;
				padding: 0;
				margin: 0 5px 0 0;
				overflow: hidden;
				.border-radius(0);
				&:before {
					.transition(all 0.4s ease 0s);
					font-family: FontAwesome;
					content: "\f06e";
					color: #fff;
					position: absolute;
					top: 50%;
					left: 50%;
					-webkit-transform: translateX(-50%) translateY(-50%);
					-moz-transform: translateX(-50%) translateY(-50%);
					-o-transform: translateX(-50%) translateY(-50%);
					-ms-transform: translateX(-50%) translateY(-50%);
					transform: translateX(-50%) translateY(-50%);
				}
				&:hover {
					background: @tb_primary_color;
				}
			}
		}
		&:hover {
			.tb-content {
				.tb-price-rating {
					.tb-item-rating {
						opacity: 1;
					}
				}
				.tb-action {
					.yith-wcwl-add-to-wishlist {
						width: 40px;
						margin-right: 10px;
						opacity: 1;
					}
					.compare-button {
						width: 40px;
						margin-left: 10px;
						opacity: 1;
					}
				}
			}
			.tb-color-attribute{
				opacity: 1;
				transform:scale(1);
				-webkit-trasnform:scale(1);
			}
		}
		&:after {
			content: "";
			display: block;
			clear: both;
		}
	}
	.single_add_to_cart_button{
	    background-clip: padding-box;
	    background-color: @tb_primary_color;
	    // border: 1px solid @tb_primary_color;
	    color: #fff;
	    display: inline-block;
	    outline: medium none;
	    padding: 0 35px;
	    height: 40px;
	    line-height: 40px;
	    margin-right: 5px;
	    text-align: center;
	    text-transform: capitalize;
	    font-size: 13px;
	    font-weight: 400;
	    .border-radius(0);
	    .easing-animatio;
	    &:hover{
	        background: #393939;
	    }
	}
	.wishlist-title {
		padding: 0;
		margin-bottom: 30px;
	}
	.wishlist_table {
		border-radius:0;
		border-color: #ebebeb;
		thead th {
			font-size: 14px;
			line-height: 24px;
			padding: 16px 12px;
			text-transform: capitalize;
			&.product-price, &.product-stock-stauts {
				text-align: center;
			}
		}
		tbody td {
			font-size: 14px;
			padding: 16px 12px;
			&.product-name, &.product-add-to-cart {
				text-transform: capitalize;
				> a {
					color: #474747;
				}
				.yith-wcqv-button{
					font-size: 13px;
					color: #474747;
					background: #ffffff;
					border: 1px solid #ebebeb;
					float: right;
					.border-radius(0);
					&:hover {
						color: #ffffff;
						background: @tb_primary_color;
						border: 1px solid @tb_primary_color;
					}
				}
				.add_to_cart{
					background-clip: padding-box;
				    background-color: @tb_primary_color;
				    // border: 1px solid @tb_primary_color;
				    color: #fff;
				    display: inline-block;
				    outline: medium none;
				    padding: 0 35px;
				    height: 40px;
				    line-height: 40px;
				    margin-right: 5px;
				    text-align: center;
				    text-transform: capitalize;
				    font-size: 13px;
				    font-weight: 400;
				    .border-radius(0);
				    .easing-animatio;
				    &:hover{
				        background: #393939;
				    }
				}
			}
		}
	}

	// p.stars{
	// 	a{
	// 		letter-spacing: 0.2em;
	// 		color:#dadada;
	// 		&.star-1{
	// 			&:after{
	// 				content:"";
	// 			}
	// 		}
	// 		&.star-2{
	// 			width:3.4em;
	// 			&:after{
	// 				content:"";
	// 			}
	// 		}
	// 		&.star-3{
	// 			width:4.4em;
	// 			&:after{
	// 				content:"";
	// 			}
	// 		}
	// 		&.star-4{
	// 			width:5.6em;
	// 			&:after{
	// 				content:"";
	// 			}
	// 		}
	// 		&.star-5{
	// 			width:6.6em;
	// 			&:after{
	// 				content:"";
	// 			}
	// 		}
	// 		&.active,&:hover{
	// 			color:@tb_primary_color;
	// 		}
	// 	}
	// }
	//update fix new version
	#respond input#submit{
		.btn-transparent;
	}
	table.shop_attributes {
		td{
			padding-left: 15px;
			p{
				padding-bottom: 0;
				margin-bottom: 0!important;
			}
		}
	}
	p.stars{
		a{
			margin-right: 2px;
		}
		a:before,a:hover~a:before{
			color:#dadada;
			content: "\e020";
		}
		&.selected,&:hover{
			a.active:before, a:before{
				color:@tb_primary_color;
			}
		}
	}
	.star-rating{
		width:6.2em;
		height: 1.1em;
		letter-spacing: 0.2em;
		&:before{
			color:#dadada;
			content: "\53\53\53\53\53";
			top:1px;
		}
		span{
			&:before{
				color:#888;
				top:1px;
			}
		}
	}
	.tb-item-rating{
		font-size: 11.5px;
		.star-rating{
			margin:0 4px 5px 0;
			float: none;
		}
	}
	.woocommerce-tabs{
		margin-top: 40px;
		.tabs{
			padding:0!important;
			margin: 0 !important;
			&:before{
				border: 0 !important;
			}
			li{
				box-shadow: none !important;
				border-radius: 0 !important;
				background: transparent !important;
				margin: 0 !important;
				border: 0 !important;
				&:before,&:after{
					display: none;
				}
				a{
					color: #bebebe !important;
					font-size: 17px !important;
					font-weight: normal !important;
					letter-spacing: 0;
				}
				&.active{
					background: @tb_primary_color !important;
					a{
						color: #fff !important;
					}
				}
			}
		}
		.panel{
			border: 1px solid #ececec !important;
			padding: 30px 25px 20px !important;
			.border-radius(0 !important);
		}
	}
	.tb-image{
		.tb-action {
			.easing-animation-long;
			// visibility: hidden;
			opacity: 0;
			position: absolute;
		    top: 50%;
		    left: -20px;
		    z-index:5;
		    -webkit-transform:translateY(-50%);
		    transform:translateY(-50%);
			> div.clear {
				display: none;
			}
			.yith-wcwl-add-to-wishlist {
				.btn-act;
				.add_to_wishlist {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
				}
				.yith-wcwl-add-button {
					.btn-act-before("\f004");
				}
				.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
				.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
					> span {
						opacity: 0;
					}
					> a {
						position: absolute;
						top: 0;
						left: 0;
						width: 100%;
						height: 100%;
						opacity: 0;
					}
					.btn-act-before("\f064");
				}
				// .yith-wcwl-wishlistaddedbrowse{
				// 	display: none!important;
				// }
			}
			.compare-button {
				.btn-act;
				.compare {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
				}
				.btn-act-before("\f079");
			}
			.btn-add-to-cart {
				.btn-act;
				.btn-act-before("\f07a");
			}
			.added_to_cart{
				display: none;
			}
		}
		&:hover{
			.tb-action{
				// visibility: visible;
				opacity: 1;
				left: 0;
			}
		}
		> a{
			display: block;
			overflow: hidden;
			.thumb-pd-effect;
		}
		&:hover{
			> a{
		        color: @tb_primary_color;
		        &:before{
		            opacity: 1;
		            bottom:0;
		        }
		        .thumb-pd-hover-effect;
			}
		}
	}
	.type-product.product-type-variable{
		.tb-image{
			.tb-action{
				.btn-add-to-cart {
					&:before{
						content:"\f0c9";
					}
				}
			}
		}
	}
	.type-product.products-widget{
		.tb-product-item {
			position: relative;
			margin-top:12px;
			margin-bottom: 14px;
			.tb-image {
				position: relative;
				width: 90px;
				height: auto;
				float: left;
				// overflow: hidden;
				> img {
					width: 100%;
					height: auto;
					display: block;
				}
				.thumb-pd-effect;
			}
			.tb-content {
				padding-left: 110px;
				.tb-title {
					padding-top: 3px;
					margin-bottom: 5px;
					.transition(all 0.4s ease 0s);
					font-size: 14px;
					font-weight: 400;
					line-height: 24px;
					color: #747474;					
					&:hover {
						color: @tb_primary_color;
					}
				}
				.tb-price-rating {
					position: relative;
					.tb-product-price {
						.transition(all 0.4s ease 0s);
						font-size: 14px;
						font-weight: 400;
						line-height: 0;
						color: @tb_primary_color;
						display: block;
						margin-top: 4px;
						> del {
							position: relative;
							font-size: 12px;
							line-height: 12px;
							color: #c5c5c5;
							// text-decoration: none;
							margin-right: 6px;
							// &:before {
							// 	border-top: 1px solid #c5c5c5;
							// 	content: "";
							// 	position: absolute;
							// 	width: 120%;
							// 	top: 10px;
							// 	left: -3px;
							// 	-webkit-transform: rotate(-15deg);
							// 	-moz-transform: rotate(-15deg);
							// 	-o-transform: rotate(-15deg);
							// 	-ms-transform: rotate(-15deg);
							// 	transform: rotate(-15deg);
							// }
						}
					}

					.tb-item-rating {
						display: inline-block;
						.star-rating {
							float: none;
							margin-bottom: 5px;
							// margin-top:4px;
						}
						.woocommerce-review-link{
							display: none;
						}
					}
					.tb-product-price{
						margin-top: 0;
						> span.amount{
							margin-top: 6px;
							display: inline-block;
						}
					}
				}
			}
			&:after {
				content: "";
				display: block;
				clear: both;
			}
			&:hover{
				.tb-image{
					.thumb-pd-hover-effect;
				}
			}
		}
	}
	.variations {
		width: 100%;
		tr {
			td {
				padding-right: 0;
				float: left;
				&.label {
					text-align: left;
					padding: 12px 0 0;
					width: 15%;
					span{
						color: @tb_primary_color;
					}
					label{
						font-size: 13px;
						color: #515151;
						font-weight: normal!important;
					}
				}
				&.value {
					padding-top: 0;
					width: 85%;
					position: relative;
					.reset_variations {
						position: absolute;
						bottom: -5px;
						left: 0;
						&:hover {
							color: @main-color;
						}
					}
					select{
						-moz-appearance: none;
						-webkit-appearance: none;
						position: relative;
						line-height: 17.5px!important;
						padding:0 10px;
					}
					&:before{
						content: "\f107";
						font-family: FontAwesome;
						position: absolute;
						right: 20px;
						top: 8px;
						z-index: 1;
					}
					> .reset_variations a{
						display: none;
					}
				}
			}
			select[name="attribute_size"]{
				margin-bottom: 35px;
			}
		}
	}
}

.woocommerce table.my_account_orders{
	border-radius: 0;
	font-size: 13px;
	.order-actions .button{
		.woocommerce .single_add_to_cart_button;
	} 
}

#yith-quick-view-content{

	.onsale{
		.woocommerce .tb-product-item-inner .tb-image .onsale;
		left:20px;
		right: auto;
	}
	.entry-title{
		font-size: 16px;
	}
	.ro-rate{
		.woocommerce-product-rating{
			margin-bottom: 8px;
		}
	}
	.tb-product-price{
		.price{
			font-size: 16px;
			color: @tb_primary_color;
			margin-bottom: 5px;
			font-family: @tb_body_font;
			ins{
				text-decoration: none;
			}
			del{
				color: #b1b1b1;
				font-size: 14px;
			}
		}
	}
	.ro-quantity .quantity input{
		width: 100%;
	}
	.single_add_to_cart_button{
		border: none;
		margin-top: 10px;
	}
}

// .tb-product-item-tpl1 {
// 	position: relative;
// 	margin-bottom: 30px;
// 	.tb-image {
// 		position: relative;
// 		line-height: 0;
// 		overflow: hidden;
// 		> img {
// 			width: 100%;
// 			height: auto;
// 		}
// 		.onsale{
// 			font-size: 13px;
// 			font-weight: 400;
// 			color: #626262;
// 			background: #ffffff;
// 			position: absolute;
// 			top: 15px;
// 			left: 15px;
// 			width: 40px;
// 			height: 40px;
// 			min-height: auto;
// 			line-height: 38px;
// 			text-align: center;
// 			-webkit-border-radius: 50%;
// 			-moz-border-radius: 50%;
// 			border-radius: 50%;
// 			.box-shadow( 1px 1px 0px 1px #dadada );
// 			z-index: 9;
// 		}
// 		.new {
// 			font-size: 13px;
// 			font-weight: 400;
// 			color: #ffffff;
// 			background: #2b2b2b;
// 			position: absolute;
// 			top: 15px;
// 			right: 15px;
// 			width: 42px;
// 			height: 42px;
// 			line-height: 40px;
// 			text-align: center;
// 			-webkit-border-radius: 50%;
// 			-moz-border-radius: 50%;
// 			border-radius: 50%;
// 			.box-shadow( 1px 1px 0px 1px #dadada );
// 			z-index: 9;
// 		}
// 		.yith-wcqv-button {
// 			.transition(all 0.4s ease 0s);
// 			display: inline-block;
// 			position: absolute;
// 			top: 50%;
// 			left: 50%;
// 			width: 60px;
// 			height: 60px;
// 			font-size: 20px;
// 			line-height: 60px;
// 			color: #585858;
// 			background: rgba(255, 255, 255, 0.9);
// 			text-align: center;
// 			padding: 0;
// 			overflow: hidden;
// 			-webkit-border-radius: 50%;
// 			-moz-border-radius: 50%;
// 			border-radius: 50%;
// 			-webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			-moz-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			-o-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			-ms-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			opacity: 0;
// 			&:hover {
// 				color: #ffffff;
// 				background: @tb_primary_color;
// 				border-color: @tb_primary_color;
// 			}
// 		}
// 	}
// 	.tb-content {
// 		text-align: center;
// 		padding: 20px 10px;
// 		.tb-title {
// 			.transition(all 0.4s ease 0s);
// 			font-size: 14px;
// 			font-weight: 400;
// 			line-height: 17px;
// 			color: #747474;
// 			text-transform: capitalize;
// 			margin-bottom: 5px;
// 			&:hover {
// 				color: @tb_primary_color;
// 			}
// 		}
// 		.tb-price-rating {
// 			position: relative;
// 			margin-bottom: 10px;
// 			.tb-product-price {
// 				.transition(all 0.4s ease 0s);
// 				font-size: 14px;
// 				font-weight: 400;
// 				line-height: 36px;
// 				color: #484848;
// 				> del {
// 					position: relative;
// 					font-size: 12px;
// 					line-height: 12px;
// 					color: #c5c5c5;
// 					text-decoration: none;
// 					margin-right: 10px;
// 					&:before {
// 						border-top: 1px solid #c5c5c5;
// 						content: "";
// 						position: absolute;
// 						width: 120%;
// 						top: 10px;
// 						left: -3px;
// 						-webkit-transform: rotate(-15deg);
// 						-moz-transform: rotate(-15deg);
// 						-o-transform: rotate(-15deg);
// 						-ms-transform: rotate(-15deg);
// 						transform: rotate(-15deg);
// 					}
// 				}
// 			}
// 			.tb-item-rating {
// 				.transition(all 0.4s ease 0s);
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 				background: #ffffff;
// 				opacity: 0;
// 				.star-rating {
// 					float: none;
// 					margin: 11px auto;
// 				}
// 			}
// 		}
// 		.tb-action {
// 			> div.clear {
// 				display: none;
// 			}
// 			.yith-wcwl-add-to-wishlist {
// 				.transition(all 0.4s ease 0s);
// 				position: relative;
// 				display: inline-block;
// 				vertical-align: middle;
// 				width: 0;
// 				height: 40px;
// 				background: #393939;
// 				padding: 0;
// 				margin: 0;
// 				overflow: hidden;
// 				opacity: 0;
// 				.add_to_wishlist {
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					width: 100%;
// 					height: 100%;
// 					opacity: 0;
// 				}
// 				.yith-wcwl-add-button {
// 					&:before {
// 						.transition(all 0.4s ease 0s);
// 						font-family: FontAwesome;
// 						content: "\f004";
// 						color: #fff;
// 						position: absolute;
// 						top: 50%;
// 						left: 50%;
// 						-webkit-transform: translateX(-50%) translateY(-50%);
// 						-moz-transform: translateX(-50%) translateY(-50%);
// 						-o-transform: translateX(-50%) translateY(-50%);
// 						-ms-transform: translateX(-50%) translateY(-50%);
// 						transform: translateX(-50%) translateY(-50%);
// 					}
// 				}
// 				.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
// 				.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
// 					> span {
// 						opacity: 0;
// 					}
// 					> a {
// 						position: absolute;
// 						top: 0;
// 						left: 0;
// 						width: 100%;
// 						height: 100%;
// 						opacity: 0;
// 					}
// 					&:before {
// 						.transition(all 0.4s ease 0s);
// 						font-family: FontAwesome;
// 						content: "\f064";
// 						color: #fff;
// 						position: absolute;
// 						top: 50%;
// 						left: 50%;
// 						-webkit-transform: translateX(-50%) translateY(-50%);
// 						-moz-transform: translateX(-50%) translateY(-50%);
// 						-o-transform: translateX(-50%) translateY(-50%);
// 						-ms-transform: translateX(-50%) translateY(-50%);
// 						transform: translateX(-50%) translateY(-50%);
// 					}
// 				}
				
// 				&:hover {
// 					background: @tb_primary_color;
// 				}
// 			}
// 			.compare-button {
// 				.transition(all 0.4s ease 0s);
// 				position: relative;
// 				display: inline-block;
// 				vertical-align: middle;
// 				width: 0;
// 				height: 40px;
// 				background: #ffffff;
// 				padding: 0;
// 				margin: 0;
// 				border: 1px solid #dcdcdc;
// 				-webkit-border-radius: 40px;
// 				-moz-border-radius: 40px;
// 				border-radius: 40px;
// 				overflow: hidden;
// 				opacity: 0;
// 				.compare {
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					width: 100%;
// 					height: 100%;
// 					opacity: 0;
// 				}
// 				&:before {
// 					.transition(all 0.4s ease 0s);
// 					font-family: FontAwesome;
// 					content: "\f079";
// 					color: #757575;
// 					position: absolute;
// 					top: 50%;
// 					left: 50%;
// 					-webkit-transform: translateX(-50%) translateY(-50%);
// 					-moz-transform: translateX(-50%) translateY(-50%);
// 					-o-transform: translateX(-50%) translateY(-50%);
// 					-ms-transform: translateX(-50%) translateY(-50%);
// 					transform: translateX(-50%) translateY(-50%);
// 				}
// 				&:hover {
// 					background: @tb_primary_color;
// 					border-color: @tb_primary_color;
// 					&:before {
// 						color: #ffffff;
// 					}
// 				}
// 			}
// 			.btn-add-to-cart{
// 				.transition(all 0.4s ease 0s);
// 				font-size: 12px;
// 				font-weight: 400;
// 				display: inline-block;
// 				vertical-align: middle;
// 				max-width: 130px;
// 				margin: 0 auto;
// 				color: #747474;
// 				background-color: #ffffff;
// 				padding: 7px 32px;
// 				text-align: center;
// 				text-transform: capitalize;
// 				border: 1px solid #dcdcdc;
// 				-webkit-border-radius: 30px;
// 				-moz-border-radius: 30px;
// 				border-radius: 30px;
// 				&:hover{
// 					color: #ffffff;
// 					background: @tb_primary_color;
// 					border-color: @tb_primary_color;
// 				}
// 			}
// 		}
// 	}
// 	&:hover {
// 		.tb-image {
// 			.yith-wcqv-button {
// 				-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
// 				-moz-transform: translateX(-50%) translateY(-50%) scale(1);
// 				-o-transform: translateX(-50%) translateY(-50%) scale(1);
// 				-ms-transform: translateX(-50%) translateY(-50%) scale(1);
// 				transform: translateX(-50%) translateY(-50%) scale(1);
// 				opacity: 1;
// 			}
// 		}
// 		.tb-content {
// 			.tb-price-rating {
// 				.tb-item-rating {
// 					opacity: 1;
// 				}
// 			}
// 			.tb-action {
// 				.yith-wcwl-add-to-wishlist {
// 					width: 40px;
// 					margin-right: 10px;
// 					opacity: 1;
// 				}
// 				.compare-button {
// 					width: 40px;
// 					margin-left: 10px;
// 					opacity: 1;
// 				}
// 			}
// 		}
// 	}
// 	&:after {
// 		content: "";
// 		display: block;
// 		clear: both;
// 	}
// }

// .tb-product-item-tpl2 {
// 	position: relative;
// 	margin-bottom: 30px;
// 	.tb-image {
// 		position: relative;
// 		width: 120px;
// 		height: auto;
// 		float: left;
// 		overflow: hidden;
// 		> img {
// 			width: 100%;
// 			height: auto;
// 		}
// 		.onsale{
// 			font-size: 13px;
// 			font-weight: 400;
// 			color: #626262;
// 			background: #ffffff;
// 			position: absolute;
// 			top: 0;
// 			left: -22px;
// 			width: 75px;
// 			height: 30px;
// 			min-height: auto;
// 			line-height: 30px;
// 			text-align: center;
// 			.box-shadow( 1px 1px 0px 1px #dadada );
// 			-webkit-border-radius: 0;
// 			-moz-border-radius: 0;
// 			border-radius: 0;
// 			.box-shadow( 1px 1px 0px 1px #dadada );
// 			-webkit-transform: rotate(-45deg);
// 			-moz-transform: rotate(-45deg);
// 			-o-transform: rotate(-45deg);
// 			-ms-transform: rotate(-45deg);
// 			transform: rotate(-45deg);
// 		}
// 		.new {
// 			font-size: 13px;
// 			font-weight: 400;
// 			color: #ffffff;
// 			background: #2b2b2b;
// 			position: absolute;
// 			top: 0;
// 			right: -22px;
// 			width: 75px;
// 			height: 30px;
// 			line-height: 30px;
// 			text-align: center;
// 			.box-shadow( 1px 1px 0px 1px #dadada );
// 			-webkit-transform: rotate(45deg);
// 			-moz-transform: rotate(45deg);
// 			-o-transform: rotate(45deg);
// 			-ms-transform: rotate(45deg);
// 			transform: rotate(45deg);
// 		}
// 		.yith-wcqv-button {
// 			.transition(all 0.4s ease 0s);
// 			display: inline-block;
// 			position: absolute;
// 			top: 50%;
// 			left: 50%;
// 			width: 60px;
// 			height: 60px;
// 			font-size: 20px;
// 			line-height: 60px;
// 			color: #585858;
// 			background: rgba(255, 255, 255, 0.9);
// 			text-align: center;
// 			padding: 0;
// 			opacity: 0;
// 			overflow: hidden;
// 			-webkit-border-radius: 50%;
// 			-moz-border-radius: 50%;
// 			border-radius: 50%;
// 			-webkit-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			-moz-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			-o-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			-ms-transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			transform: translateX(-50%) translateY(-50%) scale(0.6);
// 			&:hover {
// 				color: #ffffff;
// 				background: @tb_primary_color;
// 				border-color: @tb_primary_color;
// 			}
// 		}
// 	}
// 	.tb-content {
// 		padding-left: 150px;
// 		.tb-title {
// 			.transition(all 0.4s ease 0s);
// 			font-size: 14px;
// 			font-weight: 400;
// 			line-height: 17px;
// 			color: #747474;
// 			text-transform: capitalize;
// 			margin-bottom: 5px;
// 			&:hover {
// 				color: @tb_primary_color;
// 			}
// 		}
// 		.tb-price-rating {
// 			position: relative;
// 			.tb-product-price {
// 				.transition(all 0.4s ease 0s);
// 				font-size: 14px;
// 				font-weight: 400;
// 				line-height: 36px;
// 				color: #484848;
// 				> del {
// 					position: relative;
// 					font-size: 12px;
// 					line-height: 12px;
// 					color: #c5c5c5;
// 					text-decoration: none;
// 					margin-right: 10px;
// 					&:before {
// 						border-top: 1px solid #c5c5c5;
// 						content: "";
// 						position: absolute;
// 						width: 120%;
// 						top: 10px;
// 						left: -3px;
// 						-webkit-transform: rotate(-15deg);
// 						-moz-transform: rotate(-15deg);
// 						-o-transform: rotate(-15deg);
// 						-ms-transform: rotate(-15deg);
// 						transform: rotate(-15deg);
// 					}
// 				}
// 			}
// 			.tb-item-rating {
// 				.transition(all 0.4s ease 0s);
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: 100%;
// 				height: 100%;
// 				background: #ffffff;
// 				opacity: 0;
// 				.star-rating {
// 					float: none;
// 					margin: 11px 0;
// 				}
// 			}
// 		}
// 		.tb-action {
// 			> div.clear {
// 				display: none;
// 			}
// 			.yith-wcwl-add-to-wishlist {
// 				.transition(all 0.4s ease 0s);
// 				position: relative;
// 				display: inline-block;
// 				vertical-align: middle;
// 				width: 40px;
// 				height: 40px;
// 				background: #393939;
// 				padding: 0;
// 				margin: 0 5px 0 0;				
// 				overflow: hidden;
// 				.add_to_wishlist {
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					width: 100%;
// 					height: 100%;
// 					opacity: 0;
// 				}
// 				.yith-wcwl-add-button {
// 					&:before {
// 						.transition(all 0.4s ease 0s);
// 						font-family: FontAwesome;
// 						content: "\f004";
// 						color: #fff;
// 						position: absolute;
// 						top: 50%;
// 						left: 50%;
// 						-webkit-transform: translateX(-50%) translateY(-50%);
// 						-moz-transform: translateX(-50%) translateY(-50%);
// 						-o-transform: translateX(-50%) translateY(-50%);
// 						-ms-transform: translateX(-50%) translateY(-50%);
// 						transform: translateX(-50%) translateY(-50%);
// 					}
// 				}
// 				.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
// 				.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
// 					> span {
// 						opacity: 0;
// 					}
// 					> a {
// 						position: absolute;
// 						top: 0;
// 						left: 0;
// 						width: 100%;
// 						height: 100%;
// 						opacity: 0;
// 					}
// 					&:before {
// 						.transition(all 0.4s ease 0s);
// 						font-family: FontAwesome;
// 						content: "\f064";
// 						color: #757575;
// 						position: absolute;
// 						top: 50%;
// 						left: 50%;
// 						-webkit-transform: translateX(-50%) translateY(-50%);
// 						-moz-transform: translateX(-50%) translateY(-50%);
// 						-o-transform: translateX(-50%) translateY(-50%);
// 						-ms-transform: translateX(-50%) translateY(-50%);
// 						transform: translateX(-50%) translateY(-50%);
// 					}
// 				}
				
// 				&:hover {
// 					background: @tb_primary_color;
// 				}
// 			}
// 			.compare-button {
// 				.transition(all 0.4s ease 0s);
// 				position: relative;
// 				display: inline-block;
// 				vertical-align: middle;
// 				width: 40px;
// 				height: 40px;
// 				background: #393939;
// 				padding: 0;
// 				margin: 0 5px 0 0;
// 				overflow: hidden;
// 				.compare {
// 					position: absolute;
// 					top: 0;
// 					left: 0;
// 					width: 100%;
// 					height: 100%;
// 					opacity: 0;
// 				}
// 				&:before {
// 					.transition(all 0.4s ease 0s);
// 					font-family: FontAwesome;
// 					content: "\f079";
// 					color: #fff;
// 					position: absolute;
// 					top: 50%;
// 					left: 50%;
// 					-webkit-transform: translateX(-50%) translateY(-50%);
// 					-moz-transform: translateX(-50%) translateY(-50%);
// 					-o-transform: translateX(-50%) translateY(-50%);
// 					-ms-transform: translateX(-50%) translateY(-50%);
// 					transform: translateX(-50%) translateY(-50%);
// 				}
// 				&:hover {
// 					background: @tb_primary_color;
// 				}
// 			}
// 			.btn-add-to-cart {
// 				.transition(all 0.4s ease 0s);
// 				position: relative;
// 				display: inline-block;
// 				vertical-align: middle;
// 				width: 40px;
// 				height: 40px;
// 				color: #ffffff;
// 				background: #ffffff;
// 				padding: 0;
// 				margin: 0 5px 0 0;
// 				overflow: hidden;
// 				&:before {
// 					.transition(all 0.4s ease 0s);
// 					font-family: FontAwesome;
// 					content: "\f07a";
// 					color: #fff;
// 					position: absolute;
// 					top: 50%;
// 					left: 50%;
// 					-webkit-transform: translateX(-50%) translateY(-50%);
// 					-moz-transform: translateX(-50%) translateY(-50%);
// 					-o-transform: translateX(-50%) translateY(-50%);
// 					-ms-transform: translateX(-50%) translateY(-50%);
// 					transform: translateX(-50%) translateY(-50%);
// 				}
// 				&:hover{
// 					color: @tb_primary_color;
// 					background: @tb_primary_color;
// 				}
// 			}
// 		}
// 	}
// 	&:after {
// 		content: "";
// 		display: block;
// 		clear: both;
// 	}
// 	&:hover {
// 		.tb-image {
// 			.yith-wcqv-button {
// 				-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
// 				-moz-transform: translateX(-50%) translateY(-50%) scale(1);
// 				-o-transform: translateX(-50%) translateY(-50%) scale(1);
// 				-ms-transform: translateX(-50%) translateY(-50%) scale(1);
// 				transform: translateX(-50%) translateY(-50%) scale(1);
// 				opacity: 1;
// 			}
// 		}
// 		.tb-content {
// 			.tb-price-rating {
// 				.tb-item-rating {
// 					opacity: 1;
// 				}
// 			}
// 			.tb-action {
				
// 			}
// 		}
// 	}
// }

.tb-btn-prod{
	position: relative;
	width:40px;
	.tooltip{
		padding:0;
		left:37px!important;
		top:0!important;
		border-radius: 0;
		.tooltip-arrow{
			display: none;
		}
		.tooltip-inner{
			padding:0;
			line-height: 40px;
			.border-radius(0);
			width:126px;
			text-align: center;
			height: 40px;
		}
	}
}
.vc_images_carousel{
	.vc_carousel-inner,.vc_carousel-slideline{
		overflow: visible!important;
	}
	.vc_carousel-control,.vc_carousel-indicators{
		display: none;
	}
	.owl-controls {
		position: absolute;
		top:50%;
		margin-top: -20px;
		width: 100%;
		.owl-nav {
			> div {
				width: 40px;
			    height: 40px;
			    font-size: 20px;
			    line-height: 37px;
			    text-align: center;
			    color: #383838;
			    background: #fff;
			    opacity: 0;
			    border: 1px solid #ebebeb;
			    text-shadow:none;
			    .border-radius(50%);
			    position: absolute;
			    &:hover {
					color: #ffffff;
					background: @tb_primary_color;
					border-color: @tb_primary_color;
				}
				&.owl-prev{
					left:-30px;
				}
				&.owl-next{
					left:auto;
					right: -30px;
				}
			}
		}
	}
	&:hover {
		.owl-controls {
			.owl-nav {
				> div {
					opacity: 1;
				}
			}
		}
	}
}
/*Products Carousel*/
.woocommerce.tb-product-carousel {
	position: relative;
	.tb-product-item {
		// max-width: 370px;
		margin: 0 auto;
	}
	.owl-controls {
		.owl-nav {
			> div {
				.transition(all 0.4s ease 0s);
				position: absolute;
				z-index: 99;
			    top: -31px!important;
			    width: 30px;
			    height: 30px;
			    font-size: 18px;
			    line-height: 27px;
			    text-align: center;
			    color: #313131;
			    background: #fff;
			    border: 1px solid #444;
				opacity: 0;
				 -webkit-transition-duration: 0.7s; /* Safari */
                transition-duration: 0.7s;
				&.owl-prev {
					left: 0;
				}
				&.owl-next {
					right: 0;
					padding-left: 3px;
				}
				&:hover {
					color: #fff;
					background: #444;
				}
			}
		}
		.owl-dots {
			bottom: -30px;
			left: 0;
			position: absolute;
			width: 100%;
			text-align: center;
			.owl-dot {
				.transition(all 0.4s ease 0s);
				border: 1px solid #dcdcdc;
				border-radius: 50%;
				display: inline-block;
				height: 12px;
				margin: 0 5px;
				width: 12px;
				&.active, &:hover {
					background: @tb_primary_color;
					border-color: @tb_primary_color;
				}
			}
		}
	}
	&:hover {
		.owl-controls {
			.owl-nav {
				> div {
					opacity: 1;
					top:-51px!important;
				}
			}
		}
	}
}
.tb-wrap-carousel,.tb-products-tabs,.tb-category-slider{
	&:hover{
		.owl-controls {
			.owl-nav {
				> div {
					opacity: 1;
					top:-51px!important;
				}
			}
		}
	}
}
.tb-category-slider{
	.woocommerce.tb-product-carousel;
}
// update fix position control
.vc_tta-panels-container{
	z-index: 100;
}
@media (min-width: 992px) and (max-width: 1200px) {
	.woocommerce.tb-product-carousel .tb-product-item {
		.tb-content .tb-action {
			.btn-add-to-cart {
				padding: 7px 20px;
			}
		}
		&:hover {
			.tb-content .tb-action {
				.yith-wcwl-add-to-wishlist {
					margin-right: 0;
				}
				
				.compare-button {
					margin-left: 2px;
				}
			}
		}
	}
}
@media (max-width: 991px) {

}
@media (max-width: 767px) {
	.woocommerce.tb-product-carousel .tb-product-item {
		// max-width: 370px;
		margin: 0 auto 30px;
	}
}

/*Products Grid*/
.woocommerce.tb-products-grid {
	&.tpl1 {
		.tb-product-item {
			.tb-product-item-tpl1;
		}
	}
	&.tpl2 {
		.tb-product-item {
			.tb-product-item-tpl2;
		}
	}
}
@media (min-width: 992px) and (max-width: 1200px) {
	.woocommerce.tb-products-grid.tpl1 .tb-product-item {
		.tb-content .tb-action {
			.btn-add-to-cart {
				padding: 7px 20px;
			}
		}
		&:hover {
			.tb-content .tb-action {
				.yith-wcwl-add-to-wishlist {
					margin-right: 0;
				}
				
				.compare-button {
					margin-left: 2px;
				}
			}
		}
	}
}
@media (max-width: 991px) {
	.tb-product-list-section {
		.noraure-title-separator-wrap {
			// max-width: 370px;
			margin: 0 auto;
		}
		.woocommerce.tb-products-grid.tpl2 .tb-product-item {
			// max-width: 370px;
			margin: 0 auto 30px;
		}
	}
}
@media (max-width: 767px) {
	.woocommerce.tb-products-grid.tpl1 .tb-product-item {
		// max-width: 370px;
		margin: 0 auto 30px;
	}
}

/*Category item*/
.woocommerce {
	.tb-item-category {
		position: relative;
		margin-bottom: 30px;
		> a{
			.thumb-pd-effect;
			&:hover{
				.tb-title{
					opacity: 0;
				}
			}
		}
		.tb-thumb {			
			position: relative;
			line-height: 0;
			z-index: 5;
			overflow: hidden;
			background-color: #e8e8e8;
			> img {
				width: 100%;
				height: auto;
			}
			&:after{
				position: absolute;
			    top: 0;
			    left: 0;
			    right: 0;
			    bottom: 0;
			    background-color: rgba(0,0,0,0.03);
			    content: "";
			    z-index: 2;
			    opacity: 0;
			}
		}
		.tb-title {
			.easing-animation;
			text-align: center;
		    background-color: rgba(255,255,255,0.8);
		    position: absolute;
		    bottom: 0;
		    z-index: 6;
		    width: 100%;
		    padding: 12px 0 0;
			h3{
				font-size: 18px;
				color:#212121;				
				line-height: 20px;
				margin-bottom: 20px;
			}
			.count {
				padding: 0;
				display: block;
			    font-size: 13px;
			    color: #969696;
			    margin-top: 6px;
			}
		}
		&:hover {
			> a{
				.thumb-pd-hover-effect;
				&:before{
					z-index: 1;
				}
			}
			.tb-thumb:after{
				opacity: 1;
			}
		}
	}
}
@media (max-width: 991px) {
	.woocommerce {
		.tb-item-category {
			// max-width: 370px;
			margin: 0 auto 30px auto;
		}
	}
}

/* archive shop */
.woocommerce{
	.archive-products {
		.woocommerce-result-count{
			white-space: nowrap;
		}
		.tb-start-shop-loop{
			display: inline-block;
			width: 100%;
			border-bottom: 1px solid #ebebeb;
			margin-bottom: 20px;
			.tb-view-as, .tb-shop-pagination{
				width: 25%;
				float: left;
			}
			.tb-shop-catalog-ordering{
				width: 50%;
				float: left;
				form{
					width: 100%;
					margin: 0;
					select{
						display: inline;
						width: inherit;
						padding: 0px 5px;
						height: 30px;
					}
				}
				.tb-woo-short-by, .tb-woo-sort-by{
					span{
						margin-right: 6px;
					}
					width: 65%;
					float: left;
					line-height: 28px;
				}
				.tb-woo-sort-by{
					text-align: right;
					width:35%;
					select{
						width: 58px;
						padding: 0px 5px 0px 10px;
					}
				}
			}
			.woocommerce-result-count{
				margin: 0;
				line-height: 24px;
			}
		}
		.tb-after-shop-loop{
			margin-top: -25px;
			padding-top: 13px;
			border-top: 1px solid #ebebeb;
			&.border-top{
				border-top: 1px solid #ebebeb;	
			}
			&:after {
				clear: both;
				content: "";
				display: block;
				margin-bottom: 40px;
			}
		}
		&.grid-full-width{
			.tb-view-as{
				width: 20%;
			}
			.tb-start-shop-loop .tb-shop-catalog-ordering{
				width:34%;
			}
			.tb-shop-attribute{
				width:35%;
				.widget{
					margin-bottom: -10px!important;
					&.widget_layered_nav{
						float:left;
					}
					&.widget_price_filter{
						float: right;
						min-width: 153px;
					}
				}
			}
		}
	}
	.type-product.product{
		.tb-content{
			text-align: left;
			// margin-top:18px;
			.tb-title{
				margin-bottom: 5px;
				a{
					color:#5d5d5d;
					font-size: 110%;					
					&:hover{
					color: @tb_primary_color;
					}
				}
			}
			.tb-price-rating{
				.tb-item-rating{
					.star-rating{
						float: left;
					}
					.woocommerce-review-link{
						display: block;
						margin-top: -5px;
						font-style: italic;
						color:#b6b6b6;
						font-size: 13px;
					}
				}
				.tb-product-price{
					font-size: 16px;
					color: @tb_primary_color;
					font-family: @tb_body_font;
					font-weight: 400;
					del{
						font-size: 14px;
					    color: #b1b1b1;
					    margin-right: 7px;
					}
					ins{
						text-decoration: none!important;
					}
				}
				.tb-product-no-price{
					span{
						display: inline-block;
					    width: 11px;
					    height: 11px;
					    background-color: #2e2e2e;
					    border: 1px solid #d0d0d0;
					    margin-right: 7px;
					}
					span:first-child{
						background-color: #edddd0;
					}
					span:last-child{
						background-color: #fff;
					}
				}

			}
		}
	}
	.tb-product-items{
			.tb-product-item{
				// margin-bottom: 36px;
				margin-bottom: 6px;
				&.tb-woo-one-column{
					text-align: left;
					margin-bottom: 5px;
					.tb-product-item-inner{
						text-align: left;
						display: inline-block;
						width: 100%;
						margin-bottom: 4px;
						.tb-title{
							color:#5d5d5d;
							font-size: 16px;							
							margin-top: 20px;							
						}
						.tb-item-image{
							width: 270px;
							float: left;
						}
						.tb-item-content-info{
							width: ~"calc( 100% - 300px )";
							float: left;
							margin-left: 30px;
							min-height: 270px;
							position: relative;
							.tb-title{								
								a{
									font-size: 15px;
									color: #616161;									
									&:hover{
										color: @tb_primary_color;
									}
								}
							}
							.tb-product-content{
								margin:10px 0 20px;
							}
							.tb-product-btn{
								position: absolute;
								bottom: 0;
								a{
									.woocommerce .single_add_to_cart_button;
									float: left;
									&.btn-add-to-cart.added{
										display: none;
									}
								}
								.clear{
									display: none;
								}
								.yith-wcwl-add-to-wishlist {
									float: left;
									.single-product .ro-product-wrapper .ro-product-information .single_simple_wrap .ro-action .yith-wcwl-add-to-wishlist;
								}
								.compare-button {
									float: left;
									.single-product .ro-product-wrapper .ro-product-information .single_simple_wrap .ro-action .compare-button;
								}
								.yith-wcqv-button{
									.woocommerce .tb-product-item-inner .tb-image .yith-wcqv-button;
									border-color: #393939;
									&:hover{
										border-color: @tb_primary_color;
									}
								}
							}
							.tb-product-wrap-price-rating{
								.star-rating, .woocommerce-review-link{
									float: left;
									font-size: 12px;
									color: #b1b1b1;
								}
								.woocommerce-review-link{
									color: #a0a0a0;
									margin-left: 15px;
								}
								.woocommerce-product-rating{
									margin: 9px 0 -2px;
								}
								.ro-rate{
									margin:5px 0 0;
								}
								.star-rating{
									margin-top: 5px;
									color: @tb_primary_color;
								}
								.tb-product-price{
									margin-top: 10px;
									display: block;
									.amount{
										font-size: 18px;
										color: #353535;
									}
									del{
										margin-right: 6px;
										.amount{
											font-size: 16px;
											line-height: 24px;
											color: #b1b1b1;
										}
									}
									ins{
										text-decoration: none;
									}
								}
							}
						}
					}
				}
			}
		}
	.tb-view-as{
		span{
			margin-right: 10px;
		}
		.tb_action_grid{
			margin-right: 6px;
		}
		.tb_action{
			color: #cdcdcd;
			border:1px solid #ebebeb;
			height: 30px;
			width: 30px;
			line-height: 30px;
			display: inline-block;
			text-align: center;
			font-size: 14px;
			&.active{
				color: @tb_primary_color;
			}
		}
	}
}
@media (max-width: 992px) {
	.woocommerce .archive-products .tb-start-shop-loop .tb-view-as, 
	.woocommerce .archive-products .tb-start-shop-loop .tb-shop-pagination {
		width: 50%;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.woocommerce .archive-products {
		.products .tb-product-item.tb-woo-one-column .tb-product-item-inner .tb-item-content-info .tb-product-content {
			max-height: 92px;
			overflow: hidden;
		}
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.woocommerce .archive-products {
		.widget.woocommerce.widget_price_filter .price_slider_wrapper .price_slider_amount .price_label > span {
			width: 70px;
			&.to {
				left: 100px;
			}
		}
		.tb-sideabr-feature-box .tb-info {
			min-width: 180px;
		}
		.products .tb-product-item {
			.tb-product-item-inner {
				&:hover {
					.tb-product-btn {
						.yith-wcwl-add-to-wishlist {
							margin-right: 0;
						}
						.compare-button {
							margin-left: 2px;
						}
					}
				}
			}
			&.tb-woo-one-column {
				.tb-product-item-inner {
					.tb-item-image {
						width: 170px;
					}
					.tb-item-content-info {
						width: ~"calc( 100% - 200px )";
						min-height: 170px;
						.tb-product-title {
							margin-top: 0;
						}
						.tb-product-content {
							display: none
						}
						.tb-product-btn {
							.yith-wcwl-add-to-wishlist, .compare-button, .btn-envelope {
								margin-left: 4px;
							}
						}
					}
				}
			}
		}
	}
}
@media (max-width: 767px) {
	.woocommerce .archive-products {
		.widget-area {
			// max-width: 370px;
			margin: 0 auto;
			.tb-sideabr-feature-box .tb-info {
				min-width: 310px;
			}
		}
		.products .tb-product-item.tb-woo-one-column .tb-product-item-inner .tb-item-content-info .tb-product-content {
			max-height: 92px;
			overflow: hidden;
		}
	}
}
@media (max-width: 640px) {
	.woocommerce .archive-products {
		.products {
			// max-width: 370px;
			margin: 0 auto;
			.tb-product-item {
				&.tb-woo-one-column {
					.tb-product-item-inner {
						.tb-item-image {
							float: none;
							width: auto;
							margin-bottom: 30px;
						}
						.tb-item-content-info {
							width: 100%;
							min-height: auto;
							margin-left: 0;
							padding-bottom: 30px;
							.tb-product-title {
								margin-top: 0;
							}
							.tb-product-btn {
								.yith-wcwl-add-to-wishlist, .compare-button, .btn-envelope {
									margin-left: 4px;
								}
							}
						}
					}
				}
			}
		}
	}
}

.woocommerce div.product div.woocommerce-tabs ul.tabs li{
	margin: 0;
	.border-radius(0);
	&:before, &:after{
		height: 0;
	}
}

.woocommerce .products .product span.onsale{ min-height: initial !important; }
.woocommerce{
	#order_review.woocommerce-checkout-review-order{
		margin-bottom: 60px;
	}	
	.woocommerce-info,
	.woocommerce-error,
	.woocommerce-message{
		border-color: @tb_primary_color;
		border-radius: 0 !important;
    	box-shadow: none !important;
		&:before{
			line-height: 0px !important;
			background-color: @tb_primary_color;
			border-radius: 0 !important;
			margin-top:13px;
		}
	}
	.woocommerce-ordering{
		select.orderby{
			box-shadow: 0 1px 3px -1px rgba(16, 16, 16, 0.1) inset;
		}
	}
	.woocommerce-pagination{
		text-align: right!important;
		ul{
			border: none !important;
			li {
				+ li{
					padding-left: 7px;
				}
				border: none !important;
				.page-numbers{  
					border: 1px solid #ebebeb;
				    color: #b7b7b7;
				    display: inline-block;
				    line-height: 30px;
					width: 30px;
					height: 30px;
					background: transparent!important;
					font-size: 12px;
					padding: 0;
					text-align: center;
				    &.current, &:hover{
					    border-color: @tb_primary_color;
					    color: @tb_primary_color;
				    }
				}
			}
		}
	}
	ul#shipping_method{
		li{
			text-indent: 0;
		}
	}
	.cart-collaterals{
		.cart_totals{
			width: inherit;
			h2{
				font-size: 24px;
				text-transform: capitalize;
			}
			table{
				border-radius: 2px !important;
				border: 1px solid #c5c5c5;
				border-bottom: none;
				width: 100%;
				text-transform: capitalize;
				tr th{
					text-align: right;
				}
				tr td{
					padding-left: 60px;
				}
				.cart-subtotal{
					th, td{
						padding-top: 25px;
						padding-bottom: 15px;
					}
					th{
						font-size: 14px;
						color: #646464;
						font-weight: normal;
						text-transform: capitalize;
					}
					td{
						font-size: 15px;
						color: #646464;
						font-weight: normal;
					}
				}
				.order-total{
					th, td{
						padding-top: 20px;
						padding-bottom: 20px;
					}
					th{
						font-size: 20px;
						color: #272727;
						font-weight: normal;
						text-transform: capitalize;
					}
					td{
						font-size: 18px;
						color: #484848;
						font-weight: normal;
						.amount{
							font-weight: normal;
						}
					}
				}
			}
			.return-to-shop{
				float: left;
			}
			.checkout-button{
				float: right;
				background-color: transparent;
				border: 1px solid #c5c5c5;
				border-radius: 0;
				font-size: 13px;
				color: #474747;
				display: inline-block;
				outline: medium none;
				text-align: center;
				width:45%;
				max-width: 180px;
				text-align: center;
				text-transform: capitalize;
				font-weight: normal;
				&:hover{
					background-color: @tb_primary_color;
					border-color: @tb_primary_color;
					color: #fff;
				}
			}
		}
		.woocommerce-shipping-calculator{
			button{
				background: none;
				box-shadow: none;
				color: #444444;
				border: 1px solid #444444; 
				font-weight: 600;
				text-shadow: none;
				display: inline-block !important;
				width: auto;
				margin-top: 5px;
    			padding: 10px;
				border-radius: 0px !important;
				-webki-border-radius: 0px !important;
				&:hover{
					background: @tb_primary_color;
					border-color: @tb_primary_color;
					color: #ffffff;
				}
			}
		}
		a.shipping-calculator-button{
			font-size: 13px;
			&:after{
				content: "" !important;
    			font-family: FontAwesome !important;
    			font-size: 8px;
    			font-style: normal;
    			font-weight: normal;
    			text-decoration: inherit;
			}
		}
	}
	.checkout{
		#customer_details{
			margin-bottom: 60px;
			.woocommerce-billing-fields, .woocommerce-shipping-fields{
				h3{
					font-weight: 600;
					text-transform: capitalize;
				}
				.select2-container .select2-choice{
					border-radius: 0px !important;
					-webkit-border-radius: 0px !important;
				}
			}
		}
		h3{
			text-transform: capitalize;
		}
		input#place_order{
			background: none;
			box-shadow: none;
			color: #444444;
			border: 1px solid #444444; 
			font-weight: 600;
			text-shadow: none;
			display: inline-block !important;
			width: auto;
			margin-top: 5px;
			padding: 9px 39px;
			border-radius: 0px !important;
					-webkit-border-radius: 0px !important;
			&:hover{
				color: #ffffff;
				background: @tb_primary_color; 
				border: 1px solid @tb_primary_color; 
			}
		}
	}
	form.login, form.checkout_coupon {
		input[type="submit"]{
			display: inline-block !important;			
			margin-top: 5px;
    		padding: 9px 39px;
			-webkit-border-radius: 0;
			-moz-border-radius: 0;
			border-radius: 0;
			&:hover{
				background: @tb_primary_color;
				color: @light-color;
			}
		}
	}
	.lost_password a {
		color: @dark-color;
		&:hover{
			color: @tb_primary_color;
		}		
	}
	.return-to-shop{
		width:45%;
		max-width: 180px;
		a{
			&.button{
				background-color: transparent;
				border: 1px solid #c5c5c5;
				border-radius: 0;
				color: #474747;
				display: inline-block;
				outline: medium none;
				text-align: center;
				text-transform: capitalize;
				font-weight: normal;
				display: block;
				height: 40px;
				line-height: 22px;
				&:hover{
					background-color: @tb_primary_color;
					border-color: @tb_primary_color;
					color: #fff;
				}
			}
		}
	}
}

// .our-best-product {
// 	.woocommerce{
// 		.row{
// 			margin: 0;
// 		}
// 		.products{
// 			.tb-product-items{
// 				.tb-product-item{
// 					padding: 0;
// 					.tb-product-item-inner{	
// 						.tb-item-content-info{
// 							position: absolute;
// 							width: 90%;
// 							height: 90%;
// 							left: 5%;
// 							top: 5%;
// 							background: rgba(255,255,255,.9);
// 							opacity: 0;
// 							z-index: 8;
// 							.transition(all 0.4s ease 0s);
// 							.tb-item-content-info-inner{
// 								width: 100%;
// 								left: 50%;
// 								position: absolute;
// 								top: 50%;
// 								.transform( translate(-50%,-50%) );
// 								.tb-product-title{
// 									.transition(all 0.4s ease 0s);
// 									font-size: 14px;
// 									line-height: 17px;
// 									color: #747474;
// 									text-transform: capitalize;
// 									&:hover {
// 										color: @tb_primary_color;
// 									}
// 								}
// 								.tb-product-price {
// 									.transition(all 0.4s ease 0s);
// 									font-size: 14px;
// 									font-weight: 400;
// 									line-height: 36px;
// 									color: #484848;
// 									> del {
// 										position: relative;
// 										font-size: 12px;
// 										line-height: 12px;
// 										color: #c5c5c5;
// 										text-decoration: none;
// 										margin-right: 10px;
// 										&:before {
// 											border-top: 1px solid #c5c5c5;
// 											content: "";
// 											position: absolute;
// 											width: 120%;
// 											top: 10px;
// 											left: -3px;
// 											-webkit-transform: rotate(-15deg);
// 											-moz-transform: rotate(-15deg);
// 											-o-transform: rotate(-15deg);
// 											-ms-transform: rotate(-15deg);
// 											transform: rotate(-15deg);
// 										}
// 									}
// 								}
// 								.tb-item-rating{
// 									margin-bottom: 15px;
// 								}
// 								.tb-product-btn {
// 									> div.clear {
// 										display: none;
// 									}
// 									.yith-wcqv-button {
// 										.transition(all 0.4s ease 0s);
// 										position: relative;
// 										display: inline-block;
// 										width: 40px;
// 										height: 40px;
// 										color: #757575;
// 										background: #ffffff;
// 										margin: 10px 2px;
// 										padding: 0;
// 										border: 1px solid #dcdcdc;
// 										-webkit-border-radius: 40px;
// 										-moz-border-radius: 40px;
// 										border-radius: 40px;
// 										overflow: hidden;
// 										> i {
// 											position: absolute;
// 											top: 50%;
// 											left: 50%;
// 											-webkit-transform: translateX(-50%) translateY(-50%);
// 											-moz-transform: translateX(-50%) translateY(-50%);
// 											-o-transform: translateX(-50%) translateY(-50%);
// 											-ms-transform: translateX(-50%) translateY(-50%);
// 											transform: translateX(-50%) translateY(-50%);
// 										}
// 										&:hover {
// 											color: #ffffff;
// 											background: @tb_primary_color;
// 											border-color: none;
// 										}
// 									}
// 									.yith-wcwl-add-to-wishlist {
// 										.transition(all 0.4s ease 0s);
// 										position: relative;
// 										display: inline-block;
// 										width: 40px;
// 										height: 40px;
// 										background: #ffffff;
// 										padding: 0;
// 										margin: 10px 2px;
// 										border: 1px solid #dcdcdc;
// 										-webkit-border-radius: 40px;
// 										-moz-border-radius: 40px;
// 										border-radius: 40px;
// 										overflow: hidden;
// 										.add_to_wishlist {
// 											position: absolute;
// 											top: 0;
// 											left: 0;
// 											width: 100%;
// 											height: 100%;
// 											opacity: 0;
// 										}
// 										.yith-wcwl-add-button {
// 											&:before {
// 												.transition(all 0.4s ease 0s);
// 												font-family: FontAwesome;
// 												content: "\f004";
// 												color: #757575;
// 												position: absolute;
// 												top: 50%;
// 												left: 50%;
// 												-webkit-transform: translateX(-50%) translateY(-50%);
// 												-moz-transform: translateX(-50%) translateY(-50%);
// 												-o-transform: translateX(-50%) translateY(-50%);
// 												-ms-transform: translateX(-50%) translateY(-50%);
// 												transform: translateX(-50%) translateY(-50%);
// 											}
// 										}
// 										.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
// 										.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
// 											> span {
// 												opacity: 0;
// 											}
// 											> a {
// 												position: absolute;
// 												top: 0;
// 												left: 0;
// 												width: 100%;
// 												height: 100%;
// 												opacity: 0;
// 											}
// 											&:before {
// 												.transition(all 0.4s ease 0s);
// 												font-family: FontAwesome;
// 												content: "\f064";
// 												color: #757575;
// 												position: absolute;
// 												top: 50%;
// 												left: 50%;
// 												-webkit-transform: translateX(-50%) translateY(-50%);
// 												-moz-transform: translateX(-50%) translateY(-50%);
// 												-o-transform: translateX(-50%) translateY(-50%);
// 												-ms-transform: translateX(-50%) translateY(-50%);
// 												transform: translateX(-50%) translateY(-50%);
// 											}
// 										}
										
// 										&:hover {
// 											background: @tb_primary_color;
// 											border-color: none;
// 											.yith-wcwl-add-button,
// 											.yith-wcwl-wishlistaddedbrowse, .yith-wcwl-wishlistaddedbrowse.show,
// 											.yith-wcwl-wishlistexistsbrowse , .yith-wcwl-wishlistexistsbrowse.show {
// 												&:before {
// 													color: #ffffff;
// 												}
// 											}
// 										}
// 									}
// 									.compare-button {
// 										.transition(all 0.4s ease 0s);
// 										position: relative;
// 										display: inline-block;
// 										width: 40px;
// 										height: 40px;
// 										background: #ffffff;
// 										padding: 0;
// 										margin: 10px 2px;
// 										border: 1px solid #dcdcdc;
// 										-webkit-border-radius: 40px;
// 										-moz-border-radius: 40px;
// 										border-radius: 40px;
// 										overflow: hidden;
// 										.compare {
// 											position: absolute;
// 											top: 0;
// 											left: 0;
// 											width: 100%;
// 											height: 100%;
// 											opacity: 0;
// 										}
// 										&:before {
// 											.transition(all 0.4s ease 0s);
// 											font-family: FontAwesome;
// 											content: "\f079";
// 											color: #757575;
// 											position: absolute;
// 											top: 50%;
// 											left: 50%;
// 											-webkit-transform: translateX(-50%) translateY(-50%);
// 											-moz-transform: translateX(-50%) translateY(-50%);
// 											-o-transform: translateX(-50%) translateY(-50%);
// 											-ms-transform: translateX(-50%) translateY(-50%);
// 											transform: translateX(-50%) translateY(-50%);
// 										}
// 										&:hover {
// 											background: @tb_primary_color;
// 											border-color: none;
// 											&:before {
// 												color: #ffffff;
// 											}
// 										}
// 									}
// 									.btn-add-to-cart{
// 										.transition(all 0.4s ease 0s);
// 										font-size: 12px;
// 										font-weight: 400;
// 										display: block;
// 										max-width: 130px;
// 										margin: 0 auto;
// 										color: #747474;
// 										background-color: #ffffff;
// 										padding: 7px 32px;
// 										text-align: center;
// 										text-transform: capitalize;
// 										border: 1px solid #dcdcdc;
// 										-webkit-border-radius: 30px;
// 										-moz-border-radius: 30px;
// 										border-radius: 30px;
// 										&:hover{
// 											color: #ffffff;
// 											background: @tb_primary_color;
// 											border-color: @tb_primary_color;
// 										}
// 									}
// 									.added_to_cart {
// 										position: absolute;
// 									    left: 100%;
// 									    top: 0;
// 									    height: 40px;
// 									    line-height: 40px;
// 									    width: 126px;
// 									    text-align: center;
// 									    background-color: #000;
// 									    color: #fff;
// 									    padding: 0;
// 									}
// 								}
// 								a {
// 									&:hover{
// 										h4 {
// 											color: @tb_primary_color;
// 										}
// 									}
// 									h4 {
// 										letter-spacing: 3px;
// 										text-transform: capitalize;
// 										margin-bottom: 25px;
// 										padding-bottom: 20px;
// 										position: relative;
// 										.transition(all 0.4s ease 0s);
// 										&:after{
// 											content: "";
// 											position: absolute;
// 											left: 50%;
// 											bottom: 0;
// 											border-bottom: 1px solid @tb_heading_color;
// 											width: 30px;
// 											.transform(translateX(-50%));
// 										}
// 									}
// 								}
// 							}
// 							.btn-addtocart{
// 								margin-top: 20px;
// 								text-transform: capitalize;
// 								font-weight: 700;
// 								padding: 9px 39px;
// 								font-size: 14px;
// 								white-space: nowrap;
// 								background: #ffffff;
// 								&:hover{
// 									background: @tb_primary_color;
// 								}
// 							}
// 						}
// 						&:hover{
// 							.tb-item-content-info{
// 								opacity: 1;
// 							}
// 						}
// 					}
// 				}
// 			}
// 		}
// 	}
// }

@media (max-width: 991px) {
	.our-best-product {
		.vc_empty_space {
			height: 0 !important;
		}
		.products {
			margin-bottom: 30px !important;
			.tb-product-items {
				// max-width: 370px;
				margin: auto;
			}
		}
	}
}

/* widget_shopping_cart */
.widget.woocommerce{
	margin-bottom: 20px;
	&#woocommerce_product_categories-3,&#woocommerce_layered_nav-4,&#woocommerce_price_filter-3,&#cayto_woocommerce_layered_nav-2{
		margin-bottom: 15px;
		&:before {
			display: none;
		}
		.wg-title{
			font-size: 16px;
			line-height: 18px;
			&:after{
				display: none;
			}
		}
		> ul{
			margin-top: 4px;
		}
	}
	&#cayto_woocommerce_layered_nav-2{
		margin-bottom: 30px;
	}
	&#woocommerce_product_categories-3, &.widget_layered_nav{
		ul{
			li{
				position: relative;
				padding: 0;
				border: none !important;
				> a {
						.transition(all 0.4s ease 0s);
						font-size: 13px;
						font-weight: 400;
						line-height: 32px;
						color: #5f5f5f;
						display: inline-block;
						padding-left: 20px;
					&:hover {
						color: @tb_primary_color;
					}
				}
				&:not(.color-attribute){
					> a {
						&:before {
							.transition(all 0.4s ease 0s);
							font-family: FontAwesome;
							color: @tb_primary_color;
							content: "\f00c";
							position: absolute;
							top: 50%;
							left: 0;
							opacity: 0;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							transform: translateY(-50%);
						}
						&:hover {
							color: @tb_primary_color;
							&:before {
								opacity: 1;
							}
						}
					}
				}
				.count {
					color: #cccccc;
				}
				&:before,&.color-attribute a:before {
					content: "";
					position: absolute;
					top: 50%;
					left: 0;
					width: 10px;
					height: 10px;
					border: 1px solid #cccccc;
					-webkit-transform: translateY(-50%);
					-moz-transform: translateY(-50%);
					-o-transform: translateY(-50%);
					-ms-transform: translateY(-50%);
					transform: translateY(-50%);
				}
				&.current-cat,&.chosen {
					> a {
						color: @tb_primary_color;
						&:before {
							opacity: 1;
						}
					}
				}
			}
		}
	}
	&.widget_layered_nav{
		small{
			display: block;
			margin: 12px 0 3px;
		}
		ul{
			margin-top: 0;
		}
	}
	&.widget_price_filter{
		.wg-title {
			margin-bottom: 19px;
		}
		.price_slider_wrapper{
			margin-bottom: 12px;
			.ui-slider{
				.border-radius(0);
				margin-right: 0;
				background: none repeat scroll 0 0 #eaeaea !important;
				box-shadow: 0 0 1px 0 rgba(16, 16, 16, 0.3) inset;
				margin-bottom: 15px;
				.ui-slider-handle{
					background: @tb_primary_color;
					top: -2px;
				    border: none !important;
				    box-shadow: none !important;
				    border-radius: 0;
				    width: 10px;
				    height: 10px;
					&:last-child{
						margin-left: -10px;
					}
				}
				.ui-slider-range{
					background: #2f2f2f;
					box-shadow: none !important;
				}
			}
			.price_slider_amount {
				position: relative;
				font-size: 13px; 
				line-height: 18px;
				.button {
					.transition(all 0.4s ease 0s);
					position: relative;
					float: right;
					width: 30px;
					height: 30px;
					color: #9a9a9a;
					background: #ededed;
					overflow: hidden;
					.border-radius(0);
					text-indent: -9999px;
					&:before {
						text-indent: 0;
						font-family: FontAwesome;
						font-size: 11px;
						content: "\f002";
						position: absolute;
						top: 50%;
						left: 50%;
						-webkit-transform: translateX(-50%) translateY(-50%);
						transform: translateX(-50%) translateY(-50%);
					}
					&:hover {
						color: #fff;
						background: @tb_primary_color;
					}
				}
				.price_label {
					display: inline-block;
					color: #ffffff;
					float: left;
					position: relative;
					> span {
						position: absolute;
						top: 0;
						left: 0;
						width: 100px;
						height: 30px;
						color: #5f5f5f;
						line-height: 30px;
						text-align: center;
						border: 1px solid #ebebeb;
						&.to {
							left: 120px;
							&:before {
								content: "_";
								position: absolute;
								left: -16px;
								top: -7px;
							}
						}
					}
				}
			}
		}
	}
	&.widget_products,&.widget_top_rated_products {
		> ul {
			margin-top: 15px;
			> li {
				position: relative;
				min-height: 90px;
				margin-bottom: 25px;
				padding: 0 0 0 110px;
				border: none;
				> a {
					.thumb-pd-effect;
					&:before{
						width: 80px;
			        	left: 5px;
			        }
			        &:after{
						width: 90px;
			        }
					.transition(all 0.4s ease 0s);
					font-size: 14px;
					font-weight: 400;
					line-height: 18px;
					text-transform: capitalize;
					margin: 10px 0 5px;
					> img {
						position: absolute;
						top: 0;
						left: 0;
						width: 90px;
						margin: 0;
					}
				}
				.amount {
					font-size: 14px;
					line-height: 18px;
					// color: #353535;
					color:@tb_primary_color;
					display: inline-block;
					margin-top: 6px;
				}
				del{
					text-decoration: none;
					.amount{
						text-decoration: line-through;
						font-size: 13px;
						color: #b1b1b1;
					}
				}
				&:first-child {
					margin-top: 0px;
				}
				&:hover{
					> a{
						.thumb-pd-hover-effect;
					}
				}
			}
		}
	}
	&.widget_product_search{
		#searchform{
			position: relative;
			label, input[type="submit"]{
				display: none;
			}
			input{
				margin-bottom: 0;
			}
			&:after {
    			content: "";
    			font-family: FontAwesome;
    			font-size: 18px;
    			font-style: normal;
    			font-weight: normal;
    			position: absolute;
    			right: 10px;
    			text-decoration: inherit;
    			top: 50%;
   				transform: translateY(-50%);
    			-webkit-transform: translateY(-50%);
			}
		}
	}
	&.widget_product_tag_cloud{
		.tagcloud{
			margin-top:20px;
		}
		a{
			border: 1px solid #fff;
		    display: inline-block;
		    line-height: normal;
		    margin-right: 12px;
		    padding: 5px 12px 7px;
		    font-size: 13px!important;
		    color: #fff;
		    margin-bottom: 14px;
    		&:hover{
    			background-color: @tb_primary_color;
    			border-color:@tb_primary_color;
    		}
		}
	}
}

//custom shopby
#text-2{
	margin-bottom: 19px!important;
}
#woocommerce_price_filter-3{
	margin-bottom: 18px;
}

.tb-shop-attribute{
	.wg-title{
		float: left;
    	display: inline-block;
    	font-size: 13px;
	}
	select{
		float: left;
	    width: 104px;
	    margin-left: 11px;
	    padding: 0 5px;
	    height: 30px;
	}
}


.widget.yith-woocompare-widget {
	> ul {
		margin-bottom: 15px !important;
		border-bottom: 1px solid #ebebeb;
		> li {
			position: relative;
			padding: 0 !important;
			border: none !important;
			> a {
				font-size: 13px;
				font-weight: 400;
				line-height: 32px;
				&.remove {
					.transition(all 0.4s ease 0s);
					color: @tb_primary_color !important;
					&:hover {
						color: #ffffff !important;
						background: @tb_primary_color;
					}
				}
			}
			&:last-child{
				margin-bottom: 15px;
			}
		}
	}
	> a {
		.transition(all 0.4s ease 0s);
		font-size: 13px;
		font-weight: 400;
		color: #747474;
		text-transform: capitalize;
		margin-bottom: 10px;
		.border-radius(0);
		&:hover {
			color: @tb_primary_color;
		}
		&.compare {
			.transition(all 0.4s ease 0s);
			background: transparent;
			border: 1px solid #ebebeb;
			&:hover {
				color: #ffffff;
				background: @tb_primary_color;
				border-color: @tb_primary_color;
			}
		}
	}
}
.tb-sideabr-feature-box {
	position: relative;
	> img {
		width: 100%;
		height: auto;
	}
	.tb-info {
		position: absolute;
		bottom: 30px;
		left: 50%;
		min-width: 230px;
		text-align: center;
		background: rgba(255, 255, 255, 0.8);
		padding: 30px 10px;
		-webit-transform: translateX(-50%);
		-moz-transform: translateX(-50%);
		-o-transform: translateX(-50%);
		-ms-transform: translateX(-50%);
		transform: translateX(-50%);
		> h5 {
			font-size: 14px;
			font-weight: 300;
			line-height: 33px;
			letter-spacing: 0.15em;
			color: #3a3a3a;
			margin: 0;
		}
		> h3 {
			font-size: 23px;
			font-weight: 300;
			line-height: 33px;
			color: #3a3a3a;
			letter-spacing: 0.15em;
			margin: 0 0 20px;
		}
		> h6 {
			margin: 0;
			> a {
				font-size: 13px;
				font-weight: 300;
				line-height: 27px;
				letter-spacing: 0.15em;
				color: #9c9c9c;
				padding-top: 5px;
				border-top: 1px solid #9c9c9c;
			}
		}
	}
}
.woocommerce,.woocommerce-page{
	#content{
		.quantity{
			input.qty{
				height: 40px !important;
				margin: 0;
			}
			.minus,.plus{
				height: 18px !important;
			}
		}
	}
}

#comments .commentlist .avatar{
	border: medium none !important;
    box-shadow: none !important;
    height: auto !important;
    margin: 0 !important;
    outline: medium none !important;
    padding: 0 !important;
    width: 32px !important;
}
/* mini cart */
.tb_right_fx_wrap{ 
	background: transparent !important;
	.widget_mini_cart_wrap{
		.header{
			padding-right: 20px;
			transition: .3s;
			-webkit-transition: .3s;
			a{
				position: relative;
				display: inline-block;
				color: #333;
				i{
					font-size: 24px;
				}
				span{
					color: #FFF;
					background: @tb_primary_color;
					border-radius: 2px;
					display: inline-block;
					font-size: 9px;
					height: 17px;
					left: -6px;
					line-height: 17px;
					position: absolute;
					text-align: center;
					top: -16px;
					width: 17px;
					box-shadow: 0 0 2px 0 rgba(16,16,16,.2);
				}
			}
		}
		
		.shopping_cart_dropdown{
			display: none;
			position: fixed;
			/* left: 0; */
			top: 0;
			width: 100%;
			height: 100%;
			background: rgba(16, 16, 16, .9);
			color: #FFF;
			&.in{
				.shopping_cart_dropdown_inner{
					animation: cartIn .6s ease;
					-webkit-animation: cartIn .6s ease;
				}
			}
			h3{
				color: #FFF;
			}
		}
	}
}
.ro-mini-cart-mobile {
	position: absolute;
	top: 20px;
	right: 60px;
	a{
		position: relative;
		display: inline-block;
		color: #333;
		i{
			font-size: 18px;
		}
		span{
			color: #FFF;
			background: @tb_primary_color;
			-webkit-border-radius: 50%;
			-moz-border-radius: 50%;
			border-radius: 50%;
			display: inline-block;
			font-size: 9px;
			height: 17px;
			left: 10px;
			line-height: 17px;
			position: absolute;
			text-align: center;
			top: -8px;
			width: 17px;
			box-shadow: 0 0 2px 0 rgba(16,16,16,.2);
		}
	}
}
.woocommerce-cart table.cart {
	
	th {
		color: #333;
	}
	.product-thumbnail {
		width: 200px;
		img {
			width: 150px;
		}
	}
	
	.product-name a {
		color: #444;
		&:hover{
			color: @tb_primary_color;
		}
	}
	.product-remove a {
		color: #444 !important;
		&:hover{
			color: @tb_primary_color !important;
			background: none;
		}
	}
}
@keyframes rotateEff{
	from{ transform: rotate(0deg); }
	to{ transform: rotate(360deg); }
}
@-webkit-keyframes rotateEff{
	from{ -webkit-transform: rotate(0deg); }
	to{ -webkit-transform: rotate(360deg); }
}
@keyframes cartIn{
	from{ opacity: 0; transform: scale(.9); }
	to{ opacity: 1; transform: scale(1); }
}
@-webkit-keyframes cartIn{
	from{ opacity: 0; -webkit-transform: scale(.9); }
	to{ opacity: 1; -webkit-transform: scale(1); }
}
.widget_mini_cart_wrap.tb-cart-empty{
	.cart_total{
		display: none;
	}
	.shop_table.cart, .mini-cart-footer{
		display: none !important;
	}
}

/* Tabs */
.tb-tab-container{
	border: 1px solid #efefef;
	display: inline-block;
	width: 100%;
	.etabs { 
		margin: 15px 0 0;
		padding: 0; 
		float: left;
		width: 35%;
		.tab { 
			display: inline-block;
			width: 100%;
			background: #fdfdfd; 
			border-top: 1px solid #efefef;
			&:last-child{
				border-bottom: 1px solid #efefef;
			}
			a { 
				font-size: 13px;
				color: #272727;
				text-transform: capitalize;
				display: inline-block;
				width: 100%;
				padding: 11px 20px; 
				outline: none; 
				&.active{
					background: @tb_primary_color;
					color: #fff;
				}
			}
		}
	}
	.tb-data-tab{
		float: left;
		width: 65%;
		border-left: 1px solid #efefef;
		padding: 15px 40px;
		min-height: 220px;
		.coupon{
			>label{
				margin-bottom: 5px;
			}
		}
		form{
			input[type="text"],select{
				font-size: 13px;
				height: 26px;
				line-height: 0!important;
			}
		}
	}
	button[type="submit"], input[type="submit"]{
		background-color: transparent;
		border: 1px solid #c5c5c5;
		border-radius: 0;
		color: #474747;
		display: inline-block;
		outline: medium none;
		height: 32px;
		padding:0 22px;
		text-align: center;
		text-transform: capitalize;
		font-weight: normal;
		&:hover{
			background-color: @tb_primary_color;
			border-color: @tb_primary_color;
			color: #fff;
		}
	}
	.panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }
}

.woocommerce-shipping-calculator{
	.tb-form-calculator-title{
		margin-bottom: 10px;
		color:#555;
	}
	.form-shipping-calculator{
		button[type="submit"]{
			margin-left: 138px;
		}
		p{
			display: inline-block;
			width: 100%;
			margin-bottom: 2px!important;
			label{
				width: 135px;
				float: left;
				color: #666666;
				font-size: 12px;
				font-weight: normal;
				.required{
					color: @tb_primary_color;
				}
			}
			input, select{
				float: left;
				width: ~"calc( 100% - 135px )" !important;
				min-width: 110px;
                height: 40px !important;
			}
		}
	}
}
// fix product tab
.vc_tta-tabs-list{
	z-index: -1;
}